Repository devopsacademyau/academy, changes with the labels that .github/labeler.yml gives for each.
All labels: class01, class02, class03, class04, class05, class06, class07, class08, ready to review

.github/labeler.yml:

class01:
    - classes/01class/**/*

class02:
    - classes/02class/**/*

class03:
    - classes/03class/**/*

class04:
    - classes/04class/**/*

class05:
    - classes/05class/**/*

class06:
    - classes/06class/**/*

class07:
    - classes/07class/**/*

class08:
    - classes/08class/**/*
    
ready to review:
    - classes/**/*
    - projects/**/*

using repo
  .github/workflows/content-label.yaml
Labels: none

adjusting version
  .github/workflows/content-label.yaml
Labels: none

testing regex
  .github/label-pr.yaml
Labels: none

testing regex
  .github/label-pr.yaml
Labels: none

testing regex
  .github/label-pr.yaml
Labels: none

testing regex
  .github/label-pr.yaml
Labels: none

testing regex
  .github/label-pr.yaml
Labels: none

adjusting file names
  .github/content-label.yaml
  .github/workflows/content-label.yaml
Labels: none

submit exercise c05-actions01
  classes/05class/exercises/c05-actions01/lgothelipe/README.md
  classes/05class/exercises/c05-actions01/lgothelipe/lgothelipe.yml
Labels: class05, ready to review

Update lgothelipe.yml
  classes/05class/exercises/c05-actions01/lgothelipe/lgothelipe.yml
Labels: class05, ready to review

instructions for the students application (#541)
  README.md
  applications/application.sh
Labels: none

Update README.md
  README.md
Labels: none

Update README.md (#563)
  README.md
Labels: none

testing new labeler (#548)
  .github/content-label.yaml
  .github/workflows/content-label.yaml
Labels: none

deniseddi/c04-iac02
  classes/04class/exercises/c04-iac02/deniseddi/README.md
  classes/04class/exercises/c04-iac02/deniseddi/_backend.tf
  classes/04class/exercises/c04-iac02/deniseddi/_provider.tf
  classes/04class/exercises/c04-iac02/deniseddi/main.tfvars
  classes/04class/exercises/c04-iac02/deniseddi/output.tf
  classes/04class/exercises/c04-iac02/deniseddi/output.txt
  classes/04class/exercises/c04-iac02/deniseddi/variables.tf
  classes/04class/exercises/c04-iac02/deniseddi/vpc.tf
Labels: class04, ready to review

Add files via upload
  applications/eazeved0.txt
Labels: none

Update README.md
  README.md
Labels: none

Add application file
  applications/mrcsmonteiro.txt
Labels: none

Fer's Computer Eval for DevOps Academy and fix application.sh to run on Fer's computer
  applications/application.sh
  applications/output.txt
Labels: none

Add fabioacp devops academy application file
  applications/fabioacp.txt
Labels: none

Modifications to the main README file with some new sections (#525)
  README.md
Labels: none

Add fabioacp devops academy application file
  .github/content-label.yaml
Labels: none

add application
  applications/output.txt
Labels: none

adding the applications folder to be ignored as well
  .github/content-label.yaml
Labels: none

class 06 lambda first commit
  classes/06class/README.md
  classes/06class/apigateway/README.md
  classes/06class/assets/apigateway.jpg
  classes/06class/assets/basic_flow_serverless.png
  classes/06class/assets/serverless_aws_1.png
  classes/06class/assets/serverless_aws_2.png
  classes/06class/assets/serverless_lifecycle.png
  classes/06class/assets/serverless_processing_model.png
  classes/06class/dynamodb/README.md
  classes/06class/exercises/README.md
  classes/06class/exercises/c06-create-todo/ANSWER.md
  classes/06class/exercises/c06-create-todo/README.md
  classes/06class/lambda/README.md
Labels: class06, ready to review

Add API GW details
  classes/06class/apigateway/README.md
  classes/06class/apigateway/assets/api_types.png
  classes/06class/apigateway/assets/apigateway.jpg
  classes/06class/apigateway/assets/apigw_lambda_integration.png
  classes/06class/apigateway/assets/apigw_works.png
Labels: class06, ready to review

First Review Lambda
  classes/06class/lambda/README.md
  classes/06class/lambda/assets/kinesis_example.jpg
  classes/06class/lambda/assets/lambda.png
Labels: class06, ready to review

Add DynamoDB content
  classes/06class/dynamodb/README.md
  classes/06class/dynamodb/assets/ddb_indexes.png
  classes/06class/dynamodb/assets/ddb_streams.png
  classes/06class/dynamodb/assets/items_example.png
Labels: class06, ready to review

class content for kms
  classes/07class/kms/README.md
  classes/07class/kms/assets/kms-key.png
Labels: class07, ready to review

adding the applications folder to be ignored as well (#570)
  .github/content-label.yaml
Labels: none

adding content for class 07
  classes/07class/exercises/README.md
  classes/07class/ssm/README.md
Labels: class07, ready to review

Add files via upload (#565)
  applications/eazeved0.txt
Labels: none

Add fabioacp devops academy application file (#568)
  applications/fabioacp.txt
Labels: none

Add application file (#566)
  applications/mrcsmonteiro.txt
Labels: none

c05-make01
  classes/05class/exercises/c05-make01/hsy3418/Dockerfile
  classes/05class/exercises/c05-make01/hsy3418/Makefile
  classes/05class/exercises/c05-make01/hsy3418/output.md
Labels: class05, ready to review

chore(applications): add requirements output file
  applications/igorjosesantos.txt
Labels: none

chore(applications): add requirements output file
  applications/igorjosesantos.txt
Labels: none

gepifanio: output applications
  applications/gepifanio.txt
Labels: none

Add files via upload
  applications/jpirulito.txt
Labels: none

alanlima: output file for application
  applications/alanlima.txt
Labels: none
