Repository devopsacademyau/academy, changes with the labels that .github/labeler.yml gives for each.
All labels: class01, class02, class03, class04, class05, class06, class07, class08, ready to review

Class07/kms ssm (#572)
  classes/07class/kms/README.md
  classes/07class/kms/assets/kms-key.png
  classes/07class/ssm/README.md
Labels: class07, ready to review

my application
  applications/feernandobraga.txt
Labels: none

chore(applications): add requirements output file (#575)
  applications/igorjosesantos.txt
Labels: none

gepifanio: output applications (#576)
  applications/gepifanio.txt
Labels: none

Add files via upload (#577)
  applications/jpirulito.txt
Labels: none

alanlima: application
  applications/alanlima.txt
Labels: none

fidelrios: application
  applications/fidelrios.txt
Labels: none

kleferoli: application
  applications/kleferoli.txt
Labels: none

jayanath: application
  applications/jayanath.txt
Labels: none

feernandobraga: application
  applications/feernandobraga.txt
Labels: none

hsy3418/c05-3m01
  classes/05class/exercises/c05-3m01/hsy3418/.env
  classes/05class/exercises/c05-3m01/hsy3418/Dockerfile
  classes/05class/exercises/c05-3m01/hsy3418/Makefile
  classes/05class/exercises/c05-3m01/hsy3418/docker-compose.yaml
  classes/05class/exercises/c05-3m01/hsy3418/output.md
  classes/05class/exercises/c05-3m01/hsy3418/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/hsy3418/scripts/delete_bucket.sh
Labels: class05, ready to review

gpavelar :: application
  applications/gpavelar.txt
Labels: none

docker multi stage build
  classes/03class/exercises/c03-docker01/drii-cavalcanti/Dockerfile
  classes/03class/exercises/c03-docker01/drii-cavalcanti/c03-docker-e01.txt
Labels: class03, ready to review

comparing container directory to local directory
  classes/03class/exercises/c03-docker02/drii-cavalcanti/Dockerfile.v2
  classes/03class/exercises/c03-docker02/drii-cavalcanti/c03-docker02.txt
Labels: class03, ready to review

Create zarajoy.txt
  applications/zarajoy.txt
Labels: none

Create zarajoy.txt (#594)
  applications/zarajoy.txt
Labels: none

gpavelar: application (#591)
  applications/gpavelar.txt
Labels: none

Adding script and initial card
  scripts/projects/README.md
  scripts/projects/issues/task-efs.json
  scripts/projects/project.sh
Labels: none

Update README.md
  classes/07class/README.md
Labels: class07, ready to review

Requirements file
  applications/netizen89.txt
Labels: none

andreazzabr-c04-iac04
  classes/04class/exercises/c04-iac04/andreazzabr/README.md
  classes/04class/exercises/c04-iac04/andreazzabr/output.txt
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-apply.txt
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/alb/alb.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/alb/output.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/alb/variables.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/asg/asg.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/asg/userdata.sh
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/asg/variables.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/network/output.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/network/security-group.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/network/variables.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/network/vpc.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/terraform.tfvars
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/variables.tf
Labels: class04, ready to review

Update serverless exercise
  classes/06class/exercises/c06-serverless01/ANSWER.md
  classes/06class/exercises/c06-serverless01/README.md
  classes/06class/exercises/c06-serverless01/src/Makefile
  classes/06class/exercises/c06-serverless01/src/_provider.tf
  classes/06class/exercises/c06-serverless01/src/lambda.zip
  classes/06class/exercises/c06-serverless01/src/lambda_handler.py
  classes/06class/exercises/c06-serverless01/src/main.tf
  classes/06class/exercises/c06-serverless01/src/output.tf
Labels: class06, ready to review

Update exercise link
  classes/06class/exercises/README.md
  classes/06class/exercises/c06-serverless01/ANSWER.md
  classes/06class/exercises/c06-serverless01/README.md
Labels: class06, ready to review

Update exercise link
  classes/06class/exercises/c06-serverless01/ANSWER.md
Labels: class06, ready to review

Update exercise title
  classes/06class/exercises/README.md
Labels: class06, ready to review

Update classes/06class/exercises/c06-serverless01/README.md
  classes/06class/exercises/c06-serverless01/README.md
Labels: class06, ready to review

Apply suggestions from code review
  classes/06class/exercises/c06-serverless01/README.md
Labels: class06, ready to review

Fix answer title
  classes/06class/exercises/c06-serverless01/ANSWER.md
Labels: class06, ready to review

Update exercise commit lint
  classes/06class/exercises/c06-serverless01/ANSWER.md
Labels: class06, ready to review

add course requirements output file
  applications/mendoncaj.txt
Labels: none

Serverless exercise (#599)
  classes/06class/exercises/README.md
  classes/06class/exercises/c06-create-todo/README.md
  classes/06class/exercises/c06-serverless01/ANSWER.md
  classes/06class/exercises/c06-serverless01/README.md
  classes/06class/exercises/c06-serverless01/src/Makefile
  classes/06class/exercises/c06-serverless01/src/_provider.tf
  classes/06class/exercises/c06-serverless01/src/lambda.zip
  classes/06class/exercises/c06-serverless01/src/main.tf
  classes/06class/exercises/c06-serverless01/src/output.tf
Labels: class06, ready to review

application: netizen89
  applications/netizen89.txt
Labels: none

application: mendoncaj
  applications/mendoncaj.txt
Labels: none

creating basic structure with Terraform
  classes/04class/exercises/c04-iac02/drii-cavalcanti/ANSWER.md
  classes/04class/exercises/c04-iac02/drii-cavalcanti/_backend.tf
  classes/04class/exercises/c04-iac02/drii-cavalcanti/_provider.tf
  classes/04class/exercises/c04-iac02/drii-cavalcanti/main.tfvars
  classes/04class/exercises/c04-iac02/drii-cavalcanti/output.tf
  classes/04class/exercises/c04-iac02/drii-cavalcanti/output.txt
  classes/04class/exercises/c04-iac02/drii-cavalcanti/variables.tf
  classes/04class/exercises/c04-iac02/drii-cavalcanti/vpc.tf
Labels: class04, ready to review

Updated exercise
  classes/05class/exercises/c05-actions01/starkmatt/README.md
  classes/05class/exercises/c05-actions01/starkmatt/gh-actions-workflow.yaml
Labels: class05, ready to review

Updated exercises
  classes/05class/exercises/c05-actions01/starkmatt/README.md
  classes/05class/exercises/c05-actions01/starkmatt/gh-actions-workflow.yaml
Labels: class05, ready to review

Update README.md (#596)
  classes/07class/README.md
Labels: class07, ready to review

Adding script and initial card (#595)
  scripts/projects/README.md
  scripts/projects/issues/task-efs.json
  scripts/projects/project.sh
Labels: none

looking forward to the course :-)
  applications/obrientimothya.txt
Labels: none

looking forward to the course :-)
  applications/obrientimothya.txt
Labels: none

.github/labeler.yml:

class01:
    - classes/01class/**/*

class02:
    - classes/02class/**/*

class03:
    - classes/03class/**/*

class04:
    - classes/04class/**/*

class05:
    - classes/05class/**/*

class06:
    - classes/06class/**/*

class07:
    - classes/07class/**/*

class08:
    - classes/08class/**/*
    
ready to review:
    - classes/**/*
    - projects/**/*
