Repository devopsacademyau/academy, changes with the labels that .github/labeler.yml gives for each.
All labels: class01, class02, class03, class04, class05, class06, class07, class08, ready to review

Added application.sh execution results file
  applications/jayanath.txt
Labels: none

add docker-compose
  classes/05class/exercises/c05-compose01/hsy3418/Dockerfile
  classes/05class/exercises/c05-compose01/hsy3418/README.md
  classes/05class/exercises/c05-compose01/hsy3418/docker-compose.yaml
  classes/05class/exercises/c05-compose01/hsy3418/src/db_connector.php
  classes/05class/exercises/c05-compose01/hsy3418/src/index.php
Labels: class05, ready to review

c05-actions01-ga
  classes/05class/exercises/c05-actions01/hsy3418/README.md
  classes/05class/exercises/c05-actions01/hsy3418/ci.yaml
Labels: class05, ready to review

christina-roperto/c05-3m01
  classes/05class/exercises/c05-3m01/christina-roperto/.env
  classes/05class/exercises/c05-3m01/christina-roperto/Dockerfile
  classes/05class/exercises/c05-3m01/christina-roperto/README.md
  classes/05class/exercises/c05-3m01/christina-roperto/output.md
  classes/05class/exercises/c05-3m01/christina-roperto/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/christina-roperto/scripts/delete_bucket.sh
Labels: class05, ready to review

christina-roperto/c05-3m01
  classes/05class/exercises/c05-3m01/christina-roperto/Makefile
  classes/05class/exercises/c05-3m01/christina-roperto/docker-compose.yaml
Labels: class05, ready to review

Add files via upload
  applications/fidelrios.txt
Labels: none

c05-compose01
  classes/05class/exercises/c05-compose01/hsy3418/README.md
  classes/05class/exercises/c05-compose01/hsy3418/docker-compose.yaml
Labels: class05, ready to review

Kleber de Oliveira output file for application
  applications/kleferoli.txt
Labels: none

deniseddi/c04-iac3
  classes/04class/exercises/c04-iac03/deniseddi/README.md
  classes/04class/exercises/c04-iac03/deniseddi/output.txt
Labels: class04, ready to review

Content: Serverless class (#571)
  classes/06class/README.md
  classes/06class/apigateway/README.md
  classes/06class/apigateway/assets/api_types.png
  classes/06class/apigateway/assets/apigateway.jpg
  classes/06class/apigateway/assets/apigw_lambda_integration.png
  classes/06class/apigateway/assets/apigw_works.png
  classes/06class/assets/basic_flow_serverless.png
  classes/06class/assets/serverless_aws_1.png
  classes/06class/assets/serverless_aws_2.png
  classes/06class/assets/serverless_lifecycle.png
  classes/06class/assets/serverless_processing_model.png
  classes/06class/dynamodb/README.md
  classes/06class/dynamodb/assets/ddb_indexes.png
  classes/06class/dynamodb/assets/ddb_streams.png
  classes/06class/dynamodb/assets/items_example.png
  classes/06class/exercises/README.md
  classes/06class/exercises/c06-create-todo/ANSWER.md
  classes/06class/exercises/c06-create-todo/README.md
  classes/06class/lambda/README.md
  classes/06class/lambda/assets/kinesis_example.jpg
  classes/06class/lambda/assets/lambda.png
Labels: class06, ready to review

christina-roperto/c05-3m01 (#581)
  classes/05class/exercises/c05-3m01/christina-roperto/.env
  classes/05class/exercises/c05-3m01/christina-roperto/Dockerfile
  classes/05class/exercises/c05-3m01/christina-roperto/Makefile
  classes/05class/exercises/c05-3m01/christina-roperto/README.md
  classes/05class/exercises/c05-3m01/christina-roperto/docker-compose.yaml
  classes/05class/exercises/c05-3m01/christina-roperto/output.md
  classes/05class/exercises/c05-3m01/christina-roperto/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/christina-roperto/scripts/delete_bucket.sh
Labels: class05, ready to review

starkmatt/c05 3m01 (#536)
  classes/05class/exercises/c05-3m01/starkmatt/.env
  classes/05class/exercises/c05-3m01/starkmatt/Dockerfile
  classes/05class/exercises/c05-3m01/starkmatt/Makefile
  classes/05class/exercises/c05-3m01/starkmatt/README.md
  classes/05class/exercises/c05-3m01/starkmatt/docker-compose.yaml
  classes/05class/exercises/c05-3m01/starkmatt/output.md
  classes/05class/exercises/c05-3m01/starkmatt/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/starkmatt/scripts/delete_bucket.sh
Labels: class05, ready to review

lgothelipe/c05-3m01 (#529)
  classes/05class/exercises/c05-3m01/lgothelipe/.env
  classes/05class/exercises/c05-3m01/lgothelipe/Dockerfile
  classes/05class/exercises/c05-3m01/lgothelipe/Makefile
  classes/05class/exercises/c05-3m01/lgothelipe/README.md
  classes/05class/exercises/c05-3m01/lgothelipe/docker-compose.yaml
  classes/05class/exercises/c05-3m01/lgothelipe/output.md
  classes/05class/exercises/c05-3m01/lgothelipe/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/lgothelipe/scripts/delete_bucket.sh
Labels: class05, ready to review

c05-make01 (#573)
  classes/05class/exercises/c05-make01/hsy3418/Dockerfile
  classes/05class/exercises/c05-make01/hsy3418/Makefile
  classes/05class/exercises/c05-make01/hsy3418/output.md
Labels: class05, ready to review

Luizfds/c05 make01 (#558)
  classes/05class/exercises/c05-make01/luizfds/Dockerfile
  classes/05class/exercises/c05-make01/luizfds/Makefile
  classes/05class/exercises/c05-make01/luizfds/README.md
  classes/05class/exercises/c05-make01/luizfds/output.md
Labels: class05, ready to review

starkmatt/c05 make01 (#537)
  classes/05class/exercises/c05-make01/starkmatt/Dockerfile
  classes/05class/exercises/c05-make01/starkmatt/Makefile
  classes/05class/exercises/c05-make01/starkmatt/README.md
  classes/05class/exercises/c05-make01/starkmatt/output.md
Labels: class05, ready to review

submit exercise c05-make01 (#530)
  classes/05class/exercises/c05-make01/lgothelipe/Dockerfile
  classes/05class/exercises/c05-make01/lgothelipe/Makefile
  classes/05class/exercises/c05-make01/lgothelipe/README.md
  classes/05class/exercises/c05-make01/lgothelipe/output.md
Labels: class05, ready to review

Added all required files for this exercise (#560)
  classes/05class/exercises/c05-compose01/luizfds/Dockerfile
  classes/05class/exercises/c05-compose01/luizfds/README.md
  classes/05class/exercises/c05-compose01/luizfds/docker-compose.yaml
  classes/05class/exercises/c05-compose01/luizfds/src/db_connector.php
  classes/05class/exercises/c05-compose01/luizfds/src/index.php
Labels: class05, ready to review

submit exercise c05-compose01 (#528)
  classes/05class/exercises/c05-compose01/lgothelipe/Dockerfile
  classes/05class/exercises/c05-compose01/lgothelipe/README.md
  classes/05class/exercises/c05-compose01/lgothelipe/docker-compose.yaml
  classes/05class/exercises/c05-compose01/lgothelipe/src/db_connector.php
  classes/05class/exercises/c05-compose01/lgothelipe/src/index.php
Labels: class05, ready to review

starkmatt/c05 compose01 (#535)
  classes/05class/exercises/c05-compose01/starkmatt/Dockerfile
  classes/05class/exercises/c05-compose01/starkmatt/README.md
  classes/05class/exercises/c05-compose01/starkmatt/docker-compose.yaml
  classes/05class/exercises/c05-compose01/starkmatt/src/db_connector.php
  classes/05class/exercises/c05-compose01/starkmatt/src/index.php
Labels: class05, ready to review

Hsy3418/c05 compose01 (#583)
  classes/05class/exercises/c05-compose01/hsy3418/Dockerfile
  classes/05class/exercises/c05-compose01/hsy3418/README.md
  classes/05class/exercises/c05-compose01/hsy3418/docker-compose.yaml
  classes/05class/exercises/c05-compose01/hsy3418/src/db_connector.php
  classes/05class/exercises/c05-compose01/hsy3418/src/index.php
Labels: class05, ready to review

Fix wording in exercise
  classes/05class/exercises/c05-actions02/README.md
Labels: class05, ready to review

Update Commit SHA
  classes/05class/exercises/c05-actions02/ANSWER.md
Labels: class05, ready to review

Fix ex c05 actions02 description (#586)
  classes/05class/exercises/c05-actions02/ANSWER.md
  classes/05class/exercises/c05-actions02/README.md
Labels: class05, ready to review

Update classes/07class/kms/README.md
  classes/07class/kms/README.md
Labels: class07, ready to review

Update classes/07class/kms/README.md
  classes/07class/kms/README.md
Labels: class07, ready to review

Update classes/07class/kms/README.md
  classes/07class/kms/README.md
Labels: class07, ready to review

Update classes/07class/kms/README.md
  classes/07class/kms/README.md
Labels: class07, ready to review

Update classes/07class/kms/README.md
  classes/07class/kms/README.md
Labels: class07, ready to review

Update classes/07class/kms/README.md
  classes/07class/kms/README.md
Labels: class07, ready to review

Update classes/07class/kms/README.md
  classes/07class/kms/README.md
Labels: class07, ready to review

Update classes/07class/kms/README.md
  classes/07class/kms/README.md
Labels: class07, ready to review

Update classes/07class/kms/README.md
  classes/07class/kms/README.md
Labels: class07, ready to review

removing exercises
  classes/07class/exercises/README.md
Labels: class07, ready to review

submit exercise c05-actions02
  classes/05class/exercises/c05-actions02/lgothelipe/README.md
  classes/05class/exercises/c05-actions02/lgothelipe/lgothelipe-c05-actions02.yml
  classes/05class/exercises/c05-actions02/lgothelipe/v1.Dockerfile
  classes/05class/exercises/c05-actions02/lgothelipe/v2.Dockerfile
Labels: class05, ready to review

Update lgothelipe-c05-actions02.yml
  classes/05class/exercises/c05-actions02/lgothelipe/lgothelipe-c05-actions02.yml
Labels: class05, ready to review

Update README.md
  classes/05class/exercises/c05-actions02/lgothelipe/README.md
Labels: class05, ready to review

Initial exercise
  classes/06class/exercises/README.md
  classes/06class/exercises/c06-create-todo/ANSWER.md
  classes/06class/exercises/c06-create-todo/README.md
  classes/06class/exercises/c06-serverless01/ANSWER.md
  classes/06class/exercises/c06-serverless01/README.md
  classes/06class/exercises/c06-serverless01/src/lambda_handler.py
Labels: class06, ready to review

Remove space from filename, breaking Windows repo clones.
  classes/01class/exercises/c01-git04/hsy3418/c01-git04-1.txt
Labels: class01, ready to review

Remove space from filename, breaking Windows repo clones. (#588)
  classes/01class/exercises/c01-git04/hsy3418/c01-git04-1.txt
Labels: class01, ready to review

.github/labeler.yml:

class01:
    - classes/01class/**/*

class02:
    - classes/02class/**/*

class03:
    - classes/03class/**/*

class04:
    - classes/04class/**/*

class05:
    - classes/05class/**/*

class06:
    - classes/06class/**/*

class07:
    - classes/07class/**/*

class08:
    - classes/08class/**/*
    
ready to review:
    - classes/**/*
    - projects/**/*
