Repository devopsacademyau/academy, pull requests merged in 2020-02, with the labels that each got.

#54 Luizfds/c01 e01 <Update>
  classes/01class/exercises/c01-e01/luizfds/c01-e01.txt
  classes/01class/exercises/c01-e01/luizsilva/c01-e01.txt
Labels: class01

#61 gepifanio(c01-e01): aws, docker and terraform version
  classes/01class/exercises/c01-e01/gepifanio/c01-e01.txt
Labels: class01

#11 Submitting c01-e03 / c01-e04
  classes/01class/exercises/c01-e01/starkmatt/c01-e01.txt
  classes/01class/exercises/c01-e02/starkmatt/c01-e02.txt
  classes/01class/exercises/c01-e03/starkmatt/c01-c03.txt
  classes/01class/exercises/c01-e04/starkmatt/c01-e04.txt
Labels: class01

#49 adding reference link to c01e04 readme file
  classes/01class/exercises/c01-e04/README.md
Labels: class01

#48 andreazzabr c01
  classes/01class/exercises/c01-e01/andreazzabr/c01-e01.txt
  classes/01class/exercises/c01-e03/andreazzabr/c01-e03.txt
  classes/01class/exercises/c01-e04/andreazzabr/c01-e04.txt
  classes/01class/exercises/c01-git01/andreazzabr/c01-git01-1.txt
  classes/01class/exercises/c01-git01/andreazzabr/c01-git01-2.txt
  classes/01class/exercises/c01-git01/andreazzabr/c01-git01-3.txt
  classes/01class/exercises/c01-git02/andreazzabr/c01-git02-1.txt
  classes/01class/exercises/c01-git02/andreazzabr/c01-git02-2.txt
Labels: class01

#21 exec c01-e01 and c01-e03
  classes/01class/exercises/c01-e01/c01-e01.txt
  classes/01class/exercises/c01-e03/henriqueediniz/c01-e03.txt
Labels: class01

#47 Class2 - Agile101 content
  classes/01class/README.md
  classes/02class/README.md
  classes/02class/agile101/README.md
  classes/02class/agile101/assets/CumulativeFlowDiagram.svg
  classes/02class/agile101/assets/Scrum-Development team-revised.png
  classes/02class/agile101/assets/Scrum-Master-revised.png
  classes/02class/agile101/assets/Scrum-Product Owner-revised.png
  classes/02class/agile101/assets/kanban_board_example.png
  classes/02class/agile101/assets/kanban_wip.png
  classes/02class/agile101/assets/leadtimes_kanban.png
  classes/02class/agile101/assets/less.png
  classes/02class/agile101/assets/little_law.png
  classes/02class/agile101/assets/nexus.jpg
  classes/02class/agile101/assets/scrum_overview.jpg
  classes/02class/agile101/assets/walls_agile_devops.jpg
  classes/02class/agile101/assets/waterfall.png
  classes/02class/agile101/assets/waterfall_agile.gif
  docs/CODEOWNERS
Labels: class content

#51 Caio/class2
  classes/02class/README.md
  classes/02class/aws-networking/README.md
  classes/02class/aws-networking/assets/ip.png
  classes/02class/aws-networking/assets/lan-wan.png
  classes/02class/aws-networking/assets/public-private.png
  classes/02class/aws-networking/assets/vpc-peering.png
  classes/02class/aws-networking/assets/vpc-public-private.png
  classes/02class/exercises/README.md
  classes/02class/exercises/c02-network01/README.md
  classes/02class/exercises/c02-network02/README.md
  classes/02class/exercises/c02-network03/README.md
  classes/02class/exercises/c02-network04/README.md
  classes/02class/exercises/c02-network05/README.md
  classes/02class/exercises/c02-network06/README.md
  classes/02class/exercises/c02-network07/README.md
  classes/02class/exercises/c02-network08/README.md
  classes/02class/exercises/c02-network09/README.md
  classes/02class/exercises/c02-network10/README.md
  classes/02class/exercises/c02-network11/README.md
Labels: class content

#75 update READE
  README.md
Labels: documentation

#74 adding my first git exercise file
  classes/01class/exercises/c01-git01/deniseddi/c01-git01-2.txt
  classes/01class/exercises/c01-git01/deniseddi/c01-git01-3.txt
  classes/01class/exercises/c01-git01/deniseddi/c01-git01.txt
Labels: class01

#82 adding new file, exercise 04
  classes/01class/exercises/c01-e04/deniseddi/c01-e04.txt
Labels: class01

#86 Class/class02
  classes/02class/aws-networking/README.md
Labels: class content, class02

#99 deniseddi/c02-network01
  classes/02class/exercises/c02-network01/deniseddi/c02-network01.txt
Labels: class02

#113 andreazzabr-c02-network04
  classes/02class/exercises/c02-network04/andreazzabr/c02-network4.txt
Labels: class02

#112 andreazzabr-c02-network03
  classes/02class/exercises/c02-network03/andreazzabr/c02-network03.txt
Labels: class02

#94 lgothelipe/c02-network03
  classes/02class/exercises/c02-network03/lgothelipe/c02-network03.txt
Labels: class02

#93 lgothelipe/c02-network02
  classes/02class/exercises/c02-network02/lgothelipe/c02-network02.txt
Labels: class02

#102 Class02: Fix formatting. Add Spotify squad model reference
  classes/02class/agile101/README.md
Labels: class content, class02

#103 Fix exercises submission instructions
  README.md
  classes/01class/README.md
  classes/02class/README.md
  pull_request_template.md
Labels: documentation

#90 christina-roperto/c02-network01
  classes/02class/exercises/c02-network01/christina-roperto/c02-network01.txt
Labels: class02

#116 fix image url, add vpc diagram
  classes/02class/aws-networking/README.md
  classes/02class/aws-networking/assets/aws-vpc-diagram.png
Labels: bug, class content, class02

#111 luizfds/c02-network07
  classes/02class/exercises/c02-network07/luizfds/c02-network07.txt
Labels: class02

#124 fix network exercise and add a new challenge for class 02
  classes/02class/exercises/README.md
  classes/02class/exercises/c02-network01/README.md
  classes/02class/exercises/c02-network12-challenge/README.md
Labels: class content, class02

#100 christina-roperto/c02-network02
  classes/02class/exercises/c02-network02/christina-roperto/c02-network02.txt
Labels: class02

#120 christina-roperto/c02-network03
  classes/02class/exercises/c02-network03/christina-roperto/c02-network023.txt
Labels: class02

#125 luizfds/c02-network09
  classes/02class/exercises/c02-network09/luizfds/c02-network09.txt
Labels: class02

#126 luizfds/c02-network10
  classes/02class/exercises/c02-network10/luizfds/c02-network10.txt
Labels: class02

#128 luizfds/c02-network11
  classes/02class/exercises/c02-network11/luizfds/c02-network11.txt
Labels: class02

#136 adding c01-git02 files
  classes/01class/exercises/c01-git02/deniseddi/c01-git02-1.txt
  classes/01class/exercises/c01-git02/deniseddi/c01-git02-2.txt
Labels: class01

#131 C01-Git02 - Everyday questions
  classes/01class/exercises/c01-git02/Faria-Marcio/c01-git02-1.txt
  classes/01class/exercises/c01-git02/Faria-Marcio/c01-git02-2.txt
Labels: class02

#130 C01-Git01: Merging and Rebasing
  classes/01class/exercises/c01-git01/Faria-Marcio/c01-git01-1.txt
  classes/01class/exercises/c01-git01/Faria-Marcio/c01-git01-2.txt
  classes/01class/exercises/c01-git01/Faria-Marcio/c01-git01-3.txt
Labels: class01

#140 christina-roperto/c02-network04
  classes/02class/exercises/c02-network04/christina-roperto/c02-network04.txt
Labels: class02

#141 christina-roperto/c02-network05
  classes/02class/exercises/c02-network05/christina-roperto/c02-network05.txt
Labels: class02

#142 christina-roperto/c02-network06
  classes/02class/exercises/c02-network06/christina-roperto/c02-network06.txt
Labels: class02

#139 Faria marcio/c01 git04
  classes/01class/exercises/c01-git04/Faria-Marcio/c01-git04.txt
Labels: class01

#138 C01-Git03: Big file
  classes/01class/exercises/c01-git03/Faria-Marcio/c01-git03.txt
Labels: class01

#137 Starkmatt/c02 network05
  classes/02class/exercises/c02-network03/starkmatt/c02-network03.txt
  classes/02class/exercises/c02-network04/starkmatt/c02-network04.txt
  classes/02class/exercises/c02-network05/starkmatt/c02-network05.txt
Labels: class02

#133 creating VPC with a CIDR block
  classes/02class/exercises/c02-network03/drii-cavalcanti/c02-network03.txt
Labels: class02

#129 converting ip address from decimal to binary
  classes/02class/exercises/c02-network01/drii-cavalcanti/c02-network01.txt
Labels: class02

#121 Starkmatt/c02 network02
  classes/02class/exercises/c02-network01/starkmatt/c02-network01.txt
  classes/02class/exercises/c02-network02/starkmatt/c02-network02.txt
Labels: class02

#135 creating internet gateway and attaching it to a VPC
  classes/02class/exercises/c02-network05/drii-cavalcanti/c02-network05.txt
Labels: class02

#117 henriqueediniz/c02-network01
  classes/02class/exercises/c02-network01/henriqueediniz/c02-network01.txt
Labels: class02

#106 luizfds/c02-network02
  classes/02class/exercises/c02-network02/luizfds/c02-network02.txt
Labels: class02

#80 faria-marcio/c01-e04
  classes/01class/exercises/c01-e04/Faria-Marcio/c01-e04.txt
Labels: class01

#89 adding exercise c02-network01
  classes/02class/exercises/c02-network01/andreazzabr/c02-network01.txt
Labels: class02

#52 Feature/class03
  classes/03class/README.md
  classes/03class/docker/README.md
  classes/03class/docker/artifacts/Dockerfile
  classes/03class/docker/artifacts/Dockerfile.Image1
  classes/03class/docker/artifacts/Dockerfile.Image2
  classes/03class/docker/artifacts/Dockerfile.Image3
  classes/03class/docker/artifacts/c03-docker02/index.html
  classes/03class/docker/artifacts/index.html
  classes/03class/docker/assets/container01.jpg
  classes/03class/docker/assets/container02.jpg
  classes/03class/docker/assets/container03.jpg
  classes/03class/exercises/README.md
  classes/03class/exercises/c03-docker01/README.md
  classes/03class/exercises/c03-docker02/README.md
  classes/03class/exercises/c03-docker03/README.md
  classes/03class/exercises/c03-docker04/README.md
  classes/03class/exercises/c03-docker05/README.md
  classes/03class/exercises/c03-docker06/README.md
  classes/03class/exercises/c03-docker07/README.md
Labels: class content, class03

#151 Christina-roperto/c02-network03
  classes/02class/exercises/c02-network03/christina-roperto/c02-network023.txt
  classes/02class/exercises/c02-network03/christina-roperto/c02-network03.txt
Labels: class02

#150 deniseddi/ c02-network03
  classes/02class/exercises/c02-network03/deniseddi/c02-network03.txt
Labels: class02

#158 AWS VPC + subnets: C02-Network03
  classes/02class/exercises/c02-network03/Faria-Marcio/c02-network03.txt
Labels: class02

#155 Subnetting: C02-Network02
  classes/02class/exercises/c02-network02/Faria-Marcio/c02-network02.txt
Labels: class02

#149 deniseddi c02-network02
  classes/02class/exercises/c02-network02/deniseddi/c02-network02.txt
Labels: class02

#132 breaking CIDR blocks into four subnets
  classes/02class/exercises/c02-network02/drii-cavalcanti/c02-network02.txt
Labels: class02

#148 andreazzabr/c02-network09
  classes/02class/exercises/c02-network09/andreazzabr/C02-network09.txt
Labels: class02

#152 christina-roperto/c02-network07
  classes/02class/exercises/c02-network07/christina-roperto/c02-network07.txt
Labels: class02

#160 deniseddi/c02-network06
  classes/02class/exercises/c02-network06/deniseddi/c02-network06.txt
Labels: class02

#145 andreazzabr/c02-network06
  classes/02class/exercises/c02-network06/c02-network06.txt
Labels: class02

#153 christina-roperto/c02-network08
  classes/02class/exercises/c02-network08/christina-roperto/c02-network08.txt
Labels: class02

#162 NAT Gateway (NGW): c02-network06
  classes/02class/exercises/c02-network06/Faria-Marcio/c02-network06.txt
Labels: class02

#156 deniseddi/c02-network04
  classes/02class/exercises/c02-network04/deniseddi/c02-network4.txt
Labels: class02

#157 deniseddi/c02-network05
  classes/02class/exercises/c02-network05/deniseddi/c02-network05.txt
Labels: class02

#144 andreazzabr/c02-network05
  classes/02class/exercises/c02-network05/andreazzabr/C02-network05.txt
Labels: class02

#159 AWS VPC + subnets: C02-Network04
  classes/02class/exercises/c02-network04/Faria-Marcio/c02-network04.txt
Labels: class02

#191 carineoliveira/c01-git04
  classes/01class/exercises/c01-git04/carineoliveira/c01-git04.txt
Labels: class01

#189 carineoliveira/c01-git03
  classes/01class/exercises/c01-git03/carineoliveira/c01-git03.txt
Labels: class01

#182 carineoliveira/c01 git01
  classes/01class/exercises/c01-git01/carineoliveira/c01-git01-1.txt
  classes/01class/exercises/c01-git01/carineoliveira/c01-git01-2.txt
  classes/01class/exercises/c01-git01/carineoliveira/c01-git01-3.txt
Labels: class01

#181 class 01 exercise 04
  classes/01class/exercises/c01-e04/carineoliveira/c01-e04.txt
Labels: class01

#194 Henriqueediniz/c02 network03
  classes/02class/exercises/c02-network03/henriqueediniz/c02-network03.txt
Labels: class02

#92 lgothelipe/c02-network01
  classes/02class/exercises/c02-network01/lgothelipe/c02-network01.txt
Labels: class02

#169 Starkmatt/c02 network06
  classes/02class/exercises/c02-network06/starkmatt/c02-network06.txt
Labels: class02

#146 andreazzabr/c02-network07
  classes/02class/exercises/c02-network07/andreazzabr/c02-network07.txt
Labels: class02
