Repository devopsacademyau/academy, pull requests merged in 2020-07, with the labels that each got.

#841 jayanath/c02-network10
  classes/02class/exercises/c02-network10/jayanath/README.md
Labels: 2020-Jun, class02, ready to review

#856 nimmi89/c02-network04
  classes/02class/exercises/c02-network04/nimmi89/README.md
Labels: 2020-Jun, class02, ready to review

#900 feernandobraga/c02-network04
  classes/02class/exercises/c02-network04/feernandobraga/README.md
Labels: 2020-Jun, class02, ready to review

#904 feernandobraga/c02-network06
  classes/02class/exercises/c02-network06/feernandobraga/README.md
Labels: 2020-Jun, class02, ready to review

#902 feernandobraga/c02-network05
  classes/02class/exercises/c02-network05/feernandobraga/README.md
Labels: 2020-Jun, class02, ready to review

#899 nimmi89/c02-network06
  classes/02class/exercises/c02-network06/nimmi89/README.md
Labels: 2020-Jun, class02, ready to review

#912 gepifanio/c02-network05
  classes/02class/exercises/c02-network05/gepifanio/README.md
Labels: 2020-Jun, class02, ready to review

#891 feernandobraga/c02-network03
  classes/02class/exercises/c02-network03/feernandobraga/README.md
Labels: 2020-Jun, class02, ready to review

#843 mail2kvanitha/c02-network04
  classes/02class/exercises/c02-network04/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#809 Mail2kvanitha/c02 network03
  classes/02class/exercises/c02-network03/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#932 zarajoy/c02-network09
  classes/02class/exercises/c02-network09/zarajoy/README.md
Labels: 2020-Jun, class02

#928 nimmi89/c02-network09
  classes/02class/exercises/c02-network09/nimmi89/README.md
Labels: 2020-Jun, class02, ready to review

#926 nimmi89/c02-network08
  classes/02class/exercises/c02-network08/nimmi89/README.md
Labels: 2020-Jun, class02, ready to review

#929 nimmi89/c02-network10
  classes/02class/exercises/c02-network10/nimmi89/README.md
Labels: 2020-Jun, class02, ready to review

#776 Mail2kvanitha/c01-git02
  classes/01class/exercises/c01-git02/mail2kvanitha/README.md
Labels: 2020-Jun, class01

#768 feernandobraga/c01-git03
  classes/01class/exercises/c01-git03/feernandobraga/README.md
Labels: 2020-Jun, class01

#933 Gpavelar/c04 iam01
  classes/02class/exercises/c04-iam01/gpavelar/README.md
  classes/02class/exercises/c04-iam01/gpavelar/cli_commands.txt
  classes/02class/exercises/c04-iam01/gpavelar/s3-policy-document.json
Labels: 2020-Jun, class02

#834 mrcsmonteiro/c02-network07
  classes/02class/exercises/c02-network07/mrcsmonteiro/README.md
Labels: 2020-Jun, class02

#762 Solve all c01-aws01 exercises
  classes/01class/exercises/c01-aws01/gpavelar/README.md
Labels: 2020-Jun, class01, ready to review

#879 danielvca/c02-network08
  classes/02class/exercises/c02-network08/danielvca/README.md
Labels: 2020-Jun, class02, ready to review

#939 gepifanio/c02-network06
  classes/02class/exercises/c02-network06/gepifanio/README.md
Labels: 2020-Jun, class02, ready to review

#942 alanlima/c02-network06
  classes/02class/exercises/c02-network06/alanlima/README.md
Labels: 2020-Jun, class02, ready to review

#946 alanlima/c02-network10
  classes/02class/exercises/c02-network10/alanlima/README.md
Labels: 2020-Jun, class02, ready to review

#947 zarajoy/c02-network10
  classes/02class/exercises/c02-network10/zarajoy/README.md
Labels: 2020-Jun, class02, ready to review

#945 alanlima/c02-network09
  classes/02class/exercises/c02-network09/alanlima/README.md
Labels: 2020-Jun, class02, ready to review

#931 zarajoy/c02-network08
  classes/02class/exercises/c02-network08/zarajoy/README.md
Labels: 2020-Jun, class02

#903 Mail2kvanitha/c02-network09
  classes/02class/exercises/c02-network09/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#944 alanlima/c02-network08
  classes/02class/exercises/c02-network08/alanlima/README.md
Labels: 2020-Jun, class02, ready to review

#974 mfreitassm/c02-network03
  classes/02class/exercises/c02-network03/mfreitassm/README.md
Labels: 2020-Jun, class02, ready to review

#975 mfreitassm/c02-network04
  classes/02class/exercises/c02-network04/mfreitassm/README.md
Labels: 2020-Jun, class02, ready to review

#976 mfreitassm/c02 network05
  classes/02class/exercises/c02-network05/mfreitassm/README.md
Labels: 2020-Jun, class02, ready to review

#979 Solve c02-network02 exercises
  classes/02class/exercises/c02-network02/gpavelar/README.md
Labels: 2020-Jun, class02, ready to review

#781 Mail2kvanitha/c01 aws02
  classes/01class/exercises/c01-aws02/mail2kvanitha/README.md
Labels: 2020-Jun, class01, ready to review

#840 danielvca/c02-network03
  classes/02class/exercises/c02-network03/danielvca/README.md
Labels: 2020-Jun, class02, marked-for-deletion, ready to review

#844 danielvca/c02-network05
  classes/02class/exercises/c02-network05/danielvca/README.md
Labels: 2020-Jun, class02, marked-for-deletion, ready to review

#877 frdvo/c02-network07 Create / Associate Route Table
  classes/02class/exercises/c02-network07/frdvo/README.md
Labels: 2020-Jun, class02, ready to review

#883 danielvca/c02-network10
  classes/02class/exercises/c02-network10/danielvca/README.md
Labels: 2020-Jun, class02, ready to review

#901 Jayanath/c02-network12-challenge
  classes/02class/exercises/c02-network12-challenge/jayanath/README.md
Labels: 2020-Jun, class02, ready to review

#951 Mail2kvanitha/c04-iam01
  classes/02class/exercises/c04-iam01/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#937 nimmi89/c04-iam01
  classes/02class/exercises/c04-iam01/nimmi89/README.md
Labels: 2020-Jun, class02, ready to review

#955 mfreitassm/c01-aws01
  classes/01class/exercises/c01-aws01/mfreitassm/README.md
Labels: 2020-Jun, class01, ready to review

#954 mfreitassm/c02-network01
  classes/02class/exercises/c02-network01/mfreitassm/README.md
Labels: 2020-Jun, class02, ready to review

#953 mfreitassm/c02-network02
  classes/02class/exercises/c02-network02/mfreitassm/README.md
Labels: 2020-Jun, class02, ready to review

#952 alanlima/c02-network11
  classes/02class/exercises/c02-network11/alanlima/README.md
Labels: 2020-Jun, class02, ready to review

#950 zarajoy/c02-network11
  classes/02class/exercises/c02-network11/zarajoy/README.md
Labels: 2020-Jun, class02, ready to review

#949 Mail2kvanitha/c02-network12-challenge
  classes/02class/exercises/c02-network12-challenge/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#943 alanlima/c02-network07
  classes/02class/exercises/c02-network07/alanlima/README.md
Labels: 2020-Jun, class02, ready to review

#936 Mail2kvanitha/c02-network11
  classes/02class/exercises/c02-network11/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#935 Adding exercise file
  classes/02class/exercises/c02-network11/danielvca/README.md
Labels: 2020-Jun, class02, ready to review

#934 nimmi89/c02-network11
  classes/02class/exercises/c02-network11/nimmi89/README.md
Labels: 2020-Jun, class02, ready to review

#927 zarajoy/c02-network07
  classes/02class/exercises/c02-network07/zarajoy/README.md
Labels: 2020-Jun, class02, ready to review

#914 nimmi89/c02-network07
  classes/02class/exercises/c02-network07/nimmi89/README.md
Labels: 2020-Jun, class02, ready to review

#905 Mail2kvanitha/c02-network10
  classes/02class/exercises/c02-network10/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#898 Mail2kvanitha/c02-network08
  classes/02class/exercises/c02-network08/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#771 Gpavelar/c01-aws02
  classes/01class/exercises/c01-aws02/gpavelar/README.md
Labels: 2020-Jun, class01, ready to review

#908 roperto/c02-network01 solution
  classes/02class/exercises/c02-network01/roperto/README.md
Labels: class02, ready to review

#913 roperto/c02-network02 solution
  classes/02class/exercises/c02-network02/roperto/README.md
Labels: class02, ready to review

#915 roperto/c02-network03 solution
  classes/02class/exercises/c02-network03/roperto/README.md
Labels: class02, ready to review

#924 roperto/c02-network04 solution
  classes/02class/exercises/c02-network04/roperto/README.md
Labels: class02, ready to review

#925 roperto/c02-network05 solution
  classes/02class/exercises/c02-network05/roperto/README.md
Labels: class02, ready to review

#968 roperto/c02-network06 solution
  classes/02class/exercises/c02-network06/roperto/README.md
Labels: class02, ready to review

#970 roperto/c02-network07 solution
  classes/02class/exercises/c02-network07/roperto/README.md
Labels: class02, ready to review

#772 Suggestion of minor changes to README.md instructions for exercise c01-aws02
  classes/01class/exercises/c01-aws02/ANSWER.md
  classes/01class/exercises/c01-aws02/README.md
Labels: REPO-CONTENT, class01, ready to review

#744 roperto/c01-aws01
  classes/01class/exercises/c01-aws01/roperto/README.md
Labels: class01, ready to review

#916 raghunadhpokkalath/c02-network02
  classes/02class/exercises/c02-network02/raghunadhpokkalath/README.md
Labels: class02, ready to review

#906 feernandobbraga/c02-network07
  classes/02class/exercises/c02-network07/feernandobraga/README.md
Labels: 2020-Jun, class02, ready to review

#1022 Add reviewers: Roperto, Luiz and Lucas
  scripts/tf/github.com/team-reviewers.tf
Labels: Admin, REPO-CONTENT

#792 ramiray/c01-aws02
  classes/01class/exercises/c01-aws02/ramiray/README.md
  classes/01class/exercises/c01-aws02/ramiray/devopsacademytrustpolicy.json
Labels: class01, ready to review

#894 roperto/c01-git01 solution
  classes/01class/exercises/c01-git01/roperto/README.md
Labels: class01, ready to review

#895 roperto/c01-git02 solution
  classes/01class/exercises/c01-git02/roperto/README.md
Labels: class01, ready to review

#1002 fix some typo on class03 aws material
  classes/03class/aws/README.md
Labels: 2020-Jun, REPO-CONTENT, class03, ready to review

#1005 fix some typo on class 03 docker material
  classes/03class/docker/README.md
Labels: 2020-Jun, REPO-CONTENT, class03, ready to review

#930 feernandobraga/c02-network08
  classes/02class/exercises/c02-network08/feernandobraga/README.md
Labels: 2020-Jun, class02, ready to review

#799 ramiray/c01-aws01
  classes/01class/exercises/c01-aws01/ramiray/README.md
Labels: class01, ready to review

#994 Solve c02-network03 exercises
  classes/02class/exercises/c02-network03/gpavelar/README.md
Labels: 2020-Jun, class02, ready to review

#997 Solve c02-network05 exercises
  classes/02class/exercises/c02-network05/gpavelar/README.md
Labels: 2020-Jun, class02, ready to review

#1004 feernandobraga/c02-network09
  classes/02class/exercises/c02-network09/feernandobraga/README.MD
Labels: 2020-Jun, class02, ready to review

#992 c02-network10/frvdo Create ENI Private subnet
  classes/02class/exercises/c02-network10/frvdo/README.md
Labels: 2020-Jun, class02, ready to review

#888 albertoeks/c01-git04
  classes/01class/exercises/c01-git04/albertoeks/README.md
Labels: class01, ready to review

#876 albertoeks/c01-git03
  classes/01class/exercises/c01-git03/albertoeks/README.md
Labels: class01, ready to review

#889 rodrigovcesar/c02-network03
  classes/02class/exercises/c02-network03/rodrigovcesar/README.md
Labels: class02, ready to review

#907 rodrigovcesar/c02-network04
  classes/02class/exercises/c02-network04/rodrigovcesar/README.md
Labels: class02, ready to review

#893 raghunadhpokkalath/c02-network01
  classes/02class/exercises/c02-network01/raghuandhpokkalath/README.md
Labels: class02, ready to review

#909 rodrigovcesar/c02-network05
  classes/02class/exercises/c02-network05/rodrigovcesar/README.md
Labels: class02, ready to review

#911 Fixed markdown table headers
  classes/02class/exercises/c02-network02/ANSWER.md
Labels: REPO-CONTENT, class02, ready to review

#1003 roperto/c01-network04
  classes/02class/exercises/c02-network04/roperto/README.md
Labels: class02, ready to review

#920 mendoncaj/c01-git01
  classes/01class/exercises/c01-git01/mendoncaj/README.md
Labels: class01, ready to review

#1035 C03 aws exercises
  classes/03class/exercises/c03-aws01/ANSWER.md
  classes/03class/exercises/c03-aws01/README.md
  classes/03class/exercises/c03-aws02/ANSWER.md
  classes/03class/exercises/c03-aws02/README.md
  classes/03class/exercises/c03-aws03/ANSWER.md
  classes/03class/exercises/c03-aws03/README.md
Labels: Admin, REPO-CONTENT, class03, ready to review

#1042 alanlima/c03-docker01
  classes/03class/exercises/c03-docker01/alanlima/Dockerfile
  classes/03class/exercises/c03-docker01/alanlima/README.md
Labels: 2020-Jun, class03, ready to review

#711 mfreitassm/c01-git03
  classes/01class/exercises/c01-git03/mfreitassm/README.md
Labels: 2020-Jun, class01, ready to review

#793 ramiray/c01-git01
  classes/01class/exercises/c01-git01/ramiray/Readme.md
Labels: class01, ready to review

#922 mendoncaj/c01-git03
  classes/01class/exercises/c01-git03/mendoncaj/README.md
Labels: class01, ready to review

#923 mendoncaj/c01-git04
  classes/01class/exercises/c01-git04/mendoncaj/README.md
Labels: class01, ready to review

#984 afaryy/c01-git03
  classes/01class/exercises/c01-git03/afaryy/README.md
Labels: class01, ready to review

#986 afaryy/c01-aws01
  classes/01class/exercises/c01-aws01/afaryy/README.md
Labels: class01, ready to review

#878 rodrigovcesar/c02-network02
  classes/02class/exercises/c02-network02/rodrigovcesar/README.md
Labels: class02, ready to review

#1040 Small fixes: class03/docker
  classes/03class/docker/README.md
Labels: Admin, REPO-CONTENT, class03, ready to review

#1058 fabioacp/c03-docker01
  classes/03class/exercises/c03-docker01/fabioacp/Dockerfile
  classes/03class/exercises/c03-docker01/fabioacp/README.md
Labels: 2020-Jun, class03, ready to review

#1045 alanlima/c03-docker02
  classes/03class/exercises/c03-docker02/alanlima/Dockerfile.v1
  classes/03class/exercises/c03-docker02/alanlima/Dockerfile.v2
  classes/03class/exercises/c03-docker02/alanlima/README.md
Labels: 2020-Jun, class03, ready to review

#1056 alanlima/c03-docker04
  classes/03class/exercises/c03-docker04/alanlima/README.md
Labels: 2020-Jun, class03, ready to review

#1061 alanlima/c03-docker06
  classes/03class/exercises/c03-docker06/alanlima/Dockerfile
  classes/03class/exercises/c03-docker06/alanlima/README.md
Labels: 2020-Jun, class03, ready to review

#1062 Add README.md + Dockerfile for exercise c03-docker01
  classes/03class/exercises/c03-docker01/mrcsmonteiro/Dockerfile
  classes/03class/exercises/c03-docker01/mrcsmonteiro/README.md
Labels: 2020-Jun, class03, ready to review

#1059 alanlima/c03-docker05
  classes/03class/exercises/c03-docker05/alanlima/README.md
Labels: 2020-Jun, class03, ready to review

#1049 alanlima/c03-docker03
  classes/03class/exercises/c03-docker03/alanlima/README.md
Labels: 2020-Jun, class03, ready to review

#917 mrcsmonteiro/c02-network12-challenge
  classes/02class/exercises/c02-network12-challenge/mrcsmonteiro/DevOpsAcademy-VPC-Peering.drawio
  classes/02class/exercises/c02-network12-challenge/mrcsmonteiro/README.md
Labels: 2020-Jun, class02, ready to review

#940 rodrigovcesar/c02-network06
  classes/02class/exercises/c02-network06/rodrigovcesar/README.md
Labels: class02, ready to review

#991 raghunadhpokkalath/c02-network06
  classes/02class/exercises/c02-network06/raghunadhpokkalath/README.md
Labels: class02, ready to review

#1001 gpavelar/c02-network06
  classes/02class/exercises/c02-network06/gpavelar/README.md
Labels: 2020-Jun, class02, ready to review

#1015 carloshz4/c02-network06
  classes/02class/exercises/c02-network06/carloshz4/README.md
Labels: class02, ready to review

#956 ramiray/c02-network01
  classes/02class/exercises/c02-network01/ramiray/c02-network01.txt
Labels: class02, ready to review

#1033 fabioacp/c02-network01
  classes/02class/exercises/c02-network01/fabioacp/README.md
Labels: 2020-Jun, class02, ready to review

#1038 obrientimothya/c02-network01
  classes/02class/exercises/c02-network01/obrientimothya/README.md
Labels: 2020-Jun, class02, ready to review

#972 mendoncaj/c02-network01
  classes/02class/exercises/c02-network01/mendoncaj/README.md
Labels: class02, ready to review

#1000 carloshz4/c02-network01
  classes/02class/exercises/c02-network01/carloshz4/README.md
Labels: class02, ready to review

#1068 afaryy/c02-network02
  classes/02class/exercises/c02-network02/afaryy/README.md
Labels: class02, ready to review

#959 ramiray/c02-network03
  classes/02class/exercises/c02-network03/ramiray/README.md
Labels: class02, ready to review

#1070 afaryy/c02-network03
  classes/02class/exercises/c02-network03/afaryy/README.md
Labels: class02, ready to review

#1030 igorjosesantos/c01-git04
  classes/01class/exercises/c01-git04/igorjosesantos/README.md
Labels: 2020-Jun, class01, ready to review

#1067 afaryy/c02-network01
  classes/02class/exercises/c02-network01/afaryy/README.md
Labels: class02, ready to review

#1086 fabioacp/c03-docker04
  classes/03class/exercises/c03-docker04/fabioacp/README.md
Labels: 2020-Jun, class03, ready to review

#1083 fabioacp/c03-docker03
  classes/03class/exercises/c03-docker03/fabioacp/README.md
Labels: 2020-Jun, class03, ready to review

#1082 Add README.md for exercise c03-docker04
  classes/03class/exercises/c03-docker04/mrcsmonteiro/README.md
Labels: 2020-Jun, class03, ready to review

#1081 Add README.md for exercise c03-docker03
  classes/03class/exercises/c03-docker03/mrcsmonteiro/README.md
Labels: 2020-Jun, class03, ready to review

#1066 alanlima/c03-make01
  classes/03class/exercises/c03-make01/alanlima/Dockerfile
  classes/03class/exercises/c03-make01/alanlima/Makefile
  classes/03class/exercises/c03-make01/alanlima/README.md
Labels: 2020-Jun, class03, ready to review

#1088 Exercise Update: remove output.md file requirement for c03-make01
  classes/03class/exercises/c03-make01/ANSWER.md
  classes/03class/exercises/c03-make01/README.md
Labels: 2020-Jun, REPO-CONTENT, class03, ready to review

#1105 fabioacp/c03-docker05
  classes/03class/exercises/c03-docker05/fabioacp/README.md
Labels: 2020-Jun, class03, ready to review

#1106 Build multi stage docker container with Terraform frdvo/c03-docker01
  classes/03class/exercises/c03-docker01/frdvo/Dockerfile
  classes/03class/exercises/c03-docker01/frdvo/README.md
Labels: 2020-Jun, class03, ready to review

#1107 fabioacp/c03-docker06
  classes/03class/exercises/c03-docker06/fabioacp/Dockerfile
  classes/03class/exercises/c03-docker06/fabioacp/README.md
Labels: 2020-Jun, class03, ready to review

#1108 frdvo/c03-docker02 Compare file written on container and volume mapping
  classes/03class/exercises/c03-docker02/frdvo/Dockerfile.v1
  classes/03class/exercises/c03-docker02/frdvo/Dockerfile.v2
  classes/03class/exercises/c03-docker02/frdvo/README.md
Labels: 2020-Jun, class03, ready to review

#1109 frdvo/c03-docker03 Tag and Push c03-docker02 images to DockerHub
  classes/03class/exercises/c03-docker03/frdvo/README.md
Labels: 2020-Jun, class03, ready to review

#1111 jayanath/c03-docker02
  classes/03class/exercises/c03-docker02/jayanath/Dockerfile.v1
  classes/03class/exercises/c03-docker02/jayanath/Dockerfile.v2
  classes/03class/exercises/c03-docker02/jayanath/README.md
Labels: 2020-Jun, class03, ready to review

#1112 frdvo/c03-docker05 Run Docker images from Docker hub
  classes/03class/exercises/c03-docker05/frdvo/README.md
Labels: 2020-Jun, class03, ready to review

#1113 jayanath/c03-docker03
  classes/03class/exercises/c03-docker03/jayanath/README.md
Labels: 2020-Jun, class03, ready to review

#1115 jayanath/c03-docker04
  classes/03class/exercises/c03-docker04/jayanath/README.md
Labels: 2020-Jun, class03, ready to review

#1116 frdvo/c03-docker06 Create container with extra argument to run
  classes/03class/exercises/c03-docker06/frdvo/Dockerfile
  classes/03class/exercises/c03-docker06/frdvo/README.md
Labels: 2020-Jun, class03, ready to review

#1118 jayanath/c03-docker05
  classes/03class/exercises/c03-docker05/jayanath/README.md
Labels: 2020-Jun, class03, ready to review

#1120 jayanath/c03-docker06
  classes/03class/exercises/c03-docker06/jayanath/Dockerfile
  classes/03class/exercises/c03-docker06/jayanath/README.md
Labels: 2020-Jun, class03, ready to review

#1084 Add README.md for exercise c03-docker05
  classes/03class/exercises/c03-docker05/mrcsmonteiro/README.md
Labels: 2020-Jun, class03, ready to review

#1085 Add README.md + Dockerfile for exercise c03-docker06
  classes/03class/exercises/c03-docker06/mrcsmonteiro/Dockerfile
  classes/03class/exercises/c03-docker06/mrcsmonteiro/README.md
Labels: 2020-Jun, class03, ready to review

#1079 fabioacp/c03-docker02
  classes/03class/exercises/c03-docker02/fabioacp/Dockerfile.v1
  classes/03class/exercises/c03-docker02/fabioacp/Dockerfile.v2
  classes/03class/exercises/c03-docker02/fabioacp/README.md
Labels: 2020-Jun, class03, ready to review

#1076 Add README.md + Dockerfile.v[1|2] for exercise c03-docker02
  classes/03class/exercises/c03-docker02/mrcsmonteiro/Dockerfile.v1
  classes/03class/exercises/c03-docker02/mrcsmonteiro/Dockerfile.v2
  classes/03class/exercises/c03-docker02/mrcsmonteiro/README.md
Labels: 2020-Jun, class03, ready to review

#958 ramiray/c02-network02
  classes/02class/exercises/c02-network02/ramiray/c02-network02.txt
Labels: class02, ready to review

#1044 fabioacp/c02-network02
  classes/02class/exercises/c02-network02/fabioacp/README.md
Labels: 2020-Jun, class02, ready to review

#960 ramiray/c02-network04
  classes/02class/exercises/c02-network04/ramiray/README.md
Labels: class02, ready to review

#978 raghunadhpokkalath/c02-network04
  classes/02class/exercises/c02-network04/raghunadhpokkalath/README.MD
Labels: class02, ready to review

#995 gpavelar/c02-network04
  classes/02class/exercises/c02-network04/gpavelar/README.md
Labels: 2020-Jun, class02, ready to review

#1013 carloshz4/c02-network04
  classes/02class/exercises/c02-network04/carloshz4/README.md
Labels: class02, ready to review

#1071 afaryy/c02-network04
  classes/02class/exercises/c02-network04/afaryy/README.md
Labels: class02, ready to review

#961 ramiray/c02-network05
  classes/02class/exercises/c02-network05/ramiray/README.md
Labels: class02, ready to review

#981 raghunadhpokkalath/c02-network05
  classes/02class/exercises/c02-network05/raghunadhpokkalath/README.MD
Labels: class02, ready to review
