Repository devopsacademyau/academy, pull requests merged in 2020-06, with the labels that each got.

#631 adding new group with new term students
  scripts/tf/github.com/da-project/repo.tf
  scripts/tf/github.com/teams.tf
  scripts/tf/github.com/terraform.tfstate
Labels: REPO-CONTENT

#603 Starkmatt/c05 actions 1
  classes/05class/exercises/c05-actions01/starkmatt/README.md
  classes/05class/exercises/c05-actions01/starkmatt/gh-actions-workflow.yaml
Labels: class05, ready to review

#580 c05-actions01-ga
  classes/05class/exercises/c05-actions01/hsy3418/README.md
  classes/05class/exercises/c05-actions01/hsy3418/ci.yaml
Labels: class05, ready to review

#562 lgothelipe/c05-actions01
  classes/05class/exercises/c05-actions01/lgothelipe/README.md
  classes/05class/exercises/c05-actions01/lgothelipe/lgothelipe.yml
Labels: class05, ready to review

#592 Drii cavalcanti/c03 docker01
  classes/03class/exercises/c03-docker01/drii-cavalcanti/Dockerfile
  classes/03class/exercises/c03-docker01/drii-cavalcanti/c03-docker-e01.txt
Labels: class03, ready to review

#593 Drii cavalcanti/c03 docker02
  classes/03class/exercises/c03-docker02/drii-cavalcanti/Dockerfile.v1
  classes/03class/exercises/c03-docker02/drii-cavalcanti/Dockerfile.v2
  classes/03class/exercises/c03-docker02/drii-cavalcanti/c03-docker02.txt
Labels: class03, ready to review

#546 c04-s301
  classes/04class/exercises/c04-s301/hsy3418/README.md
  classes/04class/exercises/c04-s301/hsy3418/cli-commands.txt
  classes/04class/exercises/c04-s301/hsy3418/s3_bucket_policy.json
  classes/04class/exercises/c04-s301/hsy3418/website_url.txt
Labels: class04, ready to review

#492 luizfds/c04-rds01
  classes/04class/exercises/c04-rds01/luizfds/README.md
  classes/04class/exercises/c04-rds01/luizfds/db-creation.txt
  classes/04class/exercises/c04-rds01/luizfds/output.txt
Labels: class04, ready to review

#564 deniseddi/c04-iac02
  classes/04class/exercises/c04-iac02/deniseddi/README.md
  classes/04class/exercises/c04-iac02/deniseddi/_backend.tf
  classes/04class/exercises/c04-iac02/deniseddi/_provider.tf
  classes/04class/exercises/c04-iac02/deniseddi/main.tfvars
  classes/04class/exercises/c04-iac02/deniseddi/output.tf
  classes/04class/exercises/c04-iac02/deniseddi/output.txt
  classes/04class/exercises/c04-iac02/deniseddi/variables.tf
  classes/04class/exercises/c04-iac02/deniseddi/vpc.tf
Labels: class04, ready to review

#611 Making application.sh portable across different flavours of *nix.
  applications/application.sh
Labels: marked-for-deletion

#490 christina-roperto/c04-iam01
  classes/04class/exercises/c04-iam01/christina-roperto/README.md
  classes/04class/exercises/c04-iam01/christina-roperto/S3readOnlyPolicy.json
  classes/04class/exercises/c04-iam01/christina-roperto/cli_commands.txt
Labels: class04, ready to review

#531 c04-rds01
  classes/04class/exercises/c04-rds01/hsy3418/db-creation.txt
  classes/04class/exercises/c04-rds01/hsy3418/output.txt
  classes/04class/exercises/c04-rds01/hsy3418/readme.md
Labels: class04, ready to review

#545 Hsy3418/c04 rds02
  classes/04class/exercises/c04-rds02/hsy3418/README.md
  classes/04class/exercises/c04-rds02/hsy3418/db-deletion.txt
  classes/04class/exercises/c04-rds02/hsy3418/db-description.txt 
Labels: class04, ready to review

#555 Update exercise
  classes/02class/exercises/c02-network08/marcioanatrielo/c02-network08.txt
Labels: class02, ready to review

#554 Update exercise
  classes/02class/exercises/c02-network07/marcioanatrielo/c02-network07.txt
Labels: class02, ready to review

#585 deniseddi/c04-iac3
  classes/04class/exercises/c04-iac03/deniseddi/README.md
  classes/04class/exercises/c04-iac03/deniseddi/output.txt
Labels: class04, ready to review

#601 creating basic structure with Terraform
  classes/04class/exercises/c04-iac02/drii-cavalcanti/ANSWER.md
  classes/04class/exercises/c04-iac02/drii-cavalcanti/_backend.tf
  classes/04class/exercises/c04-iac02/drii-cavalcanti/_provider.tf
  classes/04class/exercises/c04-iac02/drii-cavalcanti/main.tfvars
  classes/04class/exercises/c04-iac02/drii-cavalcanti/output.tf
  classes/04class/exercises/c04-iac02/drii-cavalcanti/output.txt
  classes/04class/exercises/c04-iac02/drii-cavalcanti/variables.tf
  classes/04class/exercises/c04-iac02/drii-cavalcanti/vpc.tf
Labels: class04, ready to review

#606 changing values after terraform apply
  classes/04class/exercises/c04-iac03/drii-cavalcanti/ANSWER.md
  classes/04class/exercises/c04-iac03/drii-cavalcanti/_backend.tf
  classes/04class/exercises/c04-iac03/drii-cavalcanti/_provider.tf
  classes/04class/exercises/c04-iac03/drii-cavalcanti/main.tfvars
  classes/04class/exercises/c04-iac03/drii-cavalcanti/output.tf
  classes/04class/exercises/c04-iac03/drii-cavalcanti/output.txt
  classes/04class/exercises/c04-iac03/drii-cavalcanti/variables.tf
  classes/04class/exercises/c04-iac03/drii-cavalcanti/vpc.tf
Labels: class04, ready to review

#504 Hsy3418/c04 iac04
  classes/04class/exercises/c04-iac04/hsy3418/README.md
  classes/04class/exercises/c04-iac04/hsy3418/output.txt
  classes/04class/exercises/c04-iac04/hsy3418/terraform-apply.txt
  classes/04class/exercises/c04-iac04/hsy3418/terraform-code/ _backend.tf
  classes/04class/exercises/c04-iac04/hsy3418/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/hsy3418/terraform-code/iac-04-module/main.tf
  classes/04class/exercises/c04-iac04/hsy3418/terraform-code/iac-04-module/output.tf
  classes/04class/exercises/c04-iac04/hsy3418/terraform-code/iac-04-module/variables.tf
  classes/04class/exercises/c04-iac04/hsy3418/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/hsy3418/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/hsy3418/terraform-code/output.tf
Labels: class04, ready to review

#508 luizfds/c04-iac04
  classes/04class/exercises/c04-iac04/luizfds/README.md
  classes/04class/exercises/c04-iac04/luizfds/output.txt
  classes/04class/exercises/c04-iac04/luizfds/terraform-apply.txt
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/iac-04-module/LICENSE
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/iac-04-module/README.md
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/iac-04-module/main.tf
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/iac-04-module/outputs.tf
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/iac-04-module/variables.tf
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/output.tf
  classes/04class/exercises/c04-iac04/luizfds/terraform-code/variables.tf
Labels: class04, ready to review

#519 lgothelipe/c04-iac04
  classes/04class/exercises/c04-iac04/lgothelipe/README.md
  classes/04class/exercises/c04-iac04/lgothelipe/output.txt
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-apply.txt
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/app-load-balancer/main.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/app-load-balancer/output.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/app-load-balancer/variables.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/auto-scalling/main.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/auto-scalling/output.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/auto-scalling/variables.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/default-vpc/main.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/default-vpc/output.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/ec2-template/main.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/ec2-template/output.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/ec2-template/variables.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/security-groups/main.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/iac-04-module/security-groups/output.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/output.tf
  classes/04class/exercises/c04-iac04/lgothelipe/terraform-code/variables.tf
Labels: class04, ready to review

#559 andreazzabr/c04-iac03
  classes/04class/exercises/c04-iac03/andreazzabr/README.md
  classes/04class/exercises/c04-iac03/andreazzabr/output.txt
Labels: class04, ready to review

#598 andreazzabr-c04-iac04
  classes/04class/exercises/c04-iac04/andreazzabr/README.md
  classes/04class/exercises/c04-iac04/andreazzabr/output.txt
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-apply.txt
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/alb/alb.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/alb/output.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/alb/variables.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/asg/asg.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/asg/userdata.sh
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/asg/variables.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/network/output.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/network/security-group.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/network/variables.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/network/vpc.tf
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/terraform.tfvars
  classes/04class/exercises/c04-iac04/andreazzabr/terraform-code/variables.tf
Labels: class04, ready to review

#607 Faria-Marcio/c04-iac03
  classes/04class/exercises/c04-iac03/Faria-Marcio/README.md
  classes/04class/exercises/c04-iac03/Faria-Marcio/output.txt
Labels: class04, ready to review

#632 add remote backend and gh action
  .github/workflows/gh-terraform-merge-apply.yaml
  .github/workflows/gh-terraform-pr-plan.yaml
  Makefile
  docker-compose.yml
  scripts/tf/github.com/Makefile
  scripts/tf/github.com/_backend.tf
  scripts/tf/github.com/docker-compose.yml
  scripts/tf/github.com/terraform.tfstate
Labels: Admin, REPO-CONTENT

#636 tiny typo
  classes/04class/exercises/c04-iac04/ANSWER.md
Labels: 2020-Feb, REPO-CONTENT, class04, ready to review

#634 Gh terraform
  .github/workflows/gh-terraform-merge-apply.yaml
  .github/workflows/gh-terraform-pr-plan.yaml
Labels: Admin, REPO-CONTENT

#590 hsy3418/c05-3m01
  classes/05class/exercises/c05-3m01/hsy3418/.env
  classes/05class/exercises/c05-3m01/hsy3418/Dockerfile
  classes/05class/exercises/c05-3m01/hsy3418/Makefile
  classes/05class/exercises/c05-3m01/hsy3418/docker-compose.yaml
  classes/05class/exercises/c05-3m01/hsy3418/output.md
  classes/05class/exercises/c05-3m01/hsy3418/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/hsy3418/scripts/delete_bucket.sh
Labels: class05, ready to review

#540 deniseddi/C05-make01
  classes/05class/exercises/c05-make01/deniseddi/Dockerfile
  classes/05class/exercises/c05-make01/deniseddi/Makefile
  classes/05class/exercises/c05-make01/deniseddi/README.md
  classes/05class/exercises/c05-make01/deniseddi/output.md
Labels: class05, ready to review

#561 christina-roperto/c05-compose01
  classes/05class/exercises/c05-compose01/christina-roperto/README.md
  classes/05class/exercises/c05-compose01/christina-roperto/docker-compose.yaml
Labels: class05, ready to review

#538 christina-roperto/c05-make01
  classes/05class/exercises/c05-make01/christina-roperto/Dockerfile
  classes/05class/exercises/c05-make01/christina-roperto/Makefile
  classes/05class/exercises/c05-make01/christina-roperto/README.md
  classes/05class/exercises/c05-make01/christina-roperto/output.md
Labels: class05, ready to review

#638 christina-roperto/c04-iac04
  classes/04class/exercises/c04-iac04/christina-roperto/README.md
  classes/04class/exercises/c04-iac04/christina-roperto/output.txt
  classes/04class/exercises/c04-iac04/christina-roperto/terraform-apply.txt
  classes/04class/exercises/c04-iac04/christina-roperto/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/christina-roperto/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/christina-roperto/terraform-code/ec2_cluster/main.tf
  classes/04class/exercises/c04-iac04/christina-roperto/terraform-code/ec2_cluster/outputs.tf
  classes/04class/exercises/c04-iac04/christina-roperto/terraform-code/ec2_cluster/variables.tf
  classes/04class/exercises/c04-iac04/christina-roperto/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/christina-roperto/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/christina-roperto/terraform-code/variables.tf
Labels: 2020-Feb, class04, ready to review

#522 add tasks readme containing everything needed for project 1
  projects/project01/tasks.md
Labels: enhancement, ready to review

#640 testing automation
  .github/workflows/dashboard.yaml
  Makefile
  README.md
  docker-compose.yml
  scripts/dashboard/Dockerfile
  scripts/dashboard/dashboard.py
  scripts/dashboard/dashboard.sh
  scripts/dashboard/labs.txt
  scripts/dashboard/run.sh
  scripts/dashboard/students.txt
Labels: Admin, REPO-CONTENT

#639 class01 lab refactoring
  classes/01class/exercises/README.md
  classes/01class/exercises/c01-aws01/ANSWER.md
  classes/01class/exercises/c01-aws01/Faria-Marcio/c01-e03.txt
  classes/01class/exercises/c01-aws01/README.md
  classes/01class/exercises/c01-aws01/andreazzabr/c01-e03.txt
  classes/01class/exercises/c01-aws01/carineoliveira/c01-e03.txt
  classes/01class/exercises/c01-aws01/christina-roperto/c01-e03.txt
  classes/01class/exercises/c01-aws01/deniseddi/c01-e03.txt
  classes/01class/exercises/c01-aws01/drii-cavalcanti/c01-e03.txt
  classes/01class/exercises/c01-aws01/henriqueediniz/c01-e03.txt
  classes/01class/exercises/c01-aws01/hsy3418/c01-e03.txt
  classes/01class/exercises/c01-aws01/lgothelipe/c01-e03.txt
  classes/01class/exercises/c01-aws01/luizfds/c01-e03.txt
  classes/01class/exercises/c01-aws01/maraujo00/c01-e03.txt
  classes/01class/exercises/c01-aws01/marcio-anatrielo/c01-e03.txt
  classes/01class/exercises/c01-aws01/starkmatt/c01-c03.txt
  classes/01class/exercises/c01-aws02/ANSWER.md
  classes/01class/exercises/c01-aws02/Faria-Marcio/c01-e04.txt
  classes/01class/exercises/c01-aws02/README.md
  classes/01class/exercises/c01-aws02/andreazzabr/c01-e04.txt
  classes/01class/exercises/c01-aws02/carineoliveira/c01-e04.txt
  classes/01class/exercises/c01-aws02/christina-roperto/c01-e04.txt
  classes/01class/exercises/c01-aws02/deniseddi/c01-e04.txt
  classes/01class/exercises/c01-aws02/drii-cavalcanti/c01-e04.txt
  classes/01class/exercises/c01-aws02/henriqueediniz/c01-e04.txt
  classes/01class/exercises/c01-aws02/hsy3418/c01-e04.txt
  classes/01class/exercises/c01-aws02/lgothelipe/c01-e04.txt
  classes/01class/exercises/c01-aws02/luizfds/c01-e04.txt
  classes/01class/exercises/c01-aws02/maraujo00/c01-e04.txt
  classes/01class/exercises/c01-aws02/marcio-anatrielo/c01-e04.txt
  classes/01class/exercises/c01-aws02/starkmatt/c01-e04.txt
  classes/01class/exercises/c01-aws03/README.md
  classes/01class/exercises/c01-aws04-deprecated/Faria-Marcio/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/README.md
  classes/01class/exercises/c01-aws04-deprecated/andreazzabr/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/carineoliveira/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/christina-roperto/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/deniseddi/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/drii-cavalcanti/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/gepifanio/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/henriqueediniz/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/hsy3418/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/lgothelipe/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/luizfds/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/luizsilva/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/maraujo00/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/marcioanatrielo/c01-e01.txt
  classes/01class/exercises/c01-aws04-deprecated/starkmatt/c01-e01.txt
  classes/01class/exercises/c01-e02/Faria-Marcio/c01-e02.jpg
  classes/01class/exercises/c01-e02/marcioanatrielo/c01-e02.txt
  classes/01class/exercises/c01-e02/starkmatt/c01-e02.txt
  classes/01class/exercises/c01-e03/README.md
  classes/01class/exercises/c01-e04/README.md
Labels: Admin, REPO-CONTENT, class01, ready to review

#646 commit inclusion
  classes/01class/exercises/c01-aws01/ANSWER.md
  classes/01class/exercises/c01-aws02/ANSWER.md
Labels: Admin, REPO-CONTENT, class01, ready to review

#650 Update infra numbers AWS
  classes/01class/aws101/README.md
Labels: Admin, REPO-CONTENT, class01, ready to review

#641 Update format of git exercises to the new pattern
  classes/01class/exercises/README.md
  classes/01class/exercises/c01-git01/ANSWER.md
  classes/01class/exercises/c01-git01/README.md
  classes/01class/exercises/c01-git02/ANSWER.md
  classes/01class/exercises/c01-git02/README.md
  classes/01class/exercises/c01-git03/ANSWER.md
  classes/01class/exercises/c01-git03/README.md
  classes/01class/exercises/c01-git04/ANSWER.md
  classes/01class/exercises/c01-git04/README.md
  scripts/dashboard/labs.txt
Labels: Admin, REPO-CONTENT, class01, ready to review

#652 fabioacp/c01-git01
  classes/01class/exercises/c01-git01/fabioacp/c01-git01-1.txt
  classes/01class/exercises/c01-git01/fabioacp/c01-git01-2.txt
  classes/01class/exercises/c01-git01/fabioacp/c01-git01-3.txt
Labels: 2020-Jun, class01, ready to review

#635 alanlima/c01-git01
  classes/01class/exercises/c01-git01/alanlima/c01-git01-1.txt
  classes/01class/exercises/c01-git01/alanlima/c01-git01-2.txt
  classes/01class/exercises/c01-git01/alanlima/c01-git01-3.txt
Labels: 2020-Jun, class01, ready to review

#656 Fix tiny typo
  classes/01class/exercises/c01-aws01/README.md
Labels: 2020-Jun, REPO-CONTENT, class01, ready to review

#661 jayanath/c01-git01
  classes/01class/exercises/c01-git01/jayanath/README.md
Labels: 2020-Jun, class01, ready to review

#658 Mrcsmonteiro/c01 git01
  classes/01class/exercises/c01-git01/mrcsmonteiro/ANSWER.md
Labels: 2020-Jun, class01, ready to review

#655 alanlima/c01-aws01
  classes/01class/exercises/c01-aws01/alanlima/README.md
Labels: 2020-Jun, class01, ready to review

#659 alanlima/c01-aws02
  classes/01class/exercises/c01-aws02/alanlima/README.md
Labels: 2020-Jun, class01, ready to review

#672 Update course planning
  README.md
Labels: Admin, REPO-CONTENT

#666 add feature to send message to slack - testchannel
  .github/workflows/dashboard.yaml
  Makefile
  docker-compose.yml
  scripts/dashboard/dashboard.py
  scripts/dashboard/publish.sh
  scripts/dashboard/run.sh
  scripts/dashboard/slack_payload.json
Labels: Admin, REPO-CONTENT, ready to review

#676 adjuting the publish script
  scripts/dashboard/publish.sh
Labels: Admin, REPO-CONTENT

#675 mfreitassm/c01-git01
  classes/01class/exercises/c01-git01/mfreitassm/README.md
Labels: 2020-Jun, class01, ready to review

#684 fix the dashboard workflow syntax
  .github/workflows/dashboard.yaml
Labels: Admin, REPO-CONTENT

#677 Jayanath/c01-git02
  classes/01class/exercises/c01-git02/jayanath/README.md
Labels: 2020-Jun, class01, ready to review

#671 Frdvo/c01 git02
  classes/01class/exercises/c01-git02/frdvo/README.md
Labels: 2020-Jun, class01, ready to review

#654 igorjosesantos/c01-git02
  classes/01class/exercises/c01-git02/igorjosesantos/c01-git02-1.txt
  classes/01class/exercises/c01-git02/igorjosesantos/c01-git02-2.txt
Labels: 2020-Jun, class01, ready to review

#637 alanlima/c01-git02
  classes/01class/exercises/c01-git02/alanlima/c01-git02-1.txt
  classes/01class/exercises/c01-git02/alanlima/c01-git02-2.md
Labels: 2020-Jun, class01, ready to review

#660 Add ANSWER.md file
  classes/01class/exercises/c01-git02/mrcsmonteiro/ANSWER.md
Labels: 2020-Jun, class01, ready to review

#690 Fix c01-aw02 documentation
  classes/01class/exercises/c01-aws02/README.md
Labels: 2020-Jun, REPO-CONTENT, class01, ready to review

#683 Add answers to exercise c01-aws01
  classes/01class/exercises/c01-aws01/mrcsmonteiro/README.md
Labels: 2020-Jun, class01, ready to review

#685 Add answers for exercise c01-aws02
  classes/01class/exercises/c01-aws02/mrcsmonteiro/README.md
Labels: 2020-Jun, class01, ready to review

#693 zarajoy/c01-git02
  classes/01class/exercises/c01-git02/zarajoy/c01-git02
Labels: 2020-Jun, class01, ready to review

#691 gepifanio/c01-git01
  classes/01class/exercises/c01-git01/gepifanio/README.md
Labels: 2020-Jun, class01, ready to review

#692 gepifanio/c01-git02
  classes/01class/exercises/c01-git02/gepifanio/README.md
Labels: 2020-Jun, class01, ready to review

#664 Include three answers to c01-git01
  classes/01class/exercises/c01-git01/frdvo/README.md
Labels: 2020-Jun, class01, ready to review

#651 igorjosesantos/c01-git01
  classes/01class/exercises/c01-git01/igorjosesantos/c01-git01-1.txt
  classes/01class/exercises/c01-git01/igorjosesantos/c01-git01-2.txt
  classes/01class/exercises/c01-git01/igorjosesantos/c01-git01-3.txt
Labels: 2020-Jun, class01, ready to review

#667 fabioacp/c01-git02
  classes/01class/exercises/c01-git02/fabioacp/c01-git02-1.txt
  classes/01class/exercises/c01-git02/fabioacp/c01-git02-2.txt
Labels: 2020-Jun, class01, ready to review

#700 Answer c01-git-3
  classes/01class/exercises/c01-git03/frdvo/README.md
Labels: 2020-Jun, class01, ready to review

#702 nimmi89/c01-git01
  classes/01class/exercises/c01-git01/nimmi89/README.md
Labels: class01, ready to review

#701 Frdvo/c01 git04
  classes/01class/exercises/c01-git04/frdvo/README.md
Labels: 2020-Jun, class01, ready to review

#695 gepifanio/c01-git04
  classes/01class/exercises/c01-git04/gepifanio/README.md
Labels: 2020-Jun, class01

#653 alanlima/c01-git04
  classes/01class/exercises/c01-git04/alanlima/c01-git04.md
Labels: 2020-Jun, class01

#668 mrcsmonteiro/c01-git03
  classes/01class/exercises/c01-git03/mrcsmonteiro/ANSWER.md
Labels: 2020-Jun, class01, ready to review

#669 mrcsmonteiro/c01-git04
  classes/01class/exercises/c01-git04/mrcsmonteiro/README.md
Labels: 2020-Jun, class01, ready to review

#698 jayanath/c01-aws01
  classes/01class/exercises/c01-aws01/jayanath/README.md
Labels: 2020-Jun, class01, ready to review

#687 fix script and change cron to test
  .github/workflows/dashboard.yaml
  scripts/dashboard/publish.sh
Labels: Admin, REPO-CONTENT, ready to review

#587 lgothelipe/c05-actions02
  classes/05class/exercises/c05-actions02/lgothelipe/README.md
  classes/05class/exercises/c05-actions02/lgothelipe/lgothelipe-c05-actions02.yml
  classes/05class/exercises/c05-actions02/lgothelipe/v1.Dockerfile
  classes/05class/exercises/c05-actions02/lgothelipe/v2.Dockerfile
Labels: class05, ready to review

#645 Luizfds/c05 3m01
  classes/05class/exercises/c05-3m01/luizfds/.env
  classes/05class/exercises/c05-3m01/luizfds/Dockerfile
  classes/05class/exercises/c05-3m01/luizfds/Makefile
  classes/05class/exercises/c05-3m01/luizfds/README.md
  classes/05class/exercises/c05-3m01/luizfds/docker-compose.yaml
  classes/05class/exercises/c05-3m01/luizfds/output.md
  classes/05class/exercises/c05-3m01/luizfds/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/luizfds/scripts/delete_bucket.sh
Labels: class05, ready to review

#714 Feature/slackmsg
  scripts/dashboard/dashboard.py
  scripts/dashboard/students.txt
Labels: Admin, REPO-CONTENT

#710 shahriar048/c01-git01
  classes/01class/exercises/c01-git01/shahriar048/ANSWER.md
Labels: 2020-Jun, class01, ready to review

#715 Frdvo/c01 aws01
  classes/01class/exercises/c01-aws01/frdvo/README.md
Labels: 2020-Jun, class01, ready to review

#705 fabioacp/c01-git03
  classes/01class/exercises/c01-git03/fabioacp/ANSWER.md
Labels: 2020-Jun, class01, ready to review

#678 Jayanath/c01-git03
  classes/01class/exercises/c01-git03/jayanath/README.md
Labels: 2020-Jun, class01, ready to review

#657 igorjosesantos/c01-git03
  classes/01class/exercises/c01-git03/igorjosesantos/c01-git03-1.txt
Labels: 2020-Jun, class01, ready to review

#682 Jayanath/c01-git04
  classes/01class/exercises/c01-git04/jayanath/README.md
Labels: 2020-Jun, class01, ready to review

#717 fix carlos username
  scripts/tf/github.com/team-external-students.tf
Labels: Admin, REPO-CONTENT

#696 zarajoy/c01-git03
  classes/01class/exercises/c01-git03/zarajoy/c01-git03.md
Labels: 2020-Jun, class01, ready to review

#712 jayanath/c01-aws02
  classes/01class/exercises/c01-aws02/jayanath/README.md
Labels: 2020-Jun, class01, ready to review

#726 testing automation
  .github/workflows/dashboard.yaml
  docker-compose.yml
Labels: Admin, REPO-CONTENT, ready to review

#728 Add README.md with answers c01-aws02
  classes/01class/exercises/c01-aws02/frdvo/README.md
Labels: 2020-Jun, class01

#708 nimmi89/c01-git04
  classes/01class/exercises/c01-git04/nimmi89/README.md
Labels: class01, ready to review

#707 fabioacp/c01-git04
  classes/01class/exercises/c01-git04/fabioacp/ANSWER.md
Labels: 2020-Jun, class01, ready to review

#725 Added obrientimothya/README.md Solves exercise c01-git01.
  classes/01class/exercises/c01-git01/obrientimothya/README.md
Labels: 2020-Jun, class01, ready to review

#718 Add ANSWER.md for carloshz4 c01-aws01
  classes/01class/exercises/c01-aws01/carloshz4/ANSWER.md
Labels: class01

#730 Solve all c01-git01 exercises
  classes/01class/exercises/c01-git01/gpavelar/ANSWER.md
Labels: 2020-Jun, class01, ready to review

#732 rename files that should be named README.md instead of ANSWER.md
  classes/01class/exercises/c01-aws01/carloshz4/README.md
  classes/01class/exercises/c01-git01/gpavelar/README.md
  classes/01class/exercises/c01-git01/mrcsmonteiro/README.md
  classes/01class/exercises/c01-git01/shahriar048/README.md
  classes/01class/exercises/c01-git02/mrcsmonteiro/README.md
  classes/01class/exercises/c01-git03/fabioacp/README.md
  classes/01class/exercises/c01-git03/mrcsmonteiro/README.md
  classes/01class/exercises/c01-git04/fabioacp/README.md
  classes/04class/exercises/c04-iac01/drii-cavalcanti/README.md
  classes/04class/exercises/c04-iac01/lgothelipe/README.md
  classes/04class/exercises/c04-iac02/drii-cavalcanti/README.md
  classes/04class/exercises/c04-iac03/drii-cavalcanti/README.md
Labels: Admin, class01, class04, ready to review

#735 removing space
  classes/04class/exercises/c04-rds02/hsy3418/db-description.txt
Labels: Admin, class04, ready to review

#716 fabioacp/c01-aws01
  classes/01class/exercises/c01-aws01/fabioacp/README.md
Labels: 2020-Jun, class01, ready to review

#721 rodrigovcesar/c01-aws01
  classes/01class/exercises/c01-aws01/rodrigovcesar/README.md
Labels: class01

#709 raghunadhpokkalath/c01-git01
  classes/01class/exercises/c01-git01/raghunadhpokkalath/README.MD
Labels: class01, ready to review

#688 gepifanio/c01-aws01
  classes/01class/exercises/c01-aws01/gepifanio/README.md
Labels: 2020-Jun, class01, ready to review

#689 gepifanio/c01-aws02
  classes/01class/exercises/c01-aws02/gepifanio/README.md
  classes/01class/exercises/c01-aws02/gepifanio/policy.json
Labels: 2020-Jun, class01, ready to review

#713 mfreitassm/c01 git04
  classes/01class/exercises/c01-git04/mfreitassm/README.md
Labels: 2020-Jun, class01, ready to review

#694 gepifanio/c01-git03
  classes/01class/exercises/c01-git03/gepifanio/README.md
Labels: 2020-Jun, class01, ready to review

#736 Adding exercise git03
  classes/01class/exercises/c01-git03/danielvca/README.md
Labels: 2020-Jun, class01, ready to review

#737 Adding exercise file
  classes/01class/exercises/c01-git01/danielvca/README.md
Labels: 2020-Jun, class01, ready to review

#743 Added obrientimothya/README.md Solves exercise c01-git04.
  classes/01class/exercises/c01-git04/obrientimothya/README.md
Labels: 2020-Jun, class01, ready to review

#742 Added obrientimothya/README.md Solves exercise c01-git03.
  classes/01class/exercises/c01-git03/obrientimothya/README.md
Labels: 2020-Jun, class01, ready to review

#750 roperto/c01-aws02
  classes/01class/exercises/c01-aws02/roperto/README.md
Labels: class01, ready to review

#751 Fix small typo in C01-AWS02 ANSWER.md
  classes/01class/exercises/c01-aws02/ANSWER.md
Labels: REPO-CONTENT, class01, ready to review

#749 Fix markdown format on frdvo/c01-aws02
  classes/01class/exercises/c01-aws02/frdvo/README.md
Labels: 2020-Jun, class01, ready to review

#724 Carloshz4/c01 git03
  classes/01class/exercises/c01-git03/carloshz4/README.md
Labels: class01, ready to review

#753 Fix Markdown and improvements on key generation
  classes/01class/exercises/c01-aws01/frdvo/README.md
Labels: 2020-Jun, class01, ready to review

#720 shahriar048/c01-git03
  classes/01class/exercises/c01-git03/shahriar048/README.md
Labels: 2020-Jun, class01, ready to review

#740 raghunadhpokkalath/c01-git02
  classes/01class/exercises/c01-git02/raghunadhpokkalath/README.md
Labels: class01, ready to review

#727 zarajoy/c01-git04
  classes/01class/exercises/c01-git04/zarajoy/README.md
Labels: 2020-Jun, class01, ready to review

#731 zarajoy/c01-aws01
  classes/01class/exercises/c01-aws01/zarajoy/README.md
Labels: 2020-Jun, class01, ready to review

#758 fabioacp/c01-aws02
  classes/01class/exercises/c01-aws02/fabioacp/README.md
Labels: 2020-Jun, class01, ready to review

#723 nimmi89/c01-aws01
  classes/01class/exercises/c01-aws01/nimmi89/README.md
Labels: 2020-Jun, class01, ready to review

#747 nimmi89/c01-aws02
  classes/01class/exercises/c01-aws02/nimmi89/README.md
Labels: 2020-Jun, class01, ready to review

#763 feernandobraga/c01-git01
  classes/01class/exercises/c01-git01/feernandobraga/README.md
Labels: 2020-Jun, class01, ready to review

#746 shahriar048/c01-git04
  classes/01class/exercises/c01-git04/shahriar048/README.md
Labels: 2020-Jun, class01, ready to review

#759 Solve all c01-git04 exercises
  classes/01class/exercises/c01-git04/gpavelar/README.md
Labels: 2020-Jun, class01, ready to review

#754 Adding exercise file
  classes/01class/exercises/c01-git04/danielvca/README.md
Labels: 2020-Jun, class01, ready to review

#765 Add README.md for exercise c01-git02
  classes/01class/exercises/c01-git02/carloshz4/README.md
Labels: class01, ready to review

#760 Zarajoy/c01-aws02
  classes/01class/exercises/c01-aws02/zarajoy/README.md
Labels: 2020-Jun, class01, ready to review

#770 feernandobraga/c01-aws01
  classes/01class/exercises/c01-aws01/feernandobraga/README.md
Labels: 2020-Jun, class01, ready to review

#779 Revert "Update team-external-students.tf"
  scripts/tf/github.com/team-external-students.tf
Labels: Admin, REPO-CONTENT

#783 fix broken pipeline
  scripts/tf/github.com/team-external-students.tf
Labels: Admin, REPO-CONTENT, ready to review

#789 refactoring exercises
  classes/01class/exercises/c01-aws01/ANSWER.md
  classes/02class/exercises/c02-network01/ANSWER.md
  classes/02class/exercises/c02-network01/README.md
  classes/02class/exercises/c02-network02/ANSWER.md
  classes/02class/exercises/c02-network02/README.md
  classes/02class/exercises/c02-network03/ANSWER.md
  classes/02class/exercises/c02-network03/README.md
  classes/02class/exercises/c02-network04/ANSWER.md
  classes/02class/exercises/c02-network04/README.md
  classes/02class/exercises/c02-network05/ANSWER.md
  classes/02class/exercises/c02-network05/README.md
  classes/02class/exercises/c02-network06/ANSWER.md
  classes/02class/exercises/c02-network06/README.md
  classes/02class/exercises/c02-network07/ANSWER.md
  classes/02class/exercises/c02-network07/README.md
  classes/02class/exercises/c02-network08/ANSWER.md
  classes/02class/exercises/c02-network08/README.md
  classes/02class/exercises/c02-network09/ANSWER.md
  classes/02class/exercises/c02-network09/README.md
  classes/02class/exercises/c02-network10/ANSWER.md
  classes/02class/exercises/c02-network10/README.md
  classes/02class/exercises/c02-network11/ANSWER.md
  classes/02class/exercises/c02-network11/README.md
  classes/02class/exercises/c02-network12-challenge/ANSWER.md
  classes/02class/exercises/c02-network12-challenge/README.md
Labels: Admin, REPO-CONTENT, class01, class02, ready to review

#786 shahriar048/c01-aws02
  classes/01class/exercises/c01-aws02/shahriar048/README.md
Labels: 2020-Jun, class01, ready to review

#784 feernandobraga/c01-aws02
  classes/01class/exercises/c01-aws02/feernandobraga/README.md
Labels: 2020-Jun, class01

#790 Split content CLI and IAM
  classes/02class/README.md
  classes/02class/aws_cli_iam/README.md
  classes/02class/aws_cli_iam/assets/PolicyEvaluationHorizontal.png
  classes/02class/aws_cli_iam/assets/iam_overview.jpg
  classes/02class/aws_cli_iam/assets/iam_role.png
  classes/02class/aws_cli_iam/assets/iam_sts_for_accessing_accs.png
  classes/02class/aws_cli_iam/assets/permission_format.png
  classes/02class/aws_cli_iam/assets/trust_relationships.png
  classes/02class/aws_cli_iam/class_plan.md
  classes/02class/exercises/README.md
  classes/02class/exercises/c04-iam01/ANSWER.md
  classes/02class/exercises/c04-iam01/Faria-Marcio/README.md
  classes/02class/exercises/c04-iam01/Faria-Marcio/S3readOnlyPolicy
  classes/02class/exercises/c04-iam01/Faria-Marcio/cli_commands.txt
  classes/02class/exercises/c04-iam01/README.md
  classes/02class/exercises/c04-iam01/andreazzabr/cli_commands.txt
  classes/02class/exercises/c04-iam01/andreazzabr/policys3readonly
  classes/02class/exercises/c04-iam01/andreazzabr/readme.md
  classes/02class/exercises/c04-iam01/carineoliveira/AmazonS3ReadOnlyAccess.json
  classes/02class/exercises/c04-iam01/carineoliveira/README.md
  classes/02class/exercises/c04-iam01/carineoliveira/cli_commands.txt
  classes/02class/exercises/c04-iam01/christina-roperto/README.md
  classes/02class/exercises/c04-iam01/christina-roperto/S3readOnlyPolicy.json
  classes/02class/exercises/c04-iam01/christina-roperto/cli_commands.txt
  classes/02class/exercises/c04-iam01/deniseddi/README.md
  classes/02class/exercises/c04-iam01/deniseddi/cli_commands.txt
  classes/02class/exercises/c04-iam01/deniseddi/policy-s3readonly.json
  classes/02class/exercises/c04-iam01/hsy3418/README.md
  classes/02class/exercises/c04-iam01/hsy3418/cli_commands.txt
  classes/02class/exercises/c04-iam01/hsy3418/policy
  classes/02class/exercises/c04-iam01/lgothelipe/README.md
  classes/02class/exercises/c04-iam01/lgothelipe/cli_commands.txt
  classes/02class/exercises/c04-iam01/lgothelipe/policy.json
  classes/02class/exercises/c04-iam01/luizfds/README.md
  classes/02class/exercises/c04-iam01/luizfds/cli_commands.txt
  classes/02class/exercises/c04-iam01/luizfds/policys3readonly.json
  classes/02class/exercises/c04-iam01/starkmatt/README.md
  classes/02class/exercises/c04-iam01/starkmatt/cli_commands.txt
  classes/02class/exercises/c04-iam01/starkmatt/readonly.json
  classes/04class/README.md
  classes/04class/aws_s3_rds/README.md
  classes/04class/aws_s3_rds/assets/PolicyEvaluationHorizontal.png
  classes/04class/aws_s3_rds/assets/anti_patterns_s3_usage.png
  classes/04class/aws_s3_rds/assets/index.html
  classes/04class/aws_s3_rds/assets/permission_format.png
  classes/04class/aws_s3_rds/assets/s3_bucket_policy.json
  classes/04class/aws_s3_rds/assets/trust_relationships.png
  classes/04class/aws_s3_rds/class_plan.md
Labels: Admin, REPO-CONTENT, class02, ready to review

#719 Add ANSWER.md for exercise c01-aws02
  classes/01class/exercises/c01-aws02/carloshz4/README.md
Labels: class01, ready to review

#722 Add ANSWER.md for exercise c01-git04
  classes/01class/exercises/c01-git04/carloshz4/README.md
Labels: class01, ready to review

#734 raghunadhpokkalat/c01-aws01
  classes/01class/exercises/c01-aws01/raghunadhpokkalath/README.md
Labels: class01, ready to review

#766 feernandobraga/c01-git02
  classes/01class/exercises/c01-git02/feernandobraga/README.md
Labels: 2020-Jun, class01, ready to review

#761 Adding exercise file
  classes/01class/exercises/c01-aws02/danielvca/README.md
Labels: 2020-Jun, class01, ready to review

#757 albertoeks/c01-git01
  classes/01class/exercises/c01-git01/albertoeks/README.md
Labels: class01, ready to review

#756 raghunadhpokkalath/c01-aws02
  classes/01class/exercises/c01-aws02/raghunadhpokkalath/README.MD
Labels: class01, ready to review

#791 Added obrientimothya/README.md Solves exercise c01-aws01.
  classes/01class/exercises/c01-aws01/obrientimothya/README.md
Labels: 2020-Jun, class01, ready to review

#800 Mail2kvanitha/c02-network01
  classes/02class/exercises/c02-network01/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#801 Add README.md for exercise c02-network01
  classes/02class/exercises/c02-network01/mrcsmonteiro/README.md
Labels: 2020-Jun, class02, ready to review

#802 zarajoy/c02-network01
  classes/02class/exercises/c02-network01/zarajoy/README.md
Labels: 2020-Jun, class02, ready to review

#803 jayanath/c01-network01
  classes/02class/exercises/c02-network01/jayanath/README.md
Labels: 2020-Jun, class02, ready to review

#806 jayanath/c02-network02
  classes/02class/exercises/c02-network02/jayanath/README.md
Labels: 2020-Jun, class02, ready to review

#810 mail2kvanitha/c02-network02
  classes/02class/exercises/c02-network02/mail2kvanitha/README.md
Labels: 2020-Jun, class02, ready to review

#811 jayanath/c02-network03
  classes/02class/exercises/c02-network03/jayanath/README.md
Labels: 2020-Jun, class02, ready to review

#795 Added obrientimothya/README.md Solves exercise c01-aws02.
  classes/01class/exercises/c01-aws02/obrientimothya/README.md
Labels: 2020-Jun, class01, ready to review

#815 Update team-reviewers.tf
  scripts/tf/github.com/team-reviewers.tf
Labels: 2020-Feb, REPO-CONTENT

#774 Mail2kvanitha/c01-git03
  classes/01class/exercises/c01-git03/mail2kvanitha/README.md
Labels: 2020-Jun, class01, ready to review

#775 Mail2kvanitha/c01-git01
  classes/01class/exercises/c01-git01/mail2kvanitha/README.md
Labels: 2020-Jun, class01, ready to review

#777 Mail2kvanitha/c01-git04
  classes/01class/exercises/c01-git04/mail2kvanitha/README.md
Labels: 2020-Jun, class01, ready to review
