Repository devopsacademyau/academy, pull requests merged in 2020-03, with the labels that each got.

#168 deniseddi/c02-network08
  classes/02class/exercises/c02-network08/deniseddi/c02-network08.txt
Labels: class02

#186 Henriqueediniz/c02 network04
  classes/02class/exercises/c02-network04/henriqueediniz/c02-network4.txt
Labels: class02

#147 andreazzabr/c02-network08
  classes/02class/exercises/c02-network08/andreazzabr/C02-network08.txt
Labels: class02

#193 Henriqueediniz/c02 network02
  classes/02class/exercises/c02-network02/henriqueediniz/c02-network02.txt
Labels: class02

#195 andreazzabr/c02-network10
  classes/02class/exercises/c02-network10/andreazzabr/c02-network10.txt
Labels: class02

#200 andreazzabr/c02-network11
  classes/02class/exercises/c02-network11/andreazzabr/c02-network11.txt
Labels: class02

#174 Starkmatt/c02 network11
  classes/02class/exercises/c02-network11/starkmatt/c02-network11.txt
Labels: class02

#173 Starkmatt/c02 network10
  classes/02class/exercises/c02-network10/starkmatt/c02-network10.txt
Labels: class02

#206 caiocezart/class03-docker-review
  classes/03class/docker/README.md
Labels: class content, class03

#154 IP Addressing: c02-network01
  classes/02class/exercises/c02-network01/Faria-Marcio/c02-network01.txt
Labels: class02

#204 caiocezart/class02-exercise-fix
  classes/02class/exercises/c02-network11/README.md
Labels: class content, class02

#123 Faria-Marcio/c01e03
  classes/01class/exercises/c01-e03/Faria-Marcio/c01-e03.txt
Labels: class01

#207 deniseddi/c02-network11
  classes/02class/exercises/c02-network11/deniseddi/c02-network11.txt
Labels: class02

#209 Route Table: c02-network07
  classes/02class/exercises/c02-network07/Faria-Marcio/c02-network07.txt
Labels: class02

#211 Network ACL: c02-network08
  classes/02class/exercises/c02-network08/Faria-Marcio/c02-network08.txt
Labels: class02

#202 lgothelipe/c02-network09
  classes/02class/exercises/c02-network09/lgothelipe/c02-network09.txt
Labels: class02

#212 Security Group: c02-network09
  classes/02class/exercises/c02-network09/Faria-Marcio/c02-network09.txt
Labels: class02

#213 Elastic Network Interface: c02-network10
  classes/02class/exercises/c02-network10/Faria-Marcio/c02-network10.txt
Labels: class02

#214 Repeat exercise from last class: c02-network11
  classes/02class/exercises/c02-network11/Faria-Marcio/c02-network11.txt
Labels: class02

#215 lgothelipe/c02-network11
  classes/02class/exercises/c02-network11/lgothelipe/c02-network11.txt
Labels: class02

#217 henriqueediniz/c02-network05
  classes/02class/exercises/c02-network05/henriqueediniz/c02-network05.txt
Labels: class02

#218 lgothelipe/c02-network12
  classes/02class/exercises/c02-network12-challenge/lgothelipe/c02-network12.txt
Labels: class02

#203 lgothelipe/c02-network10
  classes/02class/exercises/c02-network10/lgothelipe/c02-network10.txt
Labels: class02

#161 Internet Gateway (IGW): C02-Network05
  classes/02class/exercises/c02-network05/Faria-Marcio/c02-network05.txt
Labels: class02

#64 adding a new file c01-e03
  classes/01class/exercises/c01-e03/deniseddi/c01-e03.txt
Labels: class01

#198 lgothelipe/c02-network06
  classes/02class/exercises/c02-network06/lgothelipe/c02-network06.txt
Labels: class02

#222 Henriqueediniz/c02 network07
  classes/02class/exercises/c02-network07/henriqueediniz/c02-network07.txt
Labels: class02

#224 Henriqueediniz/c02 network09
  classes/02class/exercises/c02-network09/henriqueediniz/c02-network09.txt
Labels: class02

#143 class03 aws content
  classes/02class/exercises/c02-network12-challenge/README.md
  classes/03class/README.md
  classes/03class/aws/README.md
  classes/03class/aws/assets/ASG-LB.png
  classes/03class/aws/assets/alb.png
  classes/03class/aws/assets/asg-concepts.png
  classes/03class/exercises/README.md
  classes/03class/exercises/c03-aws01/README.md
  classes/03class/exercises/c03-aws02/README.md
  classes/03class/exercises/c03-aws03/README.md
Labels: class content, class03

#226 Update README.md
  classes/03class/exercises/c03-docker02/README.md
Labels: class03, invalid

#225 Update README.md
  classes/02class/exercises/c02-network08/README.md
Labels: class02, invalid

#219 starkmatt/c03 docker01
  classes/03class/exercises/c03-docker01/starkmatt/Dockerfile
  classes/03class/exercises/c03-docker01/starkmatt/c03-docker01.txt
Labels: class03

#230 fix/class03-description
  classes/03class/README.md
Labels: class03, invalid

#235 Henriqueediniz/c02 network10
  classes/02class/exercises/c02-network10/henriqueediniz/c02-network10.txt
Labels: class02

#236 Henriqueediniz/c02 network11
  classes/02class/exercises/c02-network11/henriqueediniz/c02-network11.txt
Labels: class02

#245 carineoliveira/c02-network04
  classes/02class/exercises/c02-network04/carineoliveira/c02-network4.txt
Labels: class02

#244 carineoliveira/c02-network03
  classes/02class/exercises/c02-network03/carineoliveira/c02-network03.txt
Labels: class02

#239 Henriqueediniz/c01 git01
  classes/01class/exercises/c01-git01/henriqueediniz/c01-git01-1.txt
  classes/01class/exercises/c01-git01/henriqueediniz/c01-git01-2.txt
  classes/01class/exercises/c01-git01/henriqueediniz/c01-git01-3.txt
Labels: class01

#242 carineoliveira/c02-network01
  classes/02class/exercises/c02-network01/carineoliveira/c02-network01.txt
Labels: class02

#243 carineoliveira/c02-network02
  classes/02class/exercises/c02-network02/carineoliveira/c02-network02.txt
Labels: class02

#237 luizfds/c03-aws01
  classes/03class/exercises/c03-aws01/luizfds/c03-aws01.txt
Labels: class03

#238 luizfds/c03-aws02
  classes/03class/exercises/c03-aws02/luizfds/c03-aws02.txt
Labels: class03

#240 Luizfds/c03-aws03
  classes/03class/exercises/c03-aws03/luizfds/c03-aws03.txt
Labels: class03

#91 exercise c02-network02
  classes/02class/exercises/c02-network02/andreazzabr/c02-network02.txt
  classes/02class/exercises/c02-network03/andreazzabr/c02-network03.txt
Labels: class02

#228 lgothelipe/c03-aws01
  classes/03class/exercises/c03-aws01/lgothelipe/c03-aws01.txt
Labels: class03

#251 Luizfds/c03-docker01
  classes/03class/exercises/c03-docker01/luizfds/Dockerfile
  classes/03class/exercises/c03-docker01/luizfds/c03-docker01.txt
Labels: class03

#257 luizfds/c03-docker02
  classes/03class/exercises/c03-docker02/luizfds/Dockerfile.v1
  classes/03class/exercises/c03-docker02/luizfds/Dockerfile.v2
  classes/03class/exercises/c03-docker02/luizfds/c03-docker02.txt
Labels: class03

#258 luizfds/c03-docker03
  classes/03class/exercises/c03-docker03/luizfds/c03-docker03.txt
Labels: class03

#263 luizfds/c03-docker05
  classes/03class/exercises/c03-docker05/luizfds/c03-docker05-01.txt
  classes/03class/exercises/c03-docker05/luizfds/c03-docker05-02.txt
  classes/03class/exercises/c03-docker05/luizfds/c03-docker05-03.txt
Labels: class03

#267 luizfds/c03-docker07
  classes/03class/exercises/c03-docker07/c03-docker07.txt
Labels: class03

#261 luizfds/c03-docker04
  classes/03class/exercises/c03-docker04/luizfds/c03-docker04-01.txt
  classes/03class/exercises/c03-docker04/luizfds/c03-docker04-02.txt
Labels: class03

#241 christina-roperto/c02 network12 challenge
  classes/02class/exercises/c02-network12-challenge/c02-network12.txt
Labels: class02

#248 Marcio anatrielo/c01 e01
  classes/01class/exercises/c01-e01/marcio-anatrielo/c01-e01/c01-e01.txt
Labels: class01

#249 Marcio anatrielo/c01 e02
  classes/01class/exercises/c01-e02/marcio-anatrielo/c01-e02/c01-e02.txt
Labels: class01

#271 Submit exercise marcio-anatrielo/c02-network06
  classes/02class/exercises/c02-network06/marcio-anatrielo/c02-network06/c02-network06.txt
Labels: class02

#275 deniseddi/c03-aws02
  classes/03class/exercises/c03-aws02/deniseddi/c03-aws02.txt
Labels: class03

#283 starkmatt/c03-docker03
  classes/03class/exercises/c03-docker03/starkmatt/c03-docker03.txt
Labels: class03, ready to review

#286 Luizfds/c03-docker07
  classes/03class/exercises/c03-docker07/luizfds/c03-docker07.txt
Labels: bug

#266 luizfds/c03-docker06
  classes/03class/exercises/c03-docker06/luizfds/Dockerfile
  classes/03class/exercises/c03-docker06/luizfds/c03-docker06.txt
Labels: class03

#294 lgothelipe/c03-docker01
  classes/03class/exercises/c03-docker01/lgothelipe/Dockerfile
  classes/03class/exercises/c03-docker01/lgothelipe/c03-docker01.txt
Labels: class03

#289 Andreazzabr c02 network06
  classes/02class/exercises/c02-network06/andreazzabr/c02-network06.txt
Labels: class02

#287 andreazzabr-c02-network03
  classes/02class/exercises/c02-network03/andreazzabr/c02-network03.txt
Labels: class02

#281 starkmatt/c03-aws02
  classes/03class/exercises/c03-aws02/starkmatt/c03-aws02.txt
Labels: class03, ready to review

#227 Luizfds/c02 network12
  classes/02class/exercises/c02-network12-challenge/luizfds/c02-network12.txt
Labels: class02, ready to review

#171 Starkmatt/c02 network08
  classes/02class/exercises/c02-network08/starkmatt/c02-network08.txt
Labels: class02, mark for deletion, ready to review

#292 lgothelipe/c03-aws03
  classes/03class/exercises/c03-aws03/lgothelipe/c03-aws03.txt
Labels: class03, ready to review

#296 Henriqueediniz/c01 git04
  classes/01class/exercises/c01-git04/henriqueediniz/c01-git04.txt
Labels: class03

#297 Henriqueediniz/c01 git03
  classes/01class/exercises/c01-git03/henriqueediniz/c01-git03.txt
Labels: class01

#298 henriqueediniz/c01-git02
  classes/01class/exercises/c01-git02/henriqueediniz/c01-git02-1.txt
  classes/01class/exercises/c01-git02/henriqueediniz/c01-git02-2.txt
Labels: class01

#301 Load Balancing: c03-aws02
  classes/03class/exercises/c03-aws02/Faria-Marcio/c03-aws02.txt
Labels: class03, ready to review

#303 henriqueediniz/c03-aws01
  classes/03class/exercises/c03-aws01/henriqueediniz/c03-aws01.txt
Labels: class03

#276 christina-roperto/c03-aws01
  classes/03class/exercises/c03-aws01/christina-roperto/c03-aws01.txt
Labels: class03

#304 fixing exercises submissions on wrong folders
  classes/01class/exercises/c01-e01/c01-e01.txt
  classes/01class/exercises/c01-e01/marcio-anatrielo/c01-e01.txt
  classes/01class/exercises/c01-e02/marcio-anatrielo/c01-e02.txt
  classes/01class/exercises/c01-git01/marcio-anatrielo/c01-git01.txt
  classes/01class/exercises/c01-git03/marcio-anatrielo/c01-git03.txt
  classes/01class/exercises/c01-git04/marcio-anatrielo/c01-git04.txt
  classes/02class/exercises/c02-network02/marcio-anatrielo/c02-network02.txt
  classes/02class/exercises/c02-network03/marcio-anatrielo/c02-network03.txt
  classes/02class/exercises/c02-network04/marcio-anatrielo/c02-network04.txt
  classes/02class/exercises/c02-network06/c02-network06.txt
  classes/02class/exercises/c02-network06/marcio-anatrielo/c02-network06.txt
  classes/02class/exercises/c02-network12-challenge/christina-roperto/c02-network12.txt
Labels: bug, class content

#300 Auto Scaling Group: c03-aws01
  classes/03class/exercises/c03-aws01/Faria-Marcio/c03-aws01.txt
Labels: class03, ready to review

#312 Create stale.yml
  .github/workflows/stale.yml
Labels: enhancement, ready to review

#291 christina-roperto/c03-docker01
  classes/03class/exercises/c03-docker01/christina-roperto/Dockerfile
  classes/03class/exercises/c03-docker01/christina-roperto/c03-docker01.txt
Labels: class03, ready to review

#299 minor adjustments for project 1
  projects/project01/README.md
Labels: class content, ready to review

#315 christina-roperto/c03-docker02
  classes/03class/exercises/c03-docker02/christina-roperto/Dockerfile.v1
  classes/03class/exercises/c03-docker02/christina-roperto/Dockerfile.v2
  classes/03class/exercises/c03-docker02/christina-roperto/c03-docker02.txt
Labels: class03, ready to review

#316 lgothelipe/c03-docker02
  classes/03class/exercises/c03-docker02/lgothelipe/Dockerfile.v1
  classes/03class/exercises/c03-docker02/lgothelipe/Dockerfile.v2
  classes/03class/exercises/c03-docker02/lgothelipe/c03-docker02.txt
Labels: class03, ready to review

#302 Dockerfile: c03-docker01
  classes/03class/exercises/c03-docker01/Faria-Marcio/Dockerfile
  classes/03class/exercises/c03-docker01/Faria-Marcio/c03-docker01.txt
Labels: class03, ready to review

#285 starkmatt/c03-docker05
  classes/03class/exercises/c03-docker05/starkmatt/c03-docker05-01.txt
  classes/03class/exercises/c03-docker05/starkmatt/c03-docker05-02.txt
  classes/03class/exercises/c03-docker05/starkmatt/c03-docker05-03.txt
Labels: class03

#284 starkmatt/c03-docker04
  classes/03class/exercises/c03-docker04/starkmatt/c03-docker04-01.txt
  classes/03class/exercises/c03-docker04/starkmatt/c03-docker04-02.txt
Labels: class03, ready to review

#231 starkmatt/c03-docker02
  classes/03class/exercises/c03-docker02/starkmatt/Dockerfile.v1
  classes/03class/exercises/c03-docker02/starkmatt/Dockerfile.v2
  classes/03class/exercises/c03-docker02/starkmatt/c03-docker02.txt
Labels: class03, ready to review

#253 carineoliveira/c02-network07
  classes/02class/exercises/c02-network07/carineoliveira/c02-network07.txt
Labels: class02, ready to review

#176 carineoliveira/c01-e03
  classes/01class/exercises/c01-e03/carineoliveira/c01-e03.txt
Labels: class01, ready to review

#318 adjust marcio anatrielo exercises to the right github username
  classes/01class/exercises/c01-e01/marcioanatrielo/c01-e01.txt
  classes/01class/exercises/c01-e02/marcioanatrielo/c01-e02.txt
  classes/01class/exercises/c01-git01/marcioanatrielo/c01-git01.txt
  classes/01class/exercises/c01-git03/marcioanatrielo/c01-git03.txt
  classes/01class/exercises/c01-git04/marcioanatrielo/c01-git04.txt
  classes/02class/exercises/c02-network02/marcioanatrielo/c02-network02.txt
  classes/02class/exercises/c02-network03/marcioanatrielo/c02-network03.txt
  classes/02class/exercises/c02-network04/marcioanatrielo/c02-network04.txt
  classes/02class/exercises/c02-network06/marcioanatrielo/c02-network06.txt
Labels: class01, class02, ready to review

#320 andreazzabr/c03-docker01
  classes/03class/exercises/c03-docker01/andreazzabr/c03-docker01.md
  classes/03class/exercises/c03-docker01/andreazzabr/dockerfile
Labels: class03, ready to review

#321 christina-roperto/c03-docker03
  classes/03class/exercises/c03-docker03/christina-roperto/c03-docker03.txt
Labels: class03, ready to review

#322 christina-roperto/c03-docker04
  classes/03class/exercises/c03-docker04/christina-roperto/c03-docker04-01.txt
  classes/03class/exercises/c03-docker04/christina-roperto/c03-docker04-02.txt
Labels: class03, ready to review

#323 christina-roperto/c03-docker05
  classes/03class/exercises/c03-docker05/christina-roperto/c03-docker05-01.txt
  classes/03class/exercises/c03-docker05/christina-roperto/c03-docker05-02.txt
  classes/03class/exercises/c03-docker05/christina-roperto/c03-docker05-03.txt
Labels: class03, ready to review

#170 Starkmatt/c02 network09
  classes/02class/exercises/c02-network09/starkmatt/c02-network09.txt
Labels: class02, ready to review

#234 kikobr82/class04-iac
  classes/04class/README.md
  classes/04class/exercises/README.md
  classes/04class/exercises/c04-iac01/ANSWER.md
  classes/04class/exercises/c04-iac01/README.md
  classes/04class/exercises/c04-iac02/ANSWER.md
  classes/04class/exercises/c04-iac02/README.md
  classes/04class/exercises/c04-iac03/ANSWER.md
  classes/04class/exercises/c04-iac03/README.md
  classes/04class/exercises/c04-iac04/ANSWER.md
  classes/04class/exercises/c04-iac04/README.md
  classes/04class/iac/README.md
  classes/04class/iac/artifacts/example/_backend.tf
  classes/04class/iac/artifacts/example/_provider.tf
  classes/04class/iac/artifacts/example/class.tfvars
  classes/04class/iac/artifacts/example/s3.tf
  classes/04class/iac/artifacts/example/sg.tf
  classes/04class/iac/artifacts/example/variables.tf
Labels: class content, class04, ready to review

#327 lgothelipe/c03-docker03
  classes/03class/exercises/c03-docker03/lgothelipe/c03-docker03.txt
Labels: class03, ready to review

#328 lgothelipe/c03-docker04
  classes/03class/exercises/c03-docker04/lgothelipe/c03-docker04-01.txt
  classes/03class/exercises/c03-docker04/lgothelipe/c03-docker04-02.txt
Labels: class03, ready to review

#332 lgothelipe/c03-docker07
  classes/03class/exercises/c03-docker07/lgothelipe/c03-docker07.txt
Labels: class03, ready to review

#329 lgothelipe/c03-docker05
  classes/03class/exercises/c03-docker05/lgothelipe/c03-docker05-01.txt
  classes/03class/exercises/c03-docker05/lgothelipe/c03-docker05-02.txt
  classes/03class/exercises/c03-docker05/lgothelipe/c03-docker05-03.txt
Labels: class03, ready to review

#331 lgothelipe/c03-docker06
  classes/03class/exercises/c03-docker06/lgothelipe/Dockerfile
  classes/03class/exercises/c03-docker06/lgothelipe/c03-docker06.txt
Labels: class03, ready to review

#337 andreazzabr/c03-docker03
  classes/03class/exercises/c03-docker03/andreazzabr/c03-docker03.txt
Labels: class03, ready to review

#338 andreazzabr/c03-docker04
  classes/03class/exercises/c03-docker04/andreazzabr/c03-docker04-01.txt
  classes/03class/exercises/c03-docker04/andreazzabr/c03-docker04-02.txt
Labels: class03, ready to review

#341 andreazzabr/c03-docker06
  classes/03class/exercises/c03-docker06/andreazzabr/c03-docker06.txt
  classes/03class/exercises/c03-docker06/andreazzabr/dockerfile
Labels: class03, ready to review

#339 andreazzabr/c03-docker05
  classes/03class/exercises/c03-docker05/andreazzabr/c03-docker05-01.txt
  classes/03class/exercises/c03-docker05/andreazzabr/c03-docker05-02.txt
  classes/03class/exercises/c03-docker05/andreazzabr/c03-docker05-03.txt
Labels: class03, ready to review

#343 andreazzabr/c03-docker07
  classes/03class/exercises/c03-docker07/andreazzabr/c03-docker07.md
Labels: class03, ready to review

#342 carineoliveira/c02-network10
  classes/02class/exercises/c02-network10/carineoliveira/c02-network10.txt
Labels: class02, ready to review

#324 andreazzabr/c03-docker02
  classes/03class/exercises/c03-docker02/andreazzabr/c03-docker02.md
  classes/03class/exercises/c03-docker02/andreazzabr/dockerfile.v1
  classes/03class/exercises/c03-docker02/andreazzabr/dockerfile.v2
Labels: class03, ready to review

#345 Webservers: c03-docker02
  classes/03class/exercises/c03-docker02/Faria-Marcio/Dockerfile.v1
  classes/03class/exercises/c03-docker02/Faria-Marcio/Dockerfile.v2
  classes/03class/exercises/c03-docker02/Faria-Marcio/c03-docker02.txt
Labels: class03, ready to review

#346 Faria marcio/c03 docker03
  classes/03class/exercises/c03-docker03/Faria-Marcio/c03-docker03.txt
Labels: class03, ready to review

#347 Faria marcio/c03 docker04
  classes/03class/exercises/c03-docker04/Faria-Marcio/c03-docker04-01.txt
  classes/03class/exercises/c03-docker04/Faria-Marcio/c03-docker04-02.txt
Labels: class03, ready to review

#348 Running Again: c03-docker05
  classes/03class/exercises/c03-docker05/Faria-Marcio/c03-docker05-01.txt
  classes/03class/exercises/c03-docker05/Faria-Marcio/c03-docker05-02.txt
  classes/03class/exercises/c03-docker05/Faria-Marcio/c03-docker05-03.txt
Labels: class03, ready to review

#325 Update stale.yml
  .github/workflows/stale.yml
Labels: enhancement

#349 Faria marcio/c03 docker06
  classes/03class/exercises/c03-docker06/Faria-Marcio/Dockerfile
  classes/03class/exercises/c03-docker06/Faria-Marcio/c03-docker06.txt
Labels: class03, ready to review

#290 andreazzabr-c03-aws01
  classes/03class/exercises/c03-aws01/andreazzabr/c03-aws01.md
Labels: class03, ready to review

#293 andreazzabr/c03-aws02
  classes/03class/exercises/c03-aws02/andreazzabr/c03-aws02.md
Labels: class03

#319 andreazzabr/c03-aws03
  classes/03class/exercises/c03-aws03/andreazzabr/c03-aws03.md
Labels: class03

#330 christina-roperto/c03-docker06
  classes/03class/exercises/c03-docker06/christina-roperto/Dockerfile
  classes/03class/exercises/c03-docker06/christina-roperto/c03-docker06.txt
Labels: class03

#358 kikobr82/stale-adjust
  .github/workflows/stale.yml
Labels: ready to review

#340 carineoliveira/c02-network09
  classes/02class/exercises/c02-network09/carineoliveira/c02-network09.txt
Labels: class02

#326 adding scripts
  scripts/dashboard.sh
  scripts/labs.txt
  scripts/students.txt
Labels: enhancement

#250 marcioanatrielo/c01-e03
  classes/01class/exercises/c01-e03/marcio-anatrielo/c01-e03.txt
Labels: class01, ready to review

#336 carineoliveira/c02-network08
  classes/02class/exercises/c02-network08/carineoliveira/c02-network08.txt
Labels: class02, ready to review

#255 marcioanatrielo/c01-git02
  classes/01class/exercises/c01-git02/marcio-anatrielo/c01-git02.txt
Labels: class01

#252 marcioanatrielo/c01 e04
  classes/01class/exercises/c01-e04/marcio-anatrielo/c01-e04.txt
Labels: class01

#361 christina-roperto/c03-docker07
  classes/03class/exercises/c03-docker07/christina-roperto/c03-docker07.txt
Labels: class03, ready to review

#69 Drii-cavalcanti/c01-git04
  classes/01class/exercises/c01-e04/drii-cavalcanti/c01-e04.txt
  classes/01class/exercises/c01-git03/drii-cavalcanti/c01-git03.txt
  classes/01class/exercises/c01-git04/drii-cavalcanti/c01-git04.txt
Labels: class01, ready to review

#370 cleaning up containers and images
  classes/03class/exercises/c03-docker04/drii-cavalcanti/c03-docker04-01.txt
  classes/03class/exercises/c03-docker04/drii-cavalcanti/c03-docker04-02.txt
Labels: class03, ready to review

#369 uploading images into dockerhub
  classes/03class/exercises/c03-docker03/drii-cavalcanti/c03-docker03.txt
Labels: class03, ready to review

#371 downloading from dockerhub
  classes/03class/exercises/c03-docker05/drii-cavalcanti/c03-docker05-01.txt
  classes/03class/exercises/c03-docker05/drii-cavalcanti/c03-docker05-02.txt
  classes/03class/exercises/c03-docker05/drii-cavalcanti/c03-docker05-03.txt
Labels: class03, ready to review

#360 carineoliveira/c02-network11
  classes/02class/exercises/c02-network11/carineoliveira/c02-network11.txt
Labels: class02, ready to review

#367 Update dashboard.sh
  scripts/dashboard.sh
Labels: ready to review

#382 adding the commit go the answer files
  classes/04class/exercises/c04-iac01/ANSWER.md
  classes/04class/exercises/c04-iac02/ANSWER.md
  classes/04class/exercises/c04-iac03/ANSWER.md
  classes/04class/exercises/c04-iac04/ANSWER.md
Labels: class04, ready to review

#172 Starkmatt/c02 network07
  classes/02class/exercises/c02-network07/starkmatt/c02-network07.txt
Labels: class02

#190 drii-cavalcanti/c02-network08 - creating ACL rules
  classes/02class/exercises/c02-network08/drii-cavalcanti/c02-network08.txt
Labels: class02

#192 drii-cavalcanti/c02-network09
  classes/02class/exercises/c02-network09/drii-cavalcanti/c02-network09.txt
Labels: class02, ready to review

#280 starkmatt/c03 aws01
  classes/03class/exercises/c03-aws01/starkmatt/c03-aws01.txt
  classes/03class/exercises/c03-docker02/starkmatt/c03-docker02.txt
Labels: class03

#377 henriqueediniz/c03-docker01
  classes/03class/exercises/c03-docker01/henriqueediniz/Dockerfile
  classes/03class/exercises/c03-docker01/henriqueediniz/c03-docker01.txt
Labels: class03, ready to review

#379 drii-cavalcanti/c02-network04: creating 6 subnets within different availability zones
  classes/02class/exercises/c02-network04/drii-cavalcanti/c02-network4.txt
Labels: class02, ready to review

#362 henriqueediniz/c03-aws02-fixlabels
  classes/03class/exercises/c03-aws02/henriqueediniz/c03-aws02.txt
Labels: class03

#363 andreazzabr/C01-git03
  classes/01class/exercises/c01-git03/andreazzabr/c01-git03-1.txt
Labels: class01

#373 drii-cavalcanti/c03-docker06: working with variables and docker
  classes/03class/exercises/c03-docker06/drii-cavalcanti/Dockerfile
  classes/03class/exercises/c03-docker06/drii-cavalcanti/c03-docker06.txt
Labels: class03, ready to review

#381 drii-cavalcanti/c02-network10: creating an ENI
  classes/02class/exercises/c02-network10/drii-cavalcanti/c02-network10.txt
Labels: class02, ready to review

#365 andreazzabr/c01-git04
  classes/01class/exercises/c01-git04/andreazzabr/c01-git04-1.txt
Labels: class01

#364 christina-roperto/c03-aws03
  classes/03class/exercises/c03-aws03/christina-roperto/c03-aws03.txt
Labels: class03, ready to review

#378 drii-cavalcanti/c01-e03: creating EC2 with public and private IP
  classes/01class/exercises/c01-e03/drii-cavalcanti/c01-e03.txt
Labels: class01, ready to review

#314 Class04 - CLI, IAM, S3 and RDS
  README.md
  classes/04class/README.md
  classes/04class/aws_iam_storage/README.md
  classes/04class/aws_iam_storage/assets/PolicyEvaluationHorizontal.png
  classes/04class/aws_iam_storage/assets/anti_patterns_s3_usage.png
  classes/04class/aws_iam_storage/assets/iam_overview.jpg
  classes/04class/aws_iam_storage/assets/iam_role.png
  classes/04class/aws_iam_storage/assets/iam_sts_for_accessing_accs.png
  classes/04class/aws_iam_storage/assets/index.html
  classes/04class/aws_iam_storage/assets/permission_format.png
  classes/04class/aws_iam_storage/assets/s3_bucket_policy.json
  classes/04class/aws_iam_storage/assets/trust_relationships.png
  classes/04class/aws_iam_storage/class_plan.md
  classes/04class/exercises/c04-iam01/ANSWER.md
  classes/04class/exercises/c04-iam01/README.md
  classes/04class/exercises/c04-rds01/ANSWER.md
  classes/04class/exercises/c04-rds01/README.md
  classes/04class/exercises/c04-rds02/ANSWER.md
  classes/04class/exercises/c04-rds02/README.md
  classes/04class/exercises/c04-s301/ANSWER.md
  classes/04class/exercises/c04-s301/README.md
Labels: class content, class04, ready to review

#389 ECS: c03-docker07
  classes/03class/exercises/c03-docker07/Faria-Marcio/c03-docker07.txt
Labels: class03, ready to review

#390 adding the right commit answer
  classes/04class/exercises/c04-iam01/ANSWER.md
  classes/04class/exercises/c04-rds01/ANSWER.md
  classes/04class/exercises/c04-rds02/ANSWER.md
  classes/04class/exercises/c04-s301/ANSWER.md
Labels: class04, ready to review

#394 Hsy3418/c01 git02
  classes/01class/exercises/c01-git02/hsy3418/c01-git02-1.txt
  classes/01class/exercises/c01-git02/hsy3418/c01-git02-2.txt
Labels: class01, ready to review

#395 Hsy3418/c01-git03
  classes/01class/exercises/c01-git03/hsy3418/c01-git03-1.txt
Labels: class01, ready to review

#396 Hsy3418/c01 git04
  classes/01class/exercises/c01-git04/hsy3418/c01-git04-1.txt 
Labels: class01, ready to review

#397 Hsy3418/c01 e01
  classes/01class/exercises/c01-e01/hsy3418/c01-e01.txt
Labels: class01, ready to review

#398 Hsy3418/c01 e03
  classes/01class/exercises/c01-e03/hsy3418/c01-e03.txt
Labels: class01, ready to review
