Repository devopsacademyau/academy, pull requests merged in 2020-08, with the labels that each got.

#1317 jayanath/c04-iac02
  classes/04class/exercises/c04-iac02/jayanath/README.md
  classes/04class/exercises/c04-iac02/jayanath/_backend.tf
  classes/04class/exercises/c04-iac02/jayanath/_provider.tf
  classes/04class/exercises/c04-iac02/jayanath/main.tfvars
  classes/04class/exercises/c04-iac02/jayanath/output.tf
  classes/04class/exercises/c04-iac02/jayanath/output.txt
  classes/04class/exercises/c04-iac02/jayanath/variables.tf
  classes/04class/exercises/c04-iac02/jayanath/vpc.tf
Labels: 2020-Jun, class04, ready to review

#1314 nimmi89/c04-iac02
  classes/04class/exercises/c04-iac02/nimmi89/README.md
  classes/04class/exercises/c04-iac02/nimmi89/_backend.tf
  classes/04class/exercises/c04-iac02/nimmi89/_provider.tf
  classes/04class/exercises/c04-iac02/nimmi89/main.tfvars
  classes/04class/exercises/c04-iac02/nimmi89/output.tf
  classes/04class/exercises/c04-iac02/nimmi89/output.txt
  classes/04class/exercises/c04-iac02/nimmi89/variables.tf
  classes/04class/exercises/c04-iac02/nimmi89/vpc.tf
Labels: 2020-Jun, class04, ready to review

#1016 carloshz4/c02-network07
  classes/02class/exercises/c02-network07/carloshz4/README.md
Labels: class02, marked-for-deletion, ready to review

#1011 carloshz4/c02-network02
  classes/02class/exercises/c02-network02/carloshz4/README.md
Labels: class02, marked-for-deletion, ready to review

#1186 PR for mail2kvanitha/c03-aws03
  classes/03class/exercises/c03-aws03/mail2kvanitha/README.md
Labels: 2020-Jun, class03, ready to review

#1188 gpavelar/c02-network08
  classes/02class/exercises/c02-network08/gpavelar/README.md
Labels: 2020-Jun, class02, ready to review

#1191 frdvo/c03-aws03 Create Route53 Hosted Zone and CNAME point to LB
  classes/03class/exercises/c03-aws03/frdvo/README.md
  classes/03class/exercises/c03-aws03/frdvo/adnslb.json
Labels: 2020-Jun, class03, ready to review

#1207 Add README.md for exercise carloshz4/c03-aws01
  classes/03class/exercises/c03-aws01/carloshz4/README.md
Labels: class03, ready to review

#1192 gpavelar/c03-aws02
  classes/03class/exercises/c03-aws02/gpavelar/README.md
Labels: 2020-Jun, class03

#1243 Added anwickes/c02-network01
  classes/02class/exercises/c02-network01/anwickes/README.md
Labels: class02

#1247 Added anwickes/c02-network02
  classes/02class/exercises/c02-network02/anwickes/README.md
Labels: class02

#1250 Added anwickes/c02-network04
  classes/02class/exercises/c02-network04/anwickes/ANSWER.md
Labels: class02

#1251 Added anwickes/c02-network05
  classes/02class/exercises/c02-network05/anwickes/README.md
Labels: class02

#1253 Added anwickes/c02-network06
  classes/02class/exercises/c02-network06/anwickes/ANSWER.md
Labels: class02

#1260 Added anwickes/c02-network07
  classes/02class/exercises/c02-network07/anwickes/ANSWER.md
Labels: class02

#1340 Add files for exercise c04-iac04
  classes/04class/exercises/c04-iac04/mrcsmonteiro/README.md
  classes/04class/exercises/c04-iac04/mrcsmonteiro/output.txt
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-apply.txt
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/alb/main.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/alb/outputs.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/alb/variables.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/asg/main.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/asg/outputs.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/asg/user_data.sh
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/asg/variables.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/sg/main.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/sg/outputs.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/sg/variables.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/vpc/main.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/vpc/outputs.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/iac-04-module/vpc/variables.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/output.tf
  classes/04class/exercises/c04-iac04/mrcsmonteiro/terraform-code/variables.tf
Labels: 2020-Jun, class04

#1335 alanlima/c04-iac04
  classes/04class/exercises/c04-iac04/alanlima/README.md
  classes/04class/exercises/c04-iac04/alanlima/output.txt
  classes/04class/exercises/c04-iac04/alanlima/terraform-apply.txt
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/iac-04-module/README.md
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/iac-04-module/asg-scale-policies.tf
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/iac-04-module/main.tf
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/iac-04-module/outputs.tf
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/iac-04-module/security-group.tf
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/iac-04-module/variables.tf
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/outputs.tf
  classes/04class/exercises/c04-iac04/alanlima/terraform-code/variables.tf
Labels: 2020-Jun, class04

#1303 alanlima/c04-iac03
  classes/04class/exercises/c04-iac03/alanlima/README.md
Labels: 2020-Jun, class04, ready to review

#1318 jayanath/c04-iac03
  classes/04class/exercises/c04-iac03/jayanath/README.md
Labels: 2020-Jun, class04, ready to review

#1342 fabioacp/c04-iac03
  classes/04class/exercises/c04-iac03/fabioacp/README.md
Labels: 2020-Jun, class04, ready to review

#1347 zarajoy/c04-iac03
  classes/04class/exercises/c04-iac03/zarajoy/README.md
  classes/04class/exercises/c04-iac03/zarajoy/output.txt
Labels: 2020-Jun, class04, ready to review

#1344 Raghunadhpokkalath/c04-iac03
  classes/04class/exercises/c04-iac03/raghunadhpokkalath/README.md
Labels: class04, ready to review

#1311 carloshz4/c04-iac03
  classes/04class/exercises/c04-iac03/carloshz4/README.md
Labels: class04, ready to review

#1339 raghunadhpokkalath/c04-iac02
  classes/04class/exercises/c04-iac02/raghunadhpokkalath/README.md
  classes/04class/exercises/c04-iac02/raghunadhpokkalath/_backend.tf
  classes/04class/exercises/c04-iac02/raghunadhpokkalath/_provider.tf
  classes/04class/exercises/c04-iac02/raghunadhpokkalath/main.tfvars
  classes/04class/exercises/c04-iac02/raghunadhpokkalath/output.tf
  classes/04class/exercises/c04-iac02/raghunadhpokkalath/output.txt
  classes/04class/exercises/c04-iac02/raghunadhpokkalath/variables.tf
  classes/04class/exercises/c04-iac02/raghunadhpokkalath/vpc.tf
Labels: class04, ready to review

#1236 gpavelar/c03-docker03
  classes/03class/exercises/c03-docker03/gpavelar/README.md
Labels: 2020-Jun, class03, ready to review

#1270 carloshz4/c03-compose01
  classes/03class/exercises/c03-compose01/carloshz4/README.md
  classes/03class/exercises/c03-compose01/carloshz4/docker-compose.yaml
Labels: class03, ready to review

#1279 igorjosesantos/c01-aws01
  classes/01class/exercises/c01-aws01/igorjosesantos/.gitignore
  classes/01class/exercises/c01-aws01/igorjosesantos/README.md
Labels: 2020-Jun, class01, ready to review

#1239 gpavelar/c03-docker04
  classes/03class/exercises/c03-docker04/gpavelar/README.md
Labels: 2020-Jun, class03, ready to review

#1241 raghunadhpokkalath/C03-Docker04
  classes/03class/exercises/c03-docker04/raghunadhpokkalath/README.md
Labels: class03, ready to review

#1238 raghunadhpokkalath/c03-docker03
  classes/03class/exercises/c03-docker03/raghunadhpokkalath/README.md
Labels: class03, ready to review

#1259 mfreitassm/c03-docker04
  classes/03class/exercises/c03-docker04/mfreitassm/README.md
Labels: 2020-Jun, class03, ready to review

#1281 igorjosesantos/c02-network01
  classes/02class/exercises/c02-network01/igorjosesantos/README.md
Labels: 2020-Jun, class02, ready to review

#1306 raghunadhpokkalath/C03-Make01
  classes/03class/exercises/c03-make01/raghunadhpokkalath/Dockerfile
  classes/03class/exercises/c03-make01/raghunadhpokkalath/Makefile
  classes/03class/exercises/c03-make01/raghunadhpokkalath/README.md
Labels: class03, ready to review

#1263 mfreitassm/c03-docker06
  classes/03class/exercises/c03-docker06/mfreitassm/Dockerfile
  classes/03class/exercises/c03-docker06/mfreitassm/README.md
Labels: 2020-Jun, class03, ready to review

#1280 igorjosesantos/c01-aws02
  classes/01class/exercises/c01-aws02/igorjosesantos/README.md
  classes/01class/exercises/c01-aws02/igorjosesantos/ec2s3ReadOnly_TrustPolicy.json
Labels: 2020-Jun, class01, ready to review

#1293 gpavelar/c02-network01
  classes/02class/exercises/c02-network01/gpavelar/README.md
Labels: 2020-Jun, class02, ready to review

#1252 Add solution for exercise c02-network06
  classes/02class/exercises/c02-network06/obrientimothya/README.md
Labels: 2020-Jun, class02, ready to review

#1261 Add solution for exercise c02-network07
  classes/02class/exercises/c02-network07/obrientimothya/README.md
Labels: 2020-Jun, class02, ready to review

#1264 Add solution for exercise c02-network08
  classes/02class/exercises/c02-network08/obrientimothya/README.md
Labels: 2020-Jun, class02, ready to review

#1266 Add solution for exercise c02-network09
  classes/02class/exercises/c02-network09/obrientimothya/README.md
Labels: 2020-Jun, class02, ready to review

#1267 Add solution for exercise c02-network10
  classes/02class/exercises/c02-network10/obrientimothya/README.md
Labels: 2020-Jun, class02, ready to review

#1268 Add solution for exercise c02-network11
  classes/02class/exercises/c02-network11/obrientimothya/README.md
Labels: 2020-Jun, class02, ready to review

#1246 Add solution for exercise c02-network05
  classes/02class/exercises/c02-network05/obrientimothya/README.md
Labels: 2020-Jun, class02, ready to review

#1271 Add solution for exercise c03-aws01
  classes/03class/exercises/c03-aws01/obrientimothya/README.md
Labels: 2020-Jun, class03, ready to review

#1328 Add solution for exercise c03make01
  classes/03class/exercises/c03-make01/obrientimothya/Dockerfile
  classes/03class/exercises/c03-make01/obrientimothya/Makefile
  classes/03class/exercises/c03-make01/obrientimothya/README.md
Labels: 2020-Jun, class03, ready to review

#1319 rodrigovcesar/c03-aws01
  classes/03class/exercises/c03-aws01/rodrigovcesar/README.md
  classes/03class/exercises/c03-aws01/rodrigovcesar/userdata.txt
Labels: class03, ready to review

#1354 Add Alan Lima to Reviewers
  scripts/tf/github.com/da-project/repo.tf
  scripts/tf/github.com/team-reviewers.tf
Labels: Admin, REPO-CONTENT

#1369 mfretassm/c04-iam01
  classes/02class/exercises/c04-iam01/mfreitassm/README.md
  classes/02class/exercises/c04-iam01/mfreitassm/cli_commands.txt
Labels: 2020-Jun, class02, ready to review

#1368 mfreitassm/c01-aws02
  classes/01class/exercises/c01-aws02/mfreitassm/README.md
Labels: 2020-Jun, class01, ready to review

#1360 Change to `admin` permission for students
  scripts/tf/github.com/da-project/team.tf
Labels: Admin, REPO-CONTENT

#1367 Caio/class05
  classes/05class/README.md
  classes/05class/cloudwatch/README.md
  classes/05class/kms/README.md
  classes/05class/kms/assets/kms-key.png
  topics/exercises/c04-rds01/ANSWER.md
  topics/exercises/c04-rds01/Faria-Marcio/db-creation.txt
  topics/exercises/c04-rds01/Faria-Marcio/output.txt
  topics/exercises/c04-rds01/Faria-Marcio/readme.md
  topics/exercises/c04-rds01/README.md
  topics/exercises/c04-rds01/andreazzabr/db-creation.txt
  topics/exercises/c04-rds01/andreazzabr/output.txt
  topics/exercises/c04-rds01/andreazzabr/readme.md
  topics/exercises/c04-rds01/carineoliveira/README.md
  topics/exercises/c04-rds01/carineoliveira/db-creation.txt
  topics/exercises/c04-rds01/carineoliveira/output.txt
  topics/exercises/c04-rds01/christina-roperto/README.md
  topics/exercises/c04-rds01/christina-roperto/db-creation.txt
  topics/exercises/c04-rds01/christina-roperto/output.txt
  topics/exercises/c04-rds01/hsy3418/db-creation.txt
  topics/exercises/c04-rds01/hsy3418/output.txt
  topics/exercises/c04-rds01/hsy3418/readme.md
  topics/exercises/c04-rds01/lgothelipe/README.md
  topics/exercises/c04-rds01/lgothelipe/db-creation.txt
  topics/exercises/c04-rds01/lgothelipe/output.txt
  topics/exercises/c04-rds01/luizfds/README.md
  topics/exercises/c04-rds01/luizfds/db-creation.txt
  topics/exercises/c04-rds01/luizfds/output.txt
  topics/exercises/c04-rds01/starkmatt/README.md
  topics/exercises/c04-rds01/starkmatt/db-creation.txt
  topics/exercises/c04-rds01/starkmatt/output.txt
  topics/exercises/c04-rds02/ANSWER.md
  topics/exercises/c04-rds02/Faria-Marcio/README.md
  topics/exercises/c04-rds02/Faria-Marcio/db-deletion.txt
  topics/exercises/c04-rds02/Faria-Marcio/db-description.txt
  topics/exercises/c04-rds02/README.md
  topics/exercises/c04-rds02/andreazzabr/README.md
  topics/exercises/c04-rds02/andreazzabr/db-deletion.txt
  topics/exercises/c04-rds02/andreazzabr/db-description.txt
  topics/exercises/c04-rds02/carineoliveira/README.md
  topics/exercises/c04-rds02/carineoliveira/db-deletion.txt
  topics/exercises/c04-rds02/carineoliveira/db-description.txt
  topics/exercises/c04-rds02/christina-roperto/README.md
  topics/exercises/c04-rds02/christina-roperto/db-deletion.txt
  topics/exercises/c04-rds02/christina-roperto/db-description.txt
  topics/exercises/c04-rds02/hsy3418/README.md
  topics/exercises/c04-rds02/hsy3418/db-deletion.txt
  topics/exercises/c04-rds02/hsy3418/db-description.txt
  topics/exercises/c04-rds02/lgothelipe/README.md
  topics/exercises/c04-rds02/lgothelipe/db-deletion.txt
  topics/exercises/c04-rds02/lgothelipe/db-description.txt
  topics/exercises/c04-rds02/luizfds/README.md
  topics/exercises/c04-rds02/luizfds/db-deletion.txt
  topics/exercises/c04-rds02/luizfds/db-description.txt
Labels: Admin, REPO-CONTENT, class05, ready to review

#1353 Small fixes iac03
  classes/04class/exercises/c04-iac03/ANSWER.md
Labels: Admin, REPO-CONTENT, class04, ready to review

#1358 zarajoy/c04-iac04
  classes/04class/exercises/c04-iac04/zarajoy/README.md
  classes/04class/exercises/c04-iac04/zarajoy/output.txt
  classes/04class/exercises/c04-iac04/zarajoy/terraform-apply.txt
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/iac-04-module/app_load_balancer/main.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/iac-04-module/app_load_balancer/output.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/iac-04-module/app_load_balancer/variables.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/iac-04-module/network/main.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/iac-04-module/network/output.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/iac-04-module/network/variables.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/iac-04-module/security/main.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/iac-04-module/security/output.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/iac-04-module/security/variables.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/output.tf
  classes/04class/exercises/c04-iac04/zarajoy/terraform-code/variables.tf
Labels: 2020-Jun, class04, ready to review

#1350 Fix exercise link iac2
  classes/04class/exercises/c04-iac02/ANSWER.md
Labels: Admin, REPO-CONTENT, class04, ready to review

#1221 Update links project 1
  projects/project01/README.md
  scripts/projects/README.md
Labels: Admin, REPO-CONTENT, ready to review

#1349 Small fixes c04-iac01
  classes/04class/exercises/c04-iac01/ANSWER.md
  classes/04class/exercises/c04-iac01/README.md
Labels: Admin, REPO-CONTENT, class04, ready to review

#1355 Danielvca/c04 iac02
  classes/04class/exercises/c04-iac02/danielvca/README.md
  classes/04class/exercises/c04-iac02/danielvca/_backend.tf
  classes/04class/exercises/c04-iac02/danielvca/_provider.tf
  classes/04class/exercises/c04-iac02/danielvca/main.auto.tfvars
  classes/04class/exercises/c04-iac02/danielvca/output.tf
  classes/04class/exercises/c04-iac02/danielvca/output.txt
  classes/04class/exercises/c04-iac02/danielvca/variables.tf
  classes/04class/exercises/c04-iac02/danielvca/vpc.tf
Labels: 2020-Jun, class04, ready to review

#1275 albertoeks/c01-aws01
  classes/01class/exercises/c01-aws01/albertoeks/README.md
Labels: class01, ready to review

#1255 raghunadhpokkalath/C03-DOCKER06
  classes/03class/exercises/c03-docker06/raghunadhpokkalath/Dockerfile
  classes/03class/exercises/c03-docker06/raghunadhpokkalath/README.md
Labels: class03, ready to review

#1420 Solution for exercise c04-iac03
  classes/04class/exercises/c04-iac03/obrientimothya/README.md
Labels: 2020-Jun, class04, ready to review

#1254 gpavelar/c03-docker06
  classes/03class/exercises/c03-docker06/gpavelar/Dockerfile
  classes/03class/exercises/c03-docker06/gpavelar/README.md
Labels: 2020-Jun, class03, ready to review

#1265 gpavelar/c03-make01
  classes/03class/exercises/c03-make01/gpavelar/Dockerfile
  classes/03class/exercises/c03-make01/gpavelar/Makefile
  classes/03class/exercises/c03-make01/gpavelar/README.md
Labels: 2020-Jun, class03, ready to review

#1393 PR for mail2kvanitha/c04-s301
  classes/05class/exercises/c04-s301/mail2kvanitha/README.md
  classes/05class/exercises/c04-s301/mail2kvanitha/cli_commands.txt
  classes/05class/exercises/c04-s301/mail2kvanitha/website_url.txt
Labels: 2020-Jun, class05, ready to review

#1390 alanlima/c04-s301
  classes/05class/exercises/c04-s301/alanlima/README.md
  classes/05class/exercises/c04-s301/alanlima/bucket-publicaccess-policy.json
  classes/05class/exercises/c04-s301/alanlima/cli_commands.txt
  classes/05class/exercises/c04-s301/alanlima/website_url.txt
Labels: 2020-Jun, class05, ready to review

#1375 nimmi89/c04-s301
  classes/05class/exercises/c04-s301/nimmi89/README.md
  classes/05class/exercises/c04-s301/nimmi89/cli_commands.txt
  classes/05class/exercises/c04-s301/nimmi89/s3_bucket_policy.json
  classes/05class/exercises/c04-s301/nimmi89/website_url.txt
Labels: 2020-Jun, class05, ready to review

#1365 Add files for exercise c04-s301
  classes/05class/exercises/c04-s301/mrcsmonteiro/README.md
  classes/05class/exercises/c04-s301/mrcsmonteiro/cli_commands.txt
  classes/05class/exercises/c04-s301/mrcsmonteiro/website_url.txt
Labels: 2020-Jun, class05, ready to review

#1417 frdvo/c04-s301
  classes/05class/exercises/c04-s301/frdvo/README.md
  classes/05class/exercises/c04-s301/frdvo/cli_commands.txt
  classes/05class/exercises/c04-s301/frdvo/index.html
  classes/05class/exercises/c04-s301/frdvo/s3_bucket_policy.json
  classes/05class/exercises/c04-s301/frdvo/website_url.txt
Labels: 2020-Jun, class05, ready to review

#1405 gepifanio/c04-s301
  classes/05class/exercises/c04-s301/gepifanio/README.md
  classes/05class/exercises/c04-s301/gepifanio/cli_commands.txt
  classes/05class/exercises/c04-s301/gepifanio/s3_bucket_policy.json
  classes/05class/exercises/c04-s301/gepifanio/website_url.txt
Labels: 2020-Jun, class05, ready to review

#1407 jayanath/c04-s301
  classes/05class/exercises/c04-s301/jayanath/README.md
  classes/05class/exercises/c04-s301/jayanath/cli_commands.txt
  classes/05class/exercises/c04-s301/jayanath/public_s3_policy.json
  classes/05class/exercises/c04-s301/jayanath/website_url.txt
Labels: 2020-Jun, class05, ready to review

#1391 alanlima/c04-3m01
  classes/05class/exercises/c05-3m01/alanlima/.env
  classes/05class/exercises/c05-3m01/alanlima/Dockerfile
  classes/05class/exercises/c05-3m01/alanlima/Makefile
  classes/05class/exercises/c05-3m01/alanlima/README.md
  classes/05class/exercises/c05-3m01/alanlima/docker-compose.yml
  classes/05class/exercises/c05-3m01/alanlima/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/alanlima/scripts/delete_bucket.sh
Labels: 2020-Jun, class05, ready to review

#1419 PR for mail2kvanitha/c05-3m01
  classes/05class/exercises/c05-3m01/mail2kvanitha/.env
  classes/05class/exercises/c05-3m01/mail2kvanitha/Dockerfile
  classes/05class/exercises/c05-3m01/mail2kvanitha/Makefile
  classes/05class/exercises/c05-3m01/mail2kvanitha/README.md
  classes/05class/exercises/c05-3m01/mail2kvanitha/docker-compose.yaml
  classes/05class/exercises/c05-3m01/mail2kvanitha/output.md
  classes/05class/exercises/c05-3m01/mail2kvanitha/scripts/cleanup.sh
  classes/05class/exercises/c05-3m01/mail2kvanitha/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/mail2kvanitha/scripts/delete_bucket.sh
Labels: 2020-Jun, class05, ready to review

#1366 Add files for exercise c05-3m01
  classes/05class/exercises/c05-3m01/mrcsmonteiro/.env
  classes/05class/exercises/c05-3m01/mrcsmonteiro/Dockerfile
  classes/05class/exercises/c05-3m01/mrcsmonteiro/Makefile
  classes/05class/exercises/c05-3m01/mrcsmonteiro/README.md
  classes/05class/exercises/c05-3m01/mrcsmonteiro/docker-compose.yaml
  classes/05class/exercises/c05-3m01/mrcsmonteiro/output.md
  classes/05class/exercises/c05-3m01/mrcsmonteiro/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/mrcsmonteiro/scripts/delete_bucket.sh
Labels: 2020-Jun, class05, ready to review

#1424 Solution for exercise c05-3m01
  classes/05class/exercises/c05-3m01/obrientimothya/.env
  classes/05class/exercises/c05-3m01/obrientimothya/Dockerfile
  classes/05class/exercises/c05-3m01/obrientimothya/Makefile
  classes/05class/exercises/c05-3m01/obrientimothya/README.md
  classes/05class/exercises/c05-3m01/obrientimothya/docker-compose.yml
  classes/05class/exercises/c05-3m01/obrientimothya/output.tf
  classes/05class/exercises/c05-3m01/obrientimothya/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/obrientimothya/scripts/delete_bucket.sh
Labels: 2020-Jun, class05, ready to review

#1408 jayanath/c05-3m01
  classes/05class/exercises/c05-3m01/jayanath/.env
  classes/05class/exercises/c05-3m01/jayanath/Dockerfile
  classes/05class/exercises/c05-3m01/jayanath/Makefile
  classes/05class/exercises/c05-3m01/jayanath/README.md
  classes/05class/exercises/c05-3m01/jayanath/docker-compose.yaml
  classes/05class/exercises/c05-3m01/jayanath/output.md
  classes/05class/exercises/c05-3m01/jayanath/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/jayanath/scripts/delete_bucket.sh
Labels: 2020-Jun, class05, ready to review

#1406 gepifanio/c05-3m01
  classes/05class/exercises/c05-3m01/gepifanio/.env
  classes/05class/exercises/c05-3m01/gepifanio/Dockerfile
  classes/05class/exercises/c05-3m01/gepifanio/Makefile
  classes/05class/exercises/c05-3m01/gepifanio/README.md
  classes/05class/exercises/c05-3m01/gepifanio/docker-compose.yaml
  classes/05class/exercises/c05-3m01/gepifanio/output.md
  classes/05class/exercises/c05-3m01/gepifanio/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/gepifanio/scripts/delete_bucket.sh
Labels: 2020-Jun, class05, ready to review

#1427 Frdvo/c05 3m01
  classes/05class/exercises/c05-3m01/frdvo/.env
  classes/05class/exercises/c05-3m01/frdvo/Dockerfile
  classes/05class/exercises/c05-3m01/frdvo/Makefile
  classes/05class/exercises/c05-3m01/frdvo/README.md
  classes/05class/exercises/c05-3m01/frdvo/create_bucket.sh
  classes/05class/exercises/c05-3m01/frdvo/delete_bucket.sh
  classes/05class/exercises/c05-3m01/frdvo/docker-compose.yml
  classes/05class/exercises/c05-3m01/frdvo/output.md
Labels: 2020-Jun, class05, ready to review

#1381 albertoeks/c01-aws02
  classes/01class/exercises/c01-aws02/albertoeks/README.md
Labels: class01, ready to review
