Repository devopsacademyau/academy, pull requests merged in 2020-04, with the labels that each got.

#438 Route53
  classes/03class/exercises/c03-aws03/Faria-Marcio/c03-aws03.txt
Labels: class03, ready to review

#440 adding tf files to create teams/repositories/projects for academy pro…
  .gitignore
  scripts/students.txt
  scripts/tf/github.com/2020-feb-project1.tf
  scripts/tf/github.com/README.md
  scripts/tf/github.com/da-project/_provider.tf
  scripts/tf/github.com/da-project/repo.tf
  scripts/tf/github.com/da-project/team.tf
  scripts/tf/github.com/da-project/variables.tf
  scripts/tf/github.com/da-teams/_provider.tf
  scripts/tf/github.com/da-teams/output.tf
  scripts/tf/github.com/da-teams/team.tf
  scripts/tf/github.com/da-teams/variables.tf
  scripts/tf/github.com/teams.tf
  scripts/tf/github.com/terraform.tfstate
  scripts/tf/github.com/variables.tf
  scripts/tf/github.com/versions.tf
Labels: enhancement, ready to review

#387 andreazzabr/c04-iam01
  classes/04class/exercises/c04-iam01/andreazzabr/cli_commands.txt
  classes/04class/exercises/c04-iam01/andreazzabr/policys3readonly
  classes/04class/exercises/c04-iam01/andreazzabr/readme.md
Labels: class04, ready to review

#357 Marcioanatrielo/c03 aws03
  classes/03class/exercises/c03-aws03/marcioanatrielo/c03-aws03.txt
Labels: class03, marked-for-deletion, ready to review

#277 marcioanatrielo/c02-network10
  classes/02class/exercises/c02-network10/marcioanatrielo/c02-network10.txt
Labels: class02, ready to review

#305 Class05/make
  classes/05class/README.md
  classes/05class/compose/README.md
  classes/05class/compose/artifacts/c05-compose01/Dockerfile
  classes/05class/compose/artifacts/c05-compose01/src/db_connector.php
  classes/05class/compose/artifacts/c05-compose01/src/index.php
  classes/05class/compose/artifacts/class/Dockerfile
  classes/05class/compose/artifacts/class/app.py
  classes/05class/compose/artifacts/class/docker-compose.yaml
  classes/05class/compose/artifacts/class/requirements.txt
  classes/05class/exercises/README.md
  classes/05class/exercises/c05-compose01/ANSWER.md
  classes/05class/exercises/c05-compose01/README.md
  classes/05class/exercises/c05-make01/ANSWER.md
  classes/05class/exercises/c05-make01/README.md
  classes/05class/make/README.md
  classes/05class/make/artifacts/basics/Makefile
  classes/05class/make/artifacts/mixing/Makefile
Labels: class content, class05, ready to review

#401 github actions class.
  classes/05class/gh-actions/README.md
  classes/05class/gh-actions/assets/diagram.png
  classes/05class/gh-actions/assets/secrets.png
  classes/05class/gh-actions/assets/workflows1.png
  classes/05class/gh-actions/assets/workflows2.png
Labels: class05, ready to review

#386 starkmatt/c04 iac01
  classes/04class/exercises/c04-iac01/starkmatt/README.md
  classes/04class/exercises/c04-iac01/starkmatt/_backend.tf
  classes/04class/exercises/c04-iac01/starkmatt/_provider.tf
  classes/04class/exercises/c04-iac01/starkmatt/ec2.tf
  classes/04class/exercises/c04-iac01/starkmatt/iam.tf
  classes/04class/exercises/c04-iac01/starkmatt/output.txt
  classes/04class/exercises/c04-iac01/starkmatt/s3.tf
  classes/04class/exercises/c04-iac01/starkmatt/sg.tf
Labels: class04, ready to review

#447 luizfds/c04-iac01
  classes/04class/exercises/c04-iac01/luizfds/README.md
  classes/04class/exercises/c04-iac01/luizfds/artifacts/_backend.tf
  classes/04class/exercises/c04-iac01/luizfds/artifacts/_provider.tf
  classes/04class/exercises/c04-iac01/luizfds/artifacts/ec2.tf
  classes/04class/exercises/c04-iac01/luizfds/artifacts/iam.tf
  classes/04class/exercises/c04-iac01/luizfds/artifacts/s3.tf
  classes/04class/exercises/c04-iac01/luizfds/artifacts/security-group.tf
  classes/04class/exercises/c04-iac01/luizfds/output.txt
Labels: class04, ready to review

#441 c04-iac01
  classes/04class/exercises/c04-iac01/hsy3418/README.md
  classes/04class/exercises/c04-iac01/hsy3418/_backend.tf
  classes/04class/exercises/c04-iac01/hsy3418/_provider.tf
  classes/04class/exercises/c04-iac01/hsy3418/ec2.tf
  classes/04class/exercises/c04-iac01/hsy3418/iam.tf
  classes/04class/exercises/c04-iac01/hsy3418/output.txt
  classes/04class/exercises/c04-iac01/hsy3418/s3.tf
  classes/04class/exercises/c04-iac01/hsy3418/security-group.tf
Labels: class04, ready to review

#443 lgothelipe/c04-iam01
  classes/04class/exercises/c04-iam01/lgothelipe/README.md
  classes/04class/exercises/c04-iam01/lgothelipe/cli_commands.txt
  classes/04class/exercises/c04-iam01/lgothelipe/policy.json
Labels: class04, ready to review

#442 lgothelipe/c04-s301
  classes/04class/exercises/c04-s301/lgothelipe/README.md
  classes/04class/exercises/c04-s301/lgothelipe/cli_commands.txt
  classes/04class/exercises/c04-s301/lgothelipe/website_url.txt
Labels: class04, ready to review

#434 andreazzabr/c04-s301
  classes/04class/exercises/c04-s301/andreazzabr/README.md
  classes/04class/exercises/c04-s301/andreazzabr/bucketpolicy.json
  classes/04class/exercises/c04-s301/andreazzabr/bucketwebsite.json
  classes/04class/exercises/c04-s301/andreazzabr/cli_commands.txt
  classes/04class/exercises/c04-s301/andreazzabr/website_url.txt
Labels: class04, ready to review

#448 andreazzabr/c04-rds01
  classes/04class/exercises/c04-rds01/andreazzabr/db-creation.txt
  classes/04class/exercises/c04-rds01/andreazzabr/output.txt
  classes/04class/exercises/c04-rds01/andreazzabr/readme.md
Labels: class04, ready to review

#220 marcio-anatrielo/c02-network01
  classes/02class/exercises/c02-network01/marcio-anatrielo/c02-network01.txt
Labels: class02, ready to review

#270 marcioanatrielo/c02-network05
  classes/02class/exercises/c02-network05/marcio-anatrielo/c02-network05.txt
Labels: class02, ready to review

#274 marcioanatrielo/c02-network09
  classes/02class/exercises/c02-network09/marcio-anatrielo/c02-network09.txt
Labels: class02, ready to review

#350 Submit about exercise marcioanatrielo/c02-network11
  classes/02class/exercises/c02-network11/marcio-anatrielo/c02-network11/c02-network11.txt
Labels: class02, ready to review

#445 Submit exercise c03-docker01
  classes/03class/exercises/c03-docker01/marcio-anatrielo/Dockerfile
  classes/03class/exercises/c03-docker01/marcio-anatrielo/c03-docker01.txt
Labels: class03, ready to review

#446 Submit exercise c03-doccker02
  classes/03class/exercises/c03-docker02/marcio-anatrielo/Dokerfile.v1
  classes/03class/exercises/c03-docker02/marcio-anatrielo/Dokerfile.v2
  classes/03class/exercises/c03-docker02/marcio-anatrielo/c03-docker02.txt
Labels: class03, ready to review

#451 andreazzabr/c04-iac01
  classes/04class/exercises/c04-iac01/andreazzabr/README.md
  classes/04class/exercises/c04-iac01/andreazzabr/_backend.tf
  classes/04class/exercises/c04-iac01/andreazzabr/_provider.tf
  classes/04class/exercises/c04-iac01/andreazzabr/ec2.tf
  classes/04class/exercises/c04-iac01/andreazzabr/iam.tf
  classes/04class/exercises/c04-iac01/andreazzabr/output.txt
  classes/04class/exercises/c04-iac01/andreazzabr/s3.tf
  classes/04class/exercises/c04-iac01/andreazzabr/security-group.tf
Labels: class04, ready to review

#452 deniseddi/c04-iac01
  classes/04class/exercises/c04-iac01/deniseddi/README.md
  classes/04class/exercises/c04-iac01/deniseddi/_backend.tf
  classes/04class/exercises/c04-iac01/deniseddi/_provider.tf
  classes/04class/exercises/c04-iac01/deniseddi/ec2.tf
  classes/04class/exercises/c04-iac01/deniseddi/iam.tf
  classes/04class/exercises/c04-iac01/deniseddi/output.txt
  classes/04class/exercises/c04-iac01/deniseddi/s3.tf
  classes/04class/exercises/c04-iac01/deniseddi/security-group.tf
Labels: class04, ready to review

#455 Hsy3418/c04 iac02
  classes/04class/exercises/c04-iac02/hsy3418/_backend.tf
  classes/04class/exercises/c04-iac02/hsy3418/_provider.tf
  classes/04class/exercises/c04-iac02/hsy3418/main.tfvars
  classes/04class/exercises/c04-iac02/hsy3418/output.tf
  classes/04class/exercises/c04-iac02/hsy3418/output.txt
  classes/04class/exercises/c04-iac02/hsy3418/variables.tf
  classes/04class/exercises/c04-iac02/hsy3418/vpc.tf
Labels: class04, ready to review

#457 Updating README.md for class 3 exercise 1
  classes/03class/exercises/c03-docker01/README.md
Labels: class03, ready to review

#469 Update README.md
  classes/04class/exercises/c04-iac03/README.md
Labels: class04, ready to review

#458 carineoliveira/c03-docker01
  classes/03class/exercises/c03-docker01/carineoliveira/Dockerfile
  classes/03class/exercises/c03-docker01/carineoliveira/c03-docker01.txt
Labels: class03, ready to review

#460 carineoliveira/c03-docker03
  classes/03class/exercises/c03-docker03/carineoliveira/c03-docker03.txt
Labels: class03, ready to review

#461 carineoliveira/c03-docker04
  classes/03class/exercises/c03-docker04/carineoliveira/c03-docker04-01.txt
  classes/03class/exercises/c03-docker04/carineoliveira/c03-docker04-02.txt
Labels: class03, ready to review

#462 carineoliveira/c03-docker05
  classes/03class/exercises/c03-docker05/carineoliveira/c03-docker05-01.txt
  classes/03class/exercises/c03-docker05/carineoliveira/c03-docker05-02.txt
  classes/03class/exercises/c03-docker05/carineoliveira/c03-docker05-03.txt
Labels: class03, ready to review

#463 carineoliveira/c03-docker06
  classes/03class/exercises/c03-docker06/carineoliveira/Dockerfile
  classes/03class/exercises/c03-docker06/carineoliveira/c03-docker06.txt
Labels: class03, ready to review

#464 carineoliveira/c03-docker07
  classes/03class/exercises/c03-docker07/carineoliveira/c03-docker07.txt
Labels: class03, ready to review

#456 lgothelipe/c04-iac01
  classes/04class/exercises/c04-iac01/lgothelipe/ANSWER.md
  classes/04class/exercises/c04-iac01/lgothelipe/_backend.tf
  classes/04class/exercises/c04-iac01/lgothelipe/_provider.tf
  classes/04class/exercises/c04-iac01/lgothelipe/ec2.tf
  classes/04class/exercises/c04-iac01/lgothelipe/iam.tf
  classes/04class/exercises/c04-iac01/lgothelipe/output.txt
  classes/04class/exercises/c04-iac01/lgothelipe/s3.tf
  classes/04class/exercises/c04-iac01/lgothelipe/security-group.tf
Labels: class04, ready to review

#466 carineoliveira/c04-iac01
  classes/04class/exercises/c04-iac01/carineoliveira/README.md
  classes/04class/exercises/c04-iac01/carineoliveira/_backend.tf
  classes/04class/exercises/c04-iac01/carineoliveira/_provider.tf
  classes/04class/exercises/c04-iac01/carineoliveira/ec2.tf
  classes/04class/exercises/c04-iac01/carineoliveira/iam.tf
  classes/04class/exercises/c04-iac01/carineoliveira/output.txt
  classes/04class/exercises/c04-iac01/carineoliveira/s3.tf
  classes/04class/exercises/c04-iac01/carineoliveira/security-group.tf
Labels: class04, ready to review

#471 carineoliveira/c04-iam01
  classes/04class/exercises/c04-iam01/carineoliveira/AmazonS3ReadOnlyAccess.json
  classes/04class/exercises/c04-iam01/carineoliveira/README.md
  classes/04class/exercises/c04-iam01/carineoliveira/cli_commands.txt
Labels: class04, ready to review

#481 CLI + IAM - c04-iam01
  classes/04class/exercises/c04-iam01/Faria-Marcio/README.md
  classes/04class/exercises/c04-iam01/Faria-Marcio/S3readOnlyPolicy
  classes/04class/exercises/c04-iam01/Faria-Marcio/cli_commands.txt
Labels: class04, ready to review

#488 luizfds/c04-iam01
  classes/04class/exercises/c04-iam01/luizfds/README.md
  classes/04class/exercises/c04-iam01/luizfds/cli_commands.txt
  classes/04class/exercises/c04-iam01/luizfds/policys3readonly.json
Labels: class04, ready to review

#494 Faria marcio/c04 s301
  classes/04class/exercises/c04-s301/Faria-Marcio/README.md
  classes/04class/exercises/c04-s301/Faria-Marcio/cli_commands.txt
  classes/04class/exercises/c04-s301/Faria-Marcio/s3_bucket_policy.json
  classes/04class/exercises/c04-s301/Faria-Marcio/website_url.txt
Labels: class04, ready to review

#478 carineoliveira/class content
  classes/04class/exercises/c04-rds02/README.md
Labels: class content, class04, ready to review

#484 lgothelipe/c04-rds01
  classes/04class/exercises/c04-rds01/lgothelipe/README.md
  classes/04class/exercises/c04-rds01/lgothelipe/db-creation.txt
  classes/04class/exercises/c04-rds01/lgothelipe/output.txt
Labels: class04, ready to review

#495 luizfds/c04-rds02
  classes/04class/exercises/c04-rds02/luizfds/README.md
  classes/04class/exercises/c04-rds02/luizfds/db-deletion.txt
  classes/04class/exercises/c04-rds02/luizfds/db-description.txt
Labels: class04, ready to review

#487 lgothelipe/c04-rds02
  classes/04class/exercises/c04-rds02/lgothelipe/README.md
  classes/04class/exercises/c04-rds02/lgothelipe/db-deletion.txt
  classes/04class/exercises/c04-rds02/lgothelipe/db-description.txt
Labels: class04, ready to review

#479 carineoliveira/c04-rds02
  classes/04class/exercises/c04-rds02/carineoliveira/README.md
  classes/04class/exercises/c04-rds02/carineoliveira/db-deletion.txt
  classes/04class/exercises/c04-rds02/carineoliveira/db-description.txt
Labels: class04, ready to review

#459 carineoliveira/c03-docker02
  classes/03class/exercises/c03-docker02/carineoliveira/Dockerfile.v1
  classes/03class/exercises/c03-docker02/carineoliveira/Dockerfile.v2
  classes/03class/exercises/c03-docker02/carineoliveira/c03-docker02.txt
Labels: class03, ready to review

#498 Describe the RDS Instance (c04-rds02)
  classes/04class/exercises/c04-rds02/Faria-Marcio/README.md
  classes/04class/exercises/c04-rds02/Faria-Marcio/db-deletion.txt
  classes/04class/exercises/c04-rds02/Faria-Marcio/db-description.txt
Labels: class04, ready to review

#482 carineoliveira/c04-s301
  classes/04class/exercises/c04-s301/carineoliveira/README.md
  classes/04class/exercises/c04-s301/carineoliveira/cli_commands.txt
  classes/04class/exercises/c04-s301/carineoliveira/s3_bucket_policy.json
  classes/04class/exercises/c04-s301/carineoliveira/website_url.txt
Labels: class04, ready to review

#502 add playground repository and delete henriqueediniz from students
  scripts/students.txt
  scripts/tf/github.com/2020-feb-project1.tf
  scripts/tf/github.com/_provider.tf
  scripts/tf/github.com/playground-repo.tf
  scripts/tf/github.com/teams.tf
  scripts/tf/github.com/terraform.tfstate
Labels: enhancement, ready to review

#470 luizfds/c04-iac02
  classes/04class/exercises/c04-iac02/luizfds/README.md
  classes/04class/exercises/c04-iac02/luizfds/_backend.tf
  classes/04class/exercises/c04-iac02/luizfds/_provider.tf
  classes/04class/exercises/c04-iac02/luizfds/main.tfvars
  classes/04class/exercises/c04-iac02/luizfds/output.tf
  classes/04class/exercises/c04-iac02/luizfds/output.txt
  classes/04class/exercises/c04-iac02/luizfds/variables.tf
  classes/04class/exercises/c04-iac02/luizfds/vpc.tf
Labels: class04, ready to review

#472 luizfds/c04-iac03
  classes/04class/exercises/c04-iac03/luizfds/README.md
  classes/04class/exercises/c04-iac03/luizfds/output.txt
Labels: class04, ready to review

#473 lgothelipe/c04-iac02
  classes/04class/exercises/c04-iac02/lgothelipe/README.md
  classes/04class/exercises/c04-iac02/lgothelipe/_backend.tf
  classes/04class/exercises/c04-iac02/lgothelipe/_provider.tf
  classes/04class/exercises/c04-iac02/lgothelipe/main.tfvars
  classes/04class/exercises/c04-iac02/lgothelipe/output.tf
  classes/04class/exercises/c04-iac02/lgothelipe/output.txt
  classes/04class/exercises/c04-iac02/lgothelipe/variables.tf
  classes/04class/exercises/c04-iac02/lgothelipe/vpc.tf
Labels: class04, ready to review

#476 lgothelipe/c04-iac03
  classes/04class/exercises/c04-iac03/lgothelipe/README.md
  classes/04class/exercises/c04-iac03/lgothelipe/output.txt
Labels: class04, ready to review

#509 3 musketeers content
  classes/05class/3musketeers/README.md
  classes/05class/3musketeers/assets/3M-diagrams-overview.svg
  classes/05class/README.md
  classes/05class/compose/README.md
Labels: class content, class05, ready to review

#517 Typo on "Describe"
  classes/04class/exercises/c04-rds02/README.md
Labels: documentation

#499 add cicd concepts to class05
  classes/05class/README.md
  classes/05class/cicd/README.md
  classes/05class/cicd/assets/blue-green.png
  classes/05class/cicd/assets/canary.png
  classes/05class/cicd/assets/cicd.png
Labels: class content, class05, ready to review

#503 Caio/class05 exercicses
  classes/05class/exercises/c05-actions01/ANSWER.md
  classes/05class/exercises/c05-actions01/README.md
  classes/05class/exercises/c05-actions02/ANSWER.md
  classes/05class/exercises/c05-actions02/README.md
Labels: class content, class05, ready to review

#507 andreazzabr/c04-rds02
  classes/04class/exercises/c04-rds02/andreazzabr/README.md
  classes/04class/exercises/c04-rds02/andreazzabr/db-deletion.txt
  classes/04class/exercises/c04-rds02/andreazzabr/db-description.txt
Labels: class04, ready to review

#467 carineoliveira/c04-iac02
  classes/04class/exercises/c04-iac02/carineoliveira/README.md
  classes/04class/exercises/c04-iac02/carineoliveira/_backend.tf
  classes/04class/exercises/c04-iac02/carineoliveira/_provider.tf
  classes/04class/exercises/c04-iac02/carineoliveira/main.tfvars
  classes/04class/exercises/c04-iac02/carineoliveira/output.tf
  classes/04class/exercises/c04-iac02/carineoliveira/output.txt
  classes/04class/exercises/c04-iac02/carineoliveira/variables.tf
  classes/04class/exercises/c04-iac02/carineoliveira/vpc.tf
Labels: class04, ready to review

#468 carineoliveira/c04-iac03
  classes/04class/exercises/c04-iac03/carineoliveira/README.md
  classes/04class/exercises/c04-iac03/carineoliveira/output.txt
Labels: class04, ready to review

#510 christina-roperto/c04-rds01
  classes/04class/exercises/c04-rds01/christina-roperto/README.md
  classes/04class/exercises/c04-rds01/christina-roperto/db-creation.txt
  classes/04class/exercises/c04-rds01/christina-roperto/output.txt
Labels: class04, ready to review

#497 Create a RDS Instance (c04-rds01)
  classes/04class/exercises/c04-rds01/Faria-Marcio/db-creation.txt
  classes/04class/exercises/c04-rds01/Faria-Marcio/output.txt
  classes/04class/exercises/c04-rds01/Faria-Marcio/readme.md
Labels: class04, ready to review

#515 deniseddi/c04-iam01
  classes/04class/exercises/c04-iam01/deniseddi/README.md
  classes/04class/exercises/c04-iam01/deniseddi/cli_commands.txt
  classes/04class/exercises/c04-iam01/deniseddi/policy-s3readonly.json
Labels: class04, ready to review

#506 Faria marcio/c04 iac01
  classes/04class/exercises/c04-iac01/Faria-Marcio/README.md
  classes/04class/exercises/c04-iac01/Faria-Marcio/_backend.tf
  classes/04class/exercises/c04-iac01/Faria-Marcio/_provider.tf
  classes/04class/exercises/c04-iac01/Faria-Marcio/ec2.tf
  classes/04class/exercises/c04-iac01/Faria-Marcio/iam.tf
  classes/04class/exercises/c04-iac01/Faria-Marcio/output.txt
  classes/04class/exercises/c04-iac01/Faria-Marcio/s3.tf
  classes/04class/exercises/c04-iac01/Faria-Marcio/security-group.tf
Labels: class04, ready to review

#521 add 3 musketeers to tf github automation
  .gitignore
  scripts/tf/github.com/Makefile
  scripts/tf/github.com/docker-compose.yml
Labels: enhancement, ready to review

#523 Class05 - 3M exercise
  classes/05class/README.md
  classes/05class/exercises/README.md
  classes/05class/exercises/c05-3m01/ANSWER.md
  classes/05class/exercises/c05-3m01/README.md
  classes/05class/exercises/c05-3m01/resources/Dockerfile
  classes/05class/exercises/c05-make01/ANSWER.md
  classes/05class/exercises/c05-make01/README.md
Labels: class05, ready to review

#511 adjusting the students list and the labs list
  scripts/labs.txt
  scripts/students.txt
Labels: enhancement

#449 starkmatt/c04 iac02
  classes/04class/exercises/c04-iac02/README.md
  classes/04class/exercises/c04-iac02/starkmatt/README.md
  classes/04class/exercises/c04-iac02/starkmatt/_backend.tf
  classes/04class/exercises/c04-iac02/starkmatt/_provider.tf
  classes/04class/exercises/c04-iac02/starkmatt/output.tf
  classes/04class/exercises/c04-iac02/starkmatt/output.txt
  classes/04class/exercises/c04-iac02/starkmatt/variables.tf
  classes/04class/exercises/c04-iac02/starkmatt/vpc.tf
Labels: class04, ready to review

#453 starkmatt/c04 iac03
  classes/04class/exercises/c04-iac03/starkmatt/README.md
  classes/04class/exercises/c04-iac03/starkmatt/output.txt
Labels: class04, ready to review

#465 christina-roperto/c04-iac02
  classes/04class/exercises/c04-iac02/christina-roperto/README.md
  classes/04class/exercises/c04-iac02/christina-roperto/_backend.tf
  classes/04class/exercises/c04-iac02/christina-roperto/_provider.tf
  classes/04class/exercises/c04-iac02/christina-roperto/main.tfvars
  classes/04class/exercises/c04-iac02/christina-roperto/output.tf
  classes/04class/exercises/c04-iac02/christina-roperto/output.txt
  classes/04class/exercises/c04-iac02/christina-roperto/variables.tf
  classes/04class/exercises/c04-iac02/christina-roperto/vpc.tf
Labels: class04, ready to review

#475 christina-roperto/c04-iac03
  classes/04class/exercises/c04-iac03/christina-roperto/README.md
  classes/04class/exercises/c04-iac03/christina-roperto/output.txt
Labels: class04, ready to review

#524 andreazzabr/c04-iac02
  classes/04class/exercises/c04-iac02/andreazzabr/README.md
  classes/04class/exercises/c04-iac02/andreazzabr/_backend.tf
  classes/04class/exercises/c04-iac02/andreazzabr/_provider.tf
  classes/04class/exercises/c04-iac02/andreazzabr/main.tfvars
  classes/04class/exercises/c04-iac02/andreazzabr/output.txt
  classes/04class/exercises/c04-iac02/andreazzabr/variables.tf
  classes/04class/exercises/c04-iac02/andreazzabr/vpc.tf
Labels: class04, ready to review

#514 VPC (c04-iac02)
  classes/04class/exercises/c04-iac02/Faria-Marcio/_backend.tf
  classes/04class/exercises/c04-iac02/Faria-Marcio/_provider.tf
  classes/04class/exercises/c04-iac02/Faria-Marcio/main.tfvars
  classes/04class/exercises/c04-iac02/Faria-Marcio/output.tf
  classes/04class/exercises/c04-iac02/Faria-Marcio/output.txt
  classes/04class/exercises/c04-iac02/Faria-Marcio/variables.tf
  classes/04class/exercises/c04-iac02/Faria-Marcio/vpc.tf
Labels: class04, ready to review

#486 Hsy3418/c04 iac03
  classes/04class/exercises/c04-iac03/ANSWER.md
  classes/04class/exercises/c04-iac03/README.md
  classes/04class/exercises/c04-iac03/output.txt
Labels: class04, ready to review

#496 luizfds/c04-s301
  classes/04class/exercises/c04-s301/luizfds/README.md
  classes/04class/exercises/c04-s301/luizfds/cli_commands.txt
  classes/04class/exercises/c04-s301/luizfds/s3bucketpolicy.json
  classes/04class/exercises/c04-s301/luizfds/website_url.txt
Labels: class04, ready to review

#516 c04-iam01
  classes/04class/exercises/c04-iac04/hsy3418/terraform.tfstate
  classes/04class/exercises/c04-iam01/hsy3418/README.md
  classes/04class/exercises/c04-iam01/hsy3418/cli_commands.txt
  classes/04class/exercises/c04-iam01/hsy3418/policy
Labels: class04, ready to review

#480 starkmatt/c04 iam01
  classes/04class/exercises/c04-iam01/starkmatt/README.md
  classes/04class/exercises/c04-iam01/starkmatt/cli_commands.txt
  classes/04class/exercises/c04-iam01/starkmatt/readonly.json
Labels: class04, ready to review

#485 starkmatt/c04 rds01
  classes/04class/exercises/c04-rds01/starkmatt/README.md
  classes/04class/exercises/c04-rds01/starkmatt/db-creation.txt
  classes/04class/exercises/c04-rds01/starkmatt/output.txt
Labels: class04, ready to review

#512 christina-roperto/c04-rds02
  classes/04class/exercises/c04-rds02/christina-roperto/README.md
  classes/04class/exercises/c04-rds02/christina-roperto/db-deletion.txt
  classes/04class/exercises/c04-rds02/christina-roperto/db-description.txt
Labels: class04, ready to review

#493 creating EC2 and S3 using Terraform
  classes/04class/exercises/c04-iac01/drii-cavalcanti/ANSWER.md
  classes/04class/exercises/c04-iac01/drii-cavalcanti/_backend.tf
  classes/04class/exercises/c04-iac01/drii-cavalcanti/_provider.tf
  classes/04class/exercises/c04-iac01/drii-cavalcanti/ec2.tf
  classes/04class/exercises/c04-iac01/drii-cavalcanti/iam.tf
  classes/04class/exercises/c04-iac01/drii-cavalcanti/output.txt
  classes/04class/exercises/c04-iac01/drii-cavalcanti/s3.tf
  classes/04class/exercises/c04-iac01/drii-cavalcanti/security-group.tf
Labels: class04, ready to review

#491 starkmatt/c04-s301
  classes/04class/exercises/c04-s301/starkmatt/README.md
  classes/04class/exercises/c04-s301/starkmatt/cli_commands.txt
  classes/04class/exercises/c04-s301/starkmatt/s3_policy.json
  classes/04class/exercises/c04-s301/starkmatt/website_url.txt
Labels: class04, ready to review

#518 christina-roperto/c04-s301
  classes/04class/exercises/c04-s301/christina-roperto/README.md
  classes/04class/exercises/c04-s301/christina-roperto/cli_commands.txt
  classes/04class/exercises/c04-s301/christina-roperto/s3_bucket_policy.json
  classes/04class/exercises/c04-s301/christina-roperto/website_url.txt
Labels: class04, ready to review

#539 Corrected a tiny misspelling
  classes/05class/make/README.md
Labels: class05, ready to review
