Repository devopsacademyau/academy, pull requests merged in 2020-09, with the labels that each got.

#1433 albertoeks/c02-network01
  classes/02class/exercises/c02-network01/albertoeks/README.md
Labels: class02, ready to review

#1426 obrientimothya/c06-serverless01
  classes/06class/exercises/c06-serverless01/obrientimothya/.env
  classes/06class/exercises/c06-serverless01/obrientimothya/.gitignore
  classes/06class/exercises/c06-serverless01/obrientimothya/Makefile
  classes/06class/exercises/c06-serverless01/obrientimothya/README.md
  classes/06class/exercises/c06-serverless01/obrientimothya/_provider.tf
  classes/06class/exercises/c06-serverless01/obrientimothya/docker-compose.yml
  classes/06class/exercises/c06-serverless01/obrientimothya/lambda.zip
  classes/06class/exercises/c06-serverless01/obrientimothya/main.tf
  classes/06class/exercises/c06-serverless01/obrientimothya/output.tf
Labels: 2020-Jun, class06, ready to review

#1351 nimmi89/c04-iac04
  classes/04class/exercises/c04-iac04/nimmi89/README.md
  classes/04class/exercises/c04-iac04/nimmi89/output.txt
  classes/04class/exercises/c04-iac04/nimmi89/terraform-apply.txt
  classes/04class/exercises/c04-iac04/nimmi89/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/nimmi89/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/nimmi89/terraform-code/iac-04-module/main.tf
  classes/04class/exercises/c04-iac04/nimmi89/terraform-code/iac-04-module/output.tf
  classes/04class/exercises/c04-iac04/nimmi89/terraform-code/iac-04-module/variables.tf
  classes/04class/exercises/c04-iac04/nimmi89/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/nimmi89/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/nimmi89/terraform-code/output.tf
  classes/04class/exercises/c04-iac04/nimmi89/terraform-code/variables.tf
Labels: 2020-Jun, class04, ready to review

#1348 C04-IAC04 created terraform modules
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/README.md
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/output.txt
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-apply.txt
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/iac-04-module/main.tf
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/iac-04-module/output.tf
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/iac-04-module/user_data.sh
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/iac-04-module/variables.tf
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/output.tf
  classes/04class/exercises/c04-iac04/raghunadhpokkalath/terraform-code/variables.tf
Labels: class04, ready to review

#1262 mfreitassm/c03-docker05
  classes/03class/exercises/c03-docker05/mfreitassm/README.md
Labels: 2020-Jun, class03, ready to review

#1316 frdvo/c04-iac01 Terraform EC2 + S3 RO
  classes/04class/exercises/c04-iac01/frdvo/README.md
  classes/04class/exercises/c04-iac01/frdvo/_backend.tf
  classes/04class/exercises/c04-iac01/frdvo/_provider.tf
  classes/04class/exercises/c04-iac01/frdvo/ec2.tf
  classes/04class/exercises/c04-iac01/frdvo/iam.tf
  classes/04class/exercises/c04-iac01/frdvo/output.txt
  classes/04class/exercises/c04-iac01/frdvo/s3.tf
  classes/04class/exercises/c04-iac01/frdvo/security-group.tf
Labels: 2020-Jun, class04, ready to review

#1321 nimmi89/c04-iac03
  classes/04class/exercises/c04-iac03/nimmi89/README.md
Labels: 2020-Jun, class04, ready to review

#1323 gepifanio/c04-iac02
  classes/04class/exercises/c04-iac02/gepifanio/README.md
  classes/04class/exercises/c04-iac02/gepifanio/_backend.tf
  classes/04class/exercises/c04-iac02/gepifanio/_provider.tf
  classes/04class/exercises/c04-iac02/gepifanio/main.tfvars
  classes/04class/exercises/c04-iac02/gepifanio/output.tf
  classes/04class/exercises/c04-iac02/gepifanio/output.txt
  classes/04class/exercises/c04-iac02/gepifanio/test.txt
  classes/04class/exercises/c04-iac02/gepifanio/variables.tf
  classes/04class/exercises/c04-iac02/gepifanio/vpc.tf
Labels: 2020-Jun, class04, ready to review

#1324 gepifanio/c04-iac03
  classes/04class/exercises/c04-iac03/gepifanio/README.md
Labels: 2020-Jun, class04, ready to review

#1327 Add README.md for exercise c04-iac03
  classes/04class/exercises/c04-iac03/mrcsmonteiro/README.md
Labels: 2020-Jun, class04, ready to review

#1333 mfreitassm/c04-iac03
  classes/04class/exercises/c04-iac03/mfreitassm/README.md
Labels: 2020-Jun, class04, ready to review

#1338 ramiray/c04-iac03
  classes/04class/exercises/c04-iac03/ramiray/README.md
Labels: class04, ready to review

#1438 Class07/content: Serverless part 2
  README.md
  classes/04class/README.md
  classes/04class/ssm/README.md
  classes/06class/README.md
  classes/06class/exercises/c06-serverless01/ANSWER.md
  classes/06class/exercises/c06-serverless01/README.md
  classes/07class/README.md
  classes/07class/exercises/README.md
  classes/07class/exercises/c07-serverless01/ANSWER.md
  classes/07class/exercises/c07-serverless01/README.md
  classes/07class/exercises/c07-serverless01/assets/current_state.png
  classes/07class/exercises/c07-serverless01/assets/target_state.png
  classes/07class/exercises/c07-serverless02/ANSWER.md
  classes/07class/exercises/c07-serverless02/README.md
  classes/07class/exercises/c07-serverless02/assets/ex2_diagram.png
  classes/07class/exercises/c07-serverless02/src/remove_untagged_instances.py
  classes/07class/serverless_integration/README.md
  classes/07class/serverless_integration/assets/api_gw.png
  classes/07class/serverless_integration/assets/ddb_stream.png
  classes/07class/serverless_integration/assets/queue_leveler.png
  classes/07class/serverless_integration/assets/s3_trigger.png
  classes/07class/serverless_integration/assets/sns.png
  classes/07class/serverless_integration/assets/sns_sqs_lambdas.png
  classes/07class/serverless_integration/assets/strangler.png
  classes/08class/README.md
Labels: Admin, REPO-CONTENT, class04, class06, class07, class08, ready to review

#1437 Fix lambda to not decode base64
  classes/06class/exercises/c06-serverless01/README.md
  classes/06class/exercises/c06-serverless01/src/lambda.zip
Labels: Admin, REPO-CONTENT, class06, ready to review

#1222 Add README.md for exercise carloshz4/c03-aws02
  classes/03class/exercises/c03-aws02/carloshz4/README.md
Labels: class03, ready to review

#1352 danielvca/c04-iac01
  classes/04class/exercises/c04-iac01/daniel/README.md
  classes/04class/exercises/c04-iac01/daniel/_backend.tf
  classes/04class/exercises/c04-iac01/daniel/_provider.tf
  classes/04class/exercises/c04-iac01/daniel/ec2.tf
  classes/04class/exercises/c04-iac01/daniel/iam.tf
  classes/04class/exercises/c04-iac01/daniel/output.txt
  classes/04class/exercises/c04-iac01/daniel/s3.tf
  classes/04class/exercises/c04-iac01/daniel/security-group.tf
  classes/04class/exercises/c04-iac01/daniel/variables.tf
Labels: 2020-Jun, class04, ready to review

#1451 alanlima/c07-serverless02
  classes/07class/exercises/c07-serverless02/alanlima/.env.tpl
  classes/07class/exercises/c07-serverless02/alanlima/Makefile
  classes/07class/exercises/c07-serverless02/alanlima/README.md
  classes/07class/exercises/c07-serverless02/alanlima/docker-compose.yml
  classes/07class/exercises/c07-serverless02/alanlima/scripts/sns-subscriber.sh
  classes/07class/exercises/c07-serverless02/alanlima/scripts/sns-unsubscriber.sh
  classes/07class/exercises/c07-serverless02/alanlima/scripts/terminate-instances.sh
  classes/07class/exercises/c07-serverless02/alanlima/src/remove_untagged_instances.py
  classes/07class/exercises/c07-serverless02/alanlima/terraform/_provider.tf
  classes/07class/exercises/c07-serverless02/alanlima/terraform/main.tf
  classes/07class/exercises/c07-serverless02/alanlima/terraform/outputs.tf
  classes/07class/exercises/c07-serverless02/alanlima/terraform/variables.tf
Labels: 2020-Jun, class07, ready to review

#1440 albertoeks/c02-network02
  classes/02class/exercises/c02-network02/albertoeks/README.md
Labels: class02, ready to review

#1447 albertoeks/c02-network03
  classes/02class/exercises/c02-network03/albertoeks/README.md
Labels: class02, ready to review

#1450 albertoeks/c02-network04
  classes/02class/exercises/c02-network04/albertoeks/README.md
Labels: class02, ready to review
