Repository devopsacademyau/academy, pull requests merged in 2020-05, with the labels that each got.

#547 Fix folders for exercise iac3
  classes/04class/exercises/c04-iac03/README.md
  classes/04class/exercises/c04-iac03/hsy3418/README.md
  classes/04class/exercises/c04-iac03/hsy3418/output.txt
Labels: class04, ready to review

#541 instructions for the students application
  README.md
  applications/application.sh
Labels: marked-for-deletion

#548 testing new labeler
  .github/content-label.yaml
  .github/workflows/content-label.yaml
Labels: REPO-CONTENT, ready to review

#525 Modifications to the main README file with some new sections
  README.md
Labels: REPO-CONTENT, ready to review

#570 adding the applications folder to be ignored as well
  .github/content-label.yaml
Labels: REPO-CONTENT

#571 Content: Serverless class
  classes/06class/README.md
  classes/06class/apigateway/README.md
  classes/06class/apigateway/assets/api_types.png
  classes/06class/apigateway/assets/apigateway.jpg
  classes/06class/apigateway/assets/apigw_lambda_integration.png
  classes/06class/apigateway/assets/apigw_works.png
  classes/06class/assets/basic_flow_serverless.png
  classes/06class/assets/serverless_aws_1.png
  classes/06class/assets/serverless_aws_2.png
  classes/06class/assets/serverless_lifecycle.png
  classes/06class/assets/serverless_processing_model.png
  classes/06class/dynamodb/README.md
  classes/06class/dynamodb/assets/ddb_indexes.png
  classes/06class/dynamodb/assets/ddb_streams.png
  classes/06class/dynamodb/assets/items_example.png
  classes/06class/exercises/README.md
  classes/06class/exercises/c06-create-todo/ANSWER.md
  classes/06class/exercises/c06-create-todo/README.md
  classes/06class/lambda/README.md
  classes/06class/lambda/assets/kinesis_example.jpg
  classes/06class/lambda/assets/lambda.png
Labels: REPO-CONTENT, class content, class06, ready to review

#581 christina-roperto/c05-3m01
  classes/05class/exercises/c05-3m01/christina-roperto/.env
  classes/05class/exercises/c05-3m01/christina-roperto/Dockerfile
  classes/05class/exercises/c05-3m01/christina-roperto/Makefile
  classes/05class/exercises/c05-3m01/christina-roperto/README.md
  classes/05class/exercises/c05-3m01/christina-roperto/docker-compose.yaml
  classes/05class/exercises/c05-3m01/christina-roperto/output.md
  classes/05class/exercises/c05-3m01/christina-roperto/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/christina-roperto/scripts/delete_bucket.sh
Labels: class05, ready to review

#536 starkmatt/c05 3m01
  classes/05class/exercises/c05-3m01/starkmatt/.env
  classes/05class/exercises/c05-3m01/starkmatt/Dockerfile
  classes/05class/exercises/c05-3m01/starkmatt/Makefile
  classes/05class/exercises/c05-3m01/starkmatt/README.md
  classes/05class/exercises/c05-3m01/starkmatt/docker-compose.yaml
  classes/05class/exercises/c05-3m01/starkmatt/output.md
  classes/05class/exercises/c05-3m01/starkmatt/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/starkmatt/scripts/delete_bucket.sh
Labels: class05, ready to review

#529 lgothelipe/c05-3m01
  classes/05class/exercises/c05-3m01/lgothelipe/.env
  classes/05class/exercises/c05-3m01/lgothelipe/Dockerfile
  classes/05class/exercises/c05-3m01/lgothelipe/Makefile
  classes/05class/exercises/c05-3m01/lgothelipe/README.md
  classes/05class/exercises/c05-3m01/lgothelipe/docker-compose.yaml
  classes/05class/exercises/c05-3m01/lgothelipe/output.md
  classes/05class/exercises/c05-3m01/lgothelipe/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/lgothelipe/scripts/delete_bucket.sh
Labels: class05, ready to review

#573 c05-make01
  classes/05class/exercises/c05-make01/hsy3418/Dockerfile
  classes/05class/exercises/c05-make01/hsy3418/Makefile
  classes/05class/exercises/c05-make01/hsy3418/output.md
Labels: class05, ready to review

#558 Luizfds/c05 make01
  classes/05class/exercises/c05-make01/luizfds/Dockerfile
  classes/05class/exercises/c05-make01/luizfds/Makefile
  classes/05class/exercises/c05-make01/luizfds/README.md
  classes/05class/exercises/c05-make01/luizfds/output.md
Labels: class05, ready to review

#537 starkmatt/c05 make01
  classes/05class/exercises/c05-make01/starkmatt/Dockerfile
  classes/05class/exercises/c05-make01/starkmatt/Makefile
  classes/05class/exercises/c05-make01/starkmatt/README.md
  classes/05class/exercises/c05-make01/starkmatt/output.md
Labels: class05, ready to review

#530 lgothelipe/c05-make01
  classes/05class/exercises/c05-make01/lgothelipe/Dockerfile
  classes/05class/exercises/c05-make01/lgothelipe/Makefile
  classes/05class/exercises/c05-make01/lgothelipe/README.md
  classes/05class/exercises/c05-make01/lgothelipe/output.md
Labels: class05, ready to review

#560 luizfds/C05-Compose01
  classes/05class/exercises/c05-compose01/luizfds/Dockerfile
  classes/05class/exercises/c05-compose01/luizfds/README.md
  classes/05class/exercises/c05-compose01/luizfds/docker-compose.yaml
  classes/05class/exercises/c05-compose01/luizfds/src/db_connector.php
  classes/05class/exercises/c05-compose01/luizfds/src/index.php
Labels: class05, ready to review

#528 lgothelipe/c05-compose01
  classes/05class/exercises/c05-compose01/lgothelipe/Dockerfile
  classes/05class/exercises/c05-compose01/lgothelipe/README.md
  classes/05class/exercises/c05-compose01/lgothelipe/docker-compose.yaml
  classes/05class/exercises/c05-compose01/lgothelipe/src/db_connector.php
  classes/05class/exercises/c05-compose01/lgothelipe/src/index.php
Labels: class05, ready to review

#535 starkmatt/c05 compose01
  classes/05class/exercises/c05-compose01/starkmatt/Dockerfile
  classes/05class/exercises/c05-compose01/starkmatt/README.md
  classes/05class/exercises/c05-compose01/starkmatt/docker-compose.yaml
  classes/05class/exercises/c05-compose01/starkmatt/src/db_connector.php
  classes/05class/exercises/c05-compose01/starkmatt/src/index.php
Labels: class05, ready to review

#583 Hsy3418/c05 compose01
  classes/05class/exercises/c05-compose01/hsy3418/Dockerfile
  classes/05class/exercises/c05-compose01/hsy3418/README.md
  classes/05class/exercises/c05-compose01/hsy3418/docker-compose.yaml
  classes/05class/exercises/c05-compose01/hsy3418/src/db_connector.php
  classes/05class/exercises/c05-compose01/hsy3418/src/index.php
Labels: class05, ready to review

#586 Fix ex c05 actions02 description
  classes/05class/exercises/c05-actions02/ANSWER.md
  classes/05class/exercises/c05-actions02/README.md
Labels: REPO-CONTENT, class content, class05, ready to review

#588 Remove space from filename, breaking Windows repo clones.
  classes/01class/exercises/c01-git04/hsy3418/c01-git04-1.txt
Labels: REPO-CONTENT, class content, class01, ready to review

#572 Class07/kms ssm
  classes/07class/kms/README.md
  classes/07class/kms/assets/kms-key.png
  classes/07class/ssm/README.md
Labels: REPO-CONTENT, class content, class07, ready to review

#599 Serverless exercise
  classes/06class/exercises/README.md
  classes/06class/exercises/c06-create-todo/README.md
  classes/06class/exercises/c06-serverless01/ANSWER.md
  classes/06class/exercises/c06-serverless01/README.md
  classes/06class/exercises/c06-serverless01/src/Makefile
  classes/06class/exercises/c06-serverless01/src/_provider.tf
  classes/06class/exercises/c06-serverless01/src/lambda.zip
  classes/06class/exercises/c06-serverless01/src/main.tf
  classes/06class/exercises/c06-serverless01/src/output.tf
Labels: REPO-CONTENT, class06, ready to review

#596 Update README.md
  classes/07class/README.md
Labels: REPO-CONTENT, class07, ready to review

#595 Adding script and initial card
  scripts/projects/README.md
  scripts/projects/issues/task-efs.json
  scripts/projects/project.sh
Labels: REPO-CONTENT
