Repository devopsacademyau/academy, pull requests merged in 2022-08, with the labels that each got.

#1832 mayuthombre/c01-git03
  classes/01class/exercises/c01-git03/mayuthombre/README.md
Labels: class01, ready to review

#1835 mayuthombre/c01-aws01
  classes/01class/exercises/c01-aws01/mayuthombre/README.md
Labels: class01, ready to review

#1836 mayuthombre/c01-aws02
  classes/01class/exercises/c01-aws02/mayuthombre/README.md
Labels: class01, ready to review

#1868 mayuthombre/c03-aws01
  classes/03class/exercises/c03-aws01/mayuthombre/README.md
Labels: class03, ready to review

#1837 mayuthombre/c03-docker01
  classes/03class/exercises/c03-docker01/mayuthombre/Dockerfile
  classes/03class/exercises/c03-docker01/mayuthombre/README.md
Labels: class03, ready to review

#1932 cyberjames/c05-3m01
  classes/05class/exercises/c05-3m01/cyberjames/.env
  classes/05class/exercises/c05-3m01/cyberjames/Dockerfile
  classes/05class/exercises/c05-3m01/cyberjames/Makefile
  classes/05class/exercises/c05-3m01/cyberjames/README.md
  classes/05class/exercises/c05-3m01/cyberjames/docker-compose.yaml
  classes/05class/exercises/c05-3m01/cyberjames/output.md
  classes/05class/exercises/c05-3m01/cyberjames/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/cyberjames/scripts/delete_bucket.sh
Labels: ready to review, class05
