Repository devopsacademyau/academy, pull requests merged in 2022-02, with the labels that each got.

#1546 change httpd version to 2.4.51 - 2.4.48 no longer available
  classes/03class/docker/artifacts/Dockerfile.Image1
  classes/03class/docker/artifacts/Dockerfile.Image2
  classes/03class/docker/artifacts/Dockerfile.Image3
Labels: class03, ready to review, REPO-CONTENT

#1554 beardedsamwise/c01-git03
  classes/01class/exercises/c01-git03/beardedsamwise/ANSWER.md
Labels: class01, ready to review

#1549 beardedsamwise/c01-git01
  classes/01class/exercises/c01-git01/beardedsamwise/ANSWER.md
Labels: class01, ready to review

#1576 Answer for c01-git01 excercise
  classes/01class/exercises/c01-git01/ravisenevirathne/ANSWER.md
Labels: class01, ready to review

#1558 beardedsamwise/c01-git04
  classes/01class/exercises/c01-git04/beardedsamwise/ANSWER.md
Labels: class01, ready to review

#1559 beardedsamwise/c01-git02
  classes/01class/exercises/c01-git02/beardedsamwise/ANSWER.md
Labels: class01, ready to review

#1566 beardedsamwise/c03-docker02
  classes/03class/exercises/c03-docker02/beardedsamwise/ANSWER.md
  classes/03class/exercises/c03-docker02/beardedsamwise/dockerfile.v1
  classes/03class/exercises/c03-docker02/beardedsamwise/dockerfile.v2
  classes/03class/exercises/c03-docker02/beardedsamwise/web/index.html
Labels: class03, ready to review

#1567 beardedsamwise/c03-docker03
  classes/03class/exercises/c03-docker03/beardedsamwise/ANSWER.md
Labels: class03, ready to review

#1568 beardedsamwise/c03-docker04
  classes/03class/exercises/c03-docker04/beardedsamwise/ANSWER.md
Labels: class03, ready to review

#1577 beardedsamwise/c03-docker05
  classes/03class/exercises/c03-docker05/beardedsamwise/ANSWER.md
Labels: class03, ready to review

#1583 beardedsamwise/c03-compose01
  classes/03class/exercises/c03-compose01/beardedsamwise/ANSWER.md
  classes/03class/exercises/c03-compose01/beardedsamwise/docker-compose.yaml
Labels: class03, ready to review

#1585 beardedsamwise/c03-make01
  classes/03class/exercises/c03-make01/beardedsamwise/ANSWER.md
  classes/03class/exercises/c03-make01/beardedsamwise/Dockerfile
  classes/03class/exercises/c03-make01/beardedsamwise/Makefile
Labels: class03, ready to review

#1594 Ravisenevirathne/c01-git04
  classes/01class/exercises/c01-git04/ravisenevirathne/ANSWER.md
Labels: class01, ready to review

#1593 Ravisenevirathne/c01-git03
  classes/01class/exercises/c01-git03/ravisenevirathne/ANSWER.md
Labels: class01, ready to review

#1595 ravisenevirathne/c03-docker01
  classes/03class/exercises/c03-docker01/ravisenevirathne/ANSWER.md
  classes/03class/exercises/c03-docker01/ravisenevirathne/Dockerfile
Labels: class03, ready to review

#1609 ravisenevirathne/c03-docker04
  classes/03class/exercises/c03-docker04/ravisenevirathne/ANSWER.md
Labels: class03, ready to review

#1606 ravisenevirathne/c03-docker03
  classes/03class/exercises/c03-docker03/ravisenevirathne/ANSWER.md
Labels: class03, ready to review

#1612 ravisenevirathne/c03-docker05
  classes/03class/exercises/c03-docker05/ravisenevirathne/ANSWER.md
Labels: class03, ready to review

#1620 Ravisenevirathne/c03-compose01
  classes/03class/exercises/c03-compose01/ravisenevirathne/ANSWER.md
  classes/03class/exercises/c03-compose01/ravisenevirathne/docker-compose.yaml
Labels: class03, ready to review

#1623 Ravisenevirathne/c03-make01
  classes/03class/exercises/c03-make01/ravisenevirathne/ANSWER.md
  classes/03class/exercises/c03-make01/ravisenevirathne/Dockerfile
  classes/03class/exercises/c03-make01/ravisenevirathne/Makefile
  classes/03class/exercises/c03-make01/ravisenevirathne/index.html
Labels: class03, ready to review

#1570 marshalldaniel/co1-git03
  classes/01class/exercises/c01-git03/marshalldaniel/README.md
Labels: class01, ready to review

#1569 marshalldaniel/co1-git01
  classes/01class/exercises/c01-git01/marshalldaniel/README.md
Labels: class01, ready to review

#1571 marshalldaniel/c01-git04
  classes/01class/exercises/c01-git04/marshalldaniel/README.md
Labels: class01, ready to review

#1590 marshalldaniel/c03-docker03
  classes/03class/exercises/c03-docker03/marshalldaniel/README.md
Labels: class03, ready to review

#1599 marshalldaniel/c03-docker02
  classes/03class/exercises/c03-docker02/marshalldaniel/Dockerfile.v1
  classes/03class/exercises/c03-docker02/marshalldaniel/Dockerfile.v2
  classes/03class/exercises/c03-docker02/marshalldaniel/README.md
Labels: class03, ready to review

#1600 marshalldaniel/c03-docker04
  classes/03class/exercises/c03-docker04/marshalldaniel/README.md
Labels: class03, ready to review

#1603 marshalldaniel/c03-docker05
  classes/03class/exercises/c03-docker05/marshalldaniel/README.md
Labels: class03, ready to review

#1605 marshalldaniel/c03-docker06
  classes/03class/exercises/c03-docker06/marshalldaniel/Dockerfile
  classes/03class/exercises/c03-docker06/marshalldaniel/README.md
Labels: class03, ready to review

#1615 marshalldaniel/c03-compose01
  classes/03class/exercises/c03-compose01/marshalldaniel/README.md
  classes/03class/exercises/c03-compose01/marshalldaniel/docker-compose.yaml
Labels: class03, ready to review

#1624 marshalldaniel/c03-make01
  classes/03class/exercises/c03-make01/marshalldaniel/Dockerfile
  classes/03class/exercises/c03-make01/marshalldaniel/Makefile
  classes/03class/exercises/c03-make01/marshalldaniel/README.md
Labels: class03, ready to review

#1616 marshalldaniel/c03-docker01
  classes/03class/exercises/c03-docker01/marshalldaniel/Dockerfile
  classes/03class/exercises/c03-docker01/marshalldaniel/README.md
Labels: class03, ready to review

#1598 beardedsamwise/c04-iac01
  classes/04class/exercises/c04-iac01/beardedsamwise/ANSWER.md
  classes/04class/exercises/c04-iac01/beardedsamwise/_backend.tf
  classes/04class/exercises/c04-iac01/beardedsamwise/_provider.tf
  classes/04class/exercises/c04-iac01/beardedsamwise/ec2.tf
  classes/04class/exercises/c04-iac01/beardedsamwise/iam.tf
  classes/04class/exercises/c04-iac01/beardedsamwise/output.txt
  classes/04class/exercises/c04-iac01/beardedsamwise/s3.tf
  classes/04class/exercises/c04-iac01/beardedsamwise/security-group.tf
Labels: class04, ready to review

#1608 beardedsamwise/c04-iac02
  classes/04class/exercises/c04-iac02/beardedsamwise/ANSWER.md
  classes/04class/exercises/c04-iac02/beardedsamwise/_backend.tf
  classes/04class/exercises/c04-iac02/beardedsamwise/_provider.tf
  classes/04class/exercises/c04-iac02/beardedsamwise/main.tfvars
  classes/04class/exercises/c04-iac02/beardedsamwise/output.tf
  classes/04class/exercises/c04-iac02/beardedsamwise/output.txt
  classes/04class/exercises/c04-iac02/beardedsamwise/variables.tf
  classes/04class/exercises/c04-iac02/beardedsamwise/vpc.tf
Labels: class04, ready to review

#1553 adding c01-git01 answers
  classes/01class/exercises/c01-git01/jaysues/git01-answer.md
Labels: class01, ready to review

#1555 Adding answers for c01-git02
  classes/01class/exercises/c01-git02/jaysues/git02-answer.md
Labels: class01, ready to review

#1556 Added answers for c01-git03
  classes/01class/exercises/c01-git03/jaysues/git03-answer.md
Labels: class01, ready to review

#1557 Adding answers for c01-git04
  classes/01class/exercises/c01-git04/jaysues/git04-answer.md
Labels: class01, ready to review

#1561 Adding answers for c03-docker01
  classes/03class/exercises/c03-docker01/jaysues/ANSWER.md
  classes/03class/exercises/c03-docker01/jaysues/Dockerfile
Labels: class03, ready to review

#1597 Added answers for c03-docker03
  classes/03class/exercises/c03-docker03/jaysues/ANSWER.md
Labels: class03, ready to review

#1591 Adding answers for c03-docker02
  classes/03class/exercises/c03-docker02/jaysues/ANSWER.md
  classes/03class/exercises/c03-docker02/jaysues/Dockerfile.v1
  classes/03class/exercises/c03-docker02/jaysues/Dockerfile.v2
Labels: class03, ready to review

#1584 Added answers for c03-compose01
  classes/03class/exercises/c03-compose01/jaysues/ANSWER.md
  classes/03class/exercises/c03-compose01/jaysues/docker-compose.yaml
Labels: class03, ready to review

#1607 Added all components for c03-iac01
  classes/04class/exercises/c04-iac01/jaysues/.gitignore
  classes/04class/exercises/c04-iac01/jaysues/ANSWER.md
  classes/04class/exercises/c04-iac01/jaysues/_backend.tf
  classes/04class/exercises/c04-iac01/jaysues/_provider.tf
  classes/04class/exercises/c04-iac01/jaysues/ec2.tf
  classes/04class/exercises/c04-iac01/jaysues/iam.tf
  classes/04class/exercises/c04-iac01/jaysues/output.txt
  classes/04class/exercises/c04-iac01/jaysues/s3.tf
  classes/04class/exercises/c04-iac01/jaysues/security-group.tf
Labels: class04, ready to review

#1621 Jaysues/c05 3m01
  classes/05class/exercises/c05-3m01/jaysues/.env
  classes/05class/exercises/c05-3m01/jaysues/ANSWER.md
  classes/05class/exercises/c05-3m01/jaysues/Dockerfile
  classes/05class/exercises/c05-3m01/jaysues/Makefile
  classes/05class/exercises/c05-3m01/jaysues/docker-compose.yaml
  classes/05class/exercises/c05-3m01/jaysues/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/jaysues/scripts/delete_bucket.sh
Labels: ready to review, class05

#1625 Adding answers for c05-actions01
  classes/05class/exercises/c05-actions01/jaysues/ANSWER.md
  classes/05class/exercises/c05-actions01/jaysues/greetings.yaml
Labels: ready to review, class05

#1610 beardedsamwise/c04-iac03
  classes/04class/exercises/c04-iac03/beardedsamwise/ANSWER.md
  classes/04class/exercises/c04-iac03/beardedsamwise/_backend.tf
  classes/04class/exercises/c04-iac03/beardedsamwise/_provider.tf
  classes/04class/exercises/c04-iac03/beardedsamwise/main.tfvars
  classes/04class/exercises/c04-iac03/beardedsamwise/variables.tf
  classes/04class/exercises/c04-iac03/beardedsamwise/vpc.tf
Labels: class04, ready to review

#1669 ravisenevirathne/c05-actions01
  classes/05class/exercises/c05-actions01/ravisenevirathne/ANSWER.md
Labels: ready to review, class05

#1658 Ravisenevirathne/c05-3m01
  classes/05class/exercises/c05-3m01/ravisenevirathne/.env
  classes/05class/exercises/c05-3m01/ravisenevirathne/ANSWER.md
  classes/05class/exercises/c05-3m01/ravisenevirathne/Dockerfile
  classes/05class/exercises/c05-3m01/ravisenevirathne/Makefile
  classes/05class/exercises/c05-3m01/ravisenevirathne/docker-compose.yaml
  classes/05class/exercises/c05-3m01/ravisenevirathne/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/ravisenevirathne/scripts/delete_bucket.sh
Labels: ready to review, class05

#1647 ravisenevirathne/c04-iac02
  classes/04class/exercises/c04-iac02/ravisenevirathne/README.md
  classes/04class/exercises/c04-iac02/ravisenevirathne/_backend.tf
  classes/04class/exercises/c04-iac02/ravisenevirathne/_provider.tf
  classes/04class/exercises/c04-iac02/ravisenevirathne/main.tfvars
  classes/04class/exercises/c04-iac02/ravisenevirathne/output.tf
  classes/04class/exercises/c04-iac02/ravisenevirathne/output.txt
  classes/04class/exercises/c04-iac02/ravisenevirathne/variables.tf
  classes/04class/exercises/c04-iac02/ravisenevirathne/vpc.tf
Labels: class04, ready to review

#1648 Ravisenevirathne/c04 iac03
  classes/04class/exercises/c04-iac03/ravisenevirathne/README.md
Labels: class04, ready to review

#1686 ravisenevirathne/c01-aws01
  classes/01class/exercises/c01-aws01/ravisenevirathne/README.md
Labels: class01, ready to review

#1646 ravisenevirathne/c04-iac01
  classes/04class/exercises/c04-iac01/ravisenevirathne/.gitignore
  classes/04class/exercises/c04-iac01/ravisenevirathne/README.md
  classes/04class/exercises/c04-iac01/ravisenevirathne/_backend.tf
  classes/04class/exercises/c04-iac01/ravisenevirathne/_provider.tf
  classes/04class/exercises/c04-iac01/ravisenevirathne/ec2.tf
  classes/04class/exercises/c04-iac01/ravisenevirathne/iam.tf
  classes/04class/exercises/c04-iac01/ravisenevirathne/output.txt
  classes/04class/exercises/c04-iac01/ravisenevirathne/s3.tf
  classes/04class/exercises/c04-iac01/ravisenevirathne/security-group.tf
Labels: class04, ready to review

#1703 Dash
  .github/workflows/dashboard.yaml
  scripts/dashboard/publish.sh
  scripts/dashboard/students.txt
Labels: REPO-CONTENT, Admin

#1630 beardedsamwise/c04-iac04
  classes/04class/exercises/c04-iac04/beardedsamwise/ANSWER.md
  classes/04class/exercises/c04-iac04/beardedsamwise/output.txt
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-apply.txt
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/_backend.tf
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/_provider.tf
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/iac-04-module/alb.tf
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/iac-04-module/ec2.tf
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/iac-04-module/install_apache.sh
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/iac-04-module/sg.tf
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/iac-04-module/variables.tf
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/iac-04-module/vpc.tf
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/main.tf
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/main.tfvars
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/meta.tf
  classes/04class/exercises/c04-iac04/beardedsamwise/terraform-code/variables.tf
Labels: class04, ready to review

#1632 beardedsamwise/c05-3m01
  classes/05class/exercises/c05-3m01/beardedsamwise/.env
  classes/05class/exercises/c05-3m01/beardedsamwise/ANSWER.md
  classes/05class/exercises/c05-3m01/beardedsamwise/Dockerfile
  classes/05class/exercises/c05-3m01/beardedsamwise/Makefile
  classes/05class/exercises/c05-3m01/beardedsamwise/docker-compose.yaml
  classes/05class/exercises/c05-3m01/beardedsamwise/outputs.md
  classes/05class/exercises/c05-3m01/beardedsamwise/scripts/create_bucket.sh
  classes/05class/exercises/c05-3m01/beardedsamwise/scripts/delete_bucket.sh
  classes/05class/exercises/c05-3m01/beardedsamwise/scripts/list_bucket.sh
Labels: ready to review, class05

#1635 beardedsamwise/c05-actions01
  classes/05class/exercises/c05-actions01/beardedsamwise/ANSWER.md
Labels: ready to review, class05

#1645 beardedsamwise/c05-actions02
  classes/05class/exercises/c05-actions02/beardedsamwise/ANSWER.md
Labels: ready to review, class05

#1656 beardedsamwise/c01-aws01
  classes/01class/exercises/c01-aws01/beardedsamwise/ANSWERS.md
Labels: class01, ready to review

#1657 beardedsamwise/c01-aws02
  classes/01class/exercises/c01-aws02/beardedsamwise/ANSWER.md
  classes/01class/exercises/c01-aws02/beardedsamwise/s3readonly.json
Labels: class01, ready to review

#1659 beardedsamwise/c02-network01
  classes/02class/exercises/c02-network01/beardedsamwise/ANSWER.md
Labels: class02, ready to review

#1660 beardedsamwise/c02-network02
  classes/02class/exercises/c02-network02/beardedsamwise/ANSWER.md
Labels: class02, ready to review

#1602 Jaysues/c03 make01
  classes/03class/exercises/c03-make01/jaysues/ANSWER.md
  classes/03class/exercises/c03-make01/jaysues/Dockerfile
  classes/03class/exercises/c03-make01/jaysues/Makefile
  classes/03class/exercises/c03-make01/jaysues/index.html
Labels: class03, ready to review

#1636 Jaysues/c04 iac02
  classes/04class/exercises/c04-iac02/jaysues/.gitignore
  classes/04class/exercises/c04-iac02/jaysues/README.md
  classes/04class/exercises/c04-iac02/jaysues/_backend.tf
  classes/04class/exercises/c04-iac02/jaysues/_provider.tf
  classes/04class/exercises/c04-iac02/jaysues/output.txt
  classes/04class/exercises/c04-iac02/jaysues/variables.tf
  classes/04class/exercises/c04-iac02/jaysues/vpc.tf
Labels: class04, ready to review

#1637 Jaysues/c04 iac03
  classes/04class/exercises/c04-iac03/jaysues/ANSWER.md
Labels: class04, ready to review

#1644 Added answers for c01-aws02
  classes/01class/exercises/c01-aws02/jaysues/ANSWER.md
  classes/01class/exercises/c01-aws02/jaysues/ec2-trust-policy.json
Labels: class01, ready to review

#1643 Added answers for c01-aws01
  classes/01class/exercises/c01-aws01/jaysues/README.md
Labels: class01, ready to review
